[2018-05-30 21:14] mor10 opened #1 "Rethink drop-down menu, particularly chevrons"
## Issue Overview
Drop-down menu doesn't work quire right. Chevron shows up where it shouldn't, has minimal functionality. Could use better CSS and possibly retire the whole JS solution.

[2018-06-05 22:05] mor10 opened #2 "Editor styles need to be resolved"
Gutenberg handles editor styles in an unusual way. The current styles do some of the work, but a full review is necessary to get proper match between back- and front-end.

[2018-06-07 21:49] mor10 opened #3 "Is this method for testing AMP plugin activation still accurate"
https://github.com/wprig/wprig/blob/a2374230c592c265451810e5ca16526ab70d40a9/dev/inc/template-tags.php#L10-L20

I have a feeling the answer is 'no'. Can someone verify / change?

@westonruter
@amedina

[2018-06-07 21:59] mor10 commented on #1
My idea:

Use `focus-in` for mouse and keyboard nav (as is the case now) and use the chevrons _only_ for touch-interactions. Possibly apply the `screen-reader-text` class to the chevron buttons so they are skipped over by keyboard users since they don't do anything.

Doing this would eliminate the need for most of the JS and leave us with a very simple function. No need for the string passing and

[2018-06-09 00:43] westonruter commented on #3
The answer is yes! That is still the correct way. The plugin is being updated in 1.0 to make this more reliable in fact.

[2018-06-11 22:58] mor10 commented on #1
closed via pull request above. good work @bamadesigner

[2018-06-11 22:58] #1 closed

[2018-06-11 22:58] #3 closed

[2018-06-14 22:08] miklb opened #6 "Enhancement: Support HTTPS"
## Issue Overview

Currently Browser sync only supports http
## Describe your environment

local dev environment running nginx via hombrew in macOS. Using a local SSL cert (not self-signed)
## Steps to Reproduce

## Possible Solution

[code]
where `keyPath` and `certPath` are user variables for the respective paths. `projectURL` I believe is same as current `proxyURL` in the config.

I'd guess a s

[2018-06-14 23:40] miklb commented on #6
Not quite that simple. Something in the watch function is failing, but the error message is unhelpful at this point. Will continue digging.

[2018-06-15 00:09] miklb commented on #6
As long as I don't pass the port with `https` I have it working.

[2018-06-15 05:53] miklb opened #10 "Extend cssVariables to include all colors"
## Issue Overview

Currently, the only color variable is `global-font-color` Was there a decision to not extend that to the rest of the colors used or is that open to a PR?

[2018-06-16 16:28] hellofromtonya opened #12 "Content width is not using $GLOBALS['content_width'] when set."
## Issue Overview
[In the function `wprig_content_width()`](https://github.com/wprig/wprig/blob/master/dev/functions.php#L175), code exists to assign the content's width from the global.  However, on the next line, the width is overwritten with a integer literal of 720:

[code]

## Expected Behavior
I would expect that we want this to be an either or assignment. Correct?  Either the global or the

[2018-06-16 17:11] hellofromtonya opened #14 "Suggestion: Ignore composer.lock and package-lock.json files."
## Issue Overview

The problem:
The `composer.lock` and `package-lock.json` files are _updated_ based upon the local environment's stack.

Why?
Each contributor will have a different tech stack with different versions of composer, PHP, node, and npm.

When a contributor is using a different version of node, npm, or PHP, the dependency versions are updated.  Therefore, when the contributor commits

[2018-06-17 00:04] dmccan opened #17 "Recent changes to style.css made the theme out of sync with the tutorial video"
Great job here and with the video series.
## Issue Overview

The tutorial video gives an example of editing the CSS by making some changes to the menu. However, there were changes to the menu CSS a few days ago: "Optimizing main menu to be accessible". Now the github version and the tutorial example are out of sync.

## Possible Solution

There may not be anything that could be done about this, bu

[2018-06-17 18:34] felixarntz opened #18 "Handle replacement of theme name separately from the slug"
## Issue Overview
By default, the current codebase uses `wprig` as both the theme slug and the theme name. This is however an unlikely scenario for most themes (consider `twentyseventeen` vs `Twenty Seventeen` for example), so these two should be handled separately when making replacements.

## Steps to Reproduce
1. Set the theme name to a proper theme name, such as a string containing spaces and

[2018-06-17 19:01] felixarntz opened #22 "Add integration tests for functionality"
## Issue Overview
While themes generally should not contain too much functionality (plugin territory), they always _do_ contain some functionality (and they have to), for example to define the theme behavior, to register sidebars, customizer integration etc.

Just like plugins, this functionality should be tested. As a first step, I suggest adding an infrastructure for integration tests, which wor

[2018-06-19 08:11] dingo-d opened #23 "Coding standards check - don't use WordPress"
## Issue Overview
Hi!

I saw that you are using 4 rulesets in the `phpcs.xml.dist`

https://github.com/wprig/wprig/blob/acae4c38c1c121ba5f81a3ae4a73208186d4dfb2/phpcs.xml.dist#L36-L39

Loading the `WordPress` coding standard will load `WordPress-VIP, Core, Docs and Extra` and that is not necessary for the themes on wordpress.org.

## Possible Solution
We are currently working on [`WordPress-Theme`

[2018-06-19 08:12] dingo-d commented on #22
Or just add/setup tests using [codeception](https://codeception.com/for/wordpress)?

[2018-06-19 08:21] dingo-d commented on #14
Isn't the best practice to keep the lock files in the repositories to ensure every developer has the same dependencies regardless of the local setup?

[2018-06-19 09:46] solarianian commented on #17
I followed the video instructions last week, ended up with no menu items displayed. No menu elements (no <ul>, no <li>, no <a>) contained in html <navigation></navigation>.
I'll try again soon, from scratch.

[2018-06-19 13:44] hellofromtonya commented on #14
I've not known it to be the best practice.  The intent of the lock files is to ensure every developer has the dependencies.  However, in practice, it doesn't stack up as the files do change.

Let's take a look at few very popular repos around GitHub to see if they include the lock files.

- [React](https://github.com/facebook/react) - the `package-lock.json` is not included in the repo
- [Jest](ht

[2018-06-19 16:55] spencerfinnell commented on #14
From https://github.com/npm/npm/blob/latest/doc/files/package-lock.json.md

[2018-06-19 21:17] felixarntz commented on #22
I think as a first iteration it is already a great step to use the core test suite to test the theme. We can then consider further testing implementations later, I'd suggest. Using the core test suite is also less problematic in terms of finding a framework to use - as that one is certainly maintained.

[2018-06-19 23:07] mor10 opened #24 "Upgrade to replace cssnext with postcss-preset-env"
## Issue Overview

cssnext has been deprecated for `postcss-preset-env` ([see official post](https://moox.io/blog/deprecating-cssnext/)). cssnext should be replaced with [`postcss-preset-env`](https://preset-env.cssdb.org/features).

Update must account for current variables behavior.

[2018-06-19 23:08] mor10 commented on #17
I'll get this sorted. Thanks for reporting.

[2018-06-19 23:10] mor10 commented on #23
@dingo-d Can you create a PR for this?

[2018-06-20 00:08] mor10 commented on #12
$cpmtent_width is a royal pain. has been for a long time.

This is how it's currently handled at _s where they've been debating it for years:
https://github.com/Automattic/_s/blob/master/functions.php#L86-L99

On top of that comes Gutenberg which renders this feature more or less obsolete / requires it to change completely. Two relevant tickets:
https://github.com/WordPress/gutenberg/issues/5650
h

[2018-06-20 00:09] mor10 commented on #10
The current variables were provided as a baseline example more than anything. I'm not opposed to a PR that creates more variables for other colors.

[2018-06-20 00:16] mor10 commented on #17
I found a couple of minor CSS errors which had snuck in during our rushed work to get WP Rig shipped with a fully accessible menu before WCEU. They are now resolved and the master branch provides the correct code again. Pull down the fresh version of style.css and you should see the demo from the course work as expected. Let me know if it works.

[2018-06-20 00:37] hellofromtonya commented on #12
Definitely could happen.

Right now, the code doesn't work as it is. Why? The global isn't being used at all.  It'll just be a point of confusion for those who build off of this theme.

That means we have a couple of choices:

1. Get it to work as it's designed, meaning if it's set, use it; else, use the default.
2. Make it like _s for commonality.
3. Or get rid of the global all together.

Thinki

[2018-06-20 00:40] hellofromtonya commented on #12
Done.  [You can view it here in PR #13](https://github.com/wprig/wprig/pull/13/commits/b3466d146e8e053ac2613cfca5b619eb92291f94#diff-8ab8775c3cc79aadce48cad633a7fde3R175).

[2018-06-20 07:11] dingo-d commented on #22
I'd love to see that included. Because most of the topics online are only about unit testing in WordPress, and there is not that much talk or information about how to properly run integration tests for themes or plugins. +1 from me :)

[2018-06-20 22:45] mor10 commented on #14
For the time being I would like to keep the .lock files in place to enforce some level of control. This is consistent with how most projects I've interacted with does things, and as @spencerfinnell pointed out, it is considered best-practice.

I'm closing this issue and the associated PR for now. Let's revisit when WP Rig has made the rounds and we start getting some feedback from the community.

[2018-06-20 22:45] #14 closed

[2018-06-20 22:52] mor10 commented on #22
Looping @hellofromtonya into this issue so we can coordinate efforts. #16 looks to address the issue and we have to make sure we take one unified approach to this.

[2018-06-20 22:56] #18 closed

[2018-06-20 23:00] #17 closed

[2018-06-20 23:06] mor10 commented on #12
The jetlag fog has lifted a bit and this makes sense. Unless @bamadesigner has any objections I'm recommending merge.

[2018-06-20 23:17] hellofromtonya commented on #22
I'm a huge advocate of both unit (in isolation without WP running) and integration (with WP and any other plugins running) tests.

+1 from me

[2018-06-20 23:50] #24 closed

[2018-06-21 00:53] greatislander commented on #22
I recently used [`wp scaffold theme-tests`](https://developer.wordpress.org/cli/commands/scaffold/theme-tests/) to set up unit tests in Travis CI for some theme-specific utility functions and found the process quite straightforward. Whatever process is decided upon I’d be happy to help contribute some tests.

[2018-06-21 01:46] bamadesigner commented on #12
I have it on my list to check out tomorrow. 👍🏻

[2018-06-21 02:08] bamadesigner commented on #14
Here’s the Composer website talking about how you should commit your lock file: https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control

[2018-06-21 21:59] bamadesigner commented on #12
So, in core, the only place this global is used is in setting the embed width in `wp_embed_defaults()`.

So the more standard approach to solving this problem is simply to filter the 'embed_defaults' filter that's inside that function and set the width inside that filter, e.g.:

[code]

Really, then we don't need the "wprig_content_width" filter because people can also use the 'embed_defaults' fil

[2018-06-21 23:31] mor10 commented on #12
That makes a lot of sense @bamadesigner. It may also help us work around the inevitable Gutenberg mess which is coming down the track. What say you @hellofromtonya? Can you update your PR to do this new thing?

[2018-06-22 02:43] hellofromtonya commented on #12
Excellent point, @bamadesigner! You are correct that we don't need a separate filter for the width and nor do we need to directly interact with the global either.

I'll update the PR.

[2018-06-22 02:47] hellofromtonya commented on #12
The only enhancement I'd offer is to type hint the incoming `$dimensions` parameter.

[2018-06-23 19:39] #12 closed

[2018-06-24 13:32] tiborp opened #26 "Error on npm run build"
Hi,

I would love to chechout/use this theme. I managed to update to Gulp 4 and did a succesfull `npm install` but am getting an error when trying to run `npm run build`

[code]
Can't really figure out what's happening that causes this error, so hoping for suggestions :-)

Thanks in advance!

Cheers , Tibor

[2018-06-25 17:15] ygagnon commented on #26
I'm having the exact same issue.  Have you had any success in resolving this yet?  If so, how?

[2018-06-25 17:37] ygagnon commented on #26
I succeeded at getting it to build without errors.  In order to do so, I had to do a few things:

1) I updated NPM to the latest version
2) I double checked my VS Code settings and fixed one of the lines pertaining to "composerJsonPath" (I'd forgotten to include the "composer.json" filename).
3) I re-ran "npm install"
4) I re-ran "npm run build"

{
	"phpcs.enable": true,
	"phpcs.composerJsonPath":

[2018-06-25 18:18] ygagnon opened #29 "Fatal Error when activating wprig theme"
## Issue Overview

I've got a local development environment set up on a Windows 10 PC using WampServer and VSCode, and when I log in to my WordPress admin and attempt to activate the wprig theme (which I've named "wp") .. I'm getting the following fatal error:

**Fatal error: Cannot redeclare wp_scripts() (previously declared in C:\wamp64\www\wp\wp-includes\functions.wp-scripts.php:21) in C:\wamp6

[2018-06-25 19:40] carolinan commented on #29
Try using a different theme name, since wp_ is already used as a prefix.

[2018-06-25 19:48] hellofromtonya commented on #29
That error is telling you that you are attempting to redeclare the function `wp_scripts`.  That function exists in WordPress Core.

You have your theme named as `wp` in the themes folder. I'm guessing that you are also using the prefix of `wp_`.  As @carolinan pointed out, you need to change your prefix to be something other than `wp_`.

Notice that with WP Rig theme, it's prefixed as `wprig_`.

[2018-06-25 20:00] ygagnon commented on #29
I tried changing my theme folder name from "wp" to "yvan" .. then updated the theme name in my "themeConfig.js" file .. and then re-ran "npm install" and "npm run build" .. but I still get the same fatal error when I attempt to activate the theme:

Fatal error: Cannot redeclare wp_scripts() (previously declared in C:\wamp64\www\wp\wp-includes\functions.wp-scripts.php:21) in C:\wamp64\www\wp\wp-con

[2018-06-25 20:20] hellofromtonya commented on #29
## A Little Background on the Error:

Look at the error.  It's telling you that you have a function called `wp_scripts()` on line 292 in your functions.php file.  That function exists in WordPress Core.  You need to rename the function to something else.

**Best practice is not to prefix using `wp_`. **

## How to fix?

You've already run `npm run build` previously when your theme slug was `wp`.

[2018-06-25 20:23] hellofromtonya commented on #29
I'll create a new issue to deal with re-running `npm run build` and rebuilding the PHP files.

[2018-06-25 20:28] ygagnon commented on #29
Deleting all of the generated PHP files and re-running "spm run build" allowed me to activate the wprig theme without errors .. but now the front end of the site is throwing errors .. almost as though there are some other non-PHP files that I also need to delete:

**Fatal error: Uncaught Error: Call to undefined function yvan_is_amp() in C:\wamp64\www\wp\wp-content\themes\yvan\header.php:20 Stack

[2018-06-25 20:43] ygagnon commented on #29
I'm going to try deleting all files and re-installing the github package.  I'll report back afterwards.

- Yvan

[2018-06-25 20:44] hellofromtonya commented on #29
@ygagnon Good idea.  Delete the folder. Clone it again.  Start over.  Let's see if the problem goes away.

[2018-06-25 20:51] ygagnon commented on #29
Re-installing worked. I'm now up and running without errors.  Thanks for your help!
-- Yvan

[2018-06-25 21:06] hellofromtonya opened #30 "Re-running npm run build does not rebuild the PHP files"
## Issue Overview

After you've run `npm run build`, running it again after changing the [slug in `themeConfig.js`](https://github.com/wprig/wprig/blob/master/dev/config/themeConfig.js#L5) does not rebuild the PHP files.

Why is this a problem?

Imagine that a developer makes a typo in the slug or wants to change its name.  The _assumption_ is the theme is regenerated.  But that's not completely t

[2018-06-25 21:10] hellofromtonya commented on #29
Yippee!!  Thanks for your patience, @ygagnon. You can go ahead and close this issue since it's resolved for you.

BTW I did open a new issue for discussing the ability to regenerate/rebuild PHP files after running the build.

[2018-06-25 21:12] #29 closed

[2018-06-25 22:32] mor10 commented on #26
This looks to be an issue with Node/NPM versions. try updating Node and NPM and see if that helps. The composer.json part @ygagnon is referring to would not impact the build process, only whether or not PHPCS is active in the editor itself.

[2018-06-25 22:37] mor10 commented on #30
I can be solved the same way changes to the CSS variables file is handled: a watch task that triggers the PHP task any time `themeConfig.js` is updated. Even better, if we are able to pass a value to the PHP task, we can bypass the `newer` test and force a rebuild of every PHP file.

[2018-06-25 22:43] mor10 commented on #30
@hellofromtonya Just to this part:

"Deleting all of the generated PHP files and then re-generate solves the root problem. BUT it creates a new one when a developer has customized a file or multiple files. That's not an ideal solution.

The other way is add an alternative workflow in gulp to use the existing files and then do the renaming process. That would need some validation work to it."

As l

[2018-06-25 22:47] hellofromtonya commented on #30
@mor10 That makes sense.  I had to re-read the README to pick up on:

Doh. That workflow makes sense too.

[2018-06-25 22:49] mor10 commented on #30
same reason why you prefix all  your functions with "wprig" even when  you make new ones. The build process renames them for  you as it runs.

[2018-06-25 23:00] hellofromtonya commented on #30
Or... will rename them for you as it runs...once this issue is fixed.

[2018-06-26 01:37] gnujach commented on #26
Thank, update version of node and npm work for me!!

[2018-06-26 09:02] tiborp commented on #26
I also manged to fix it by updating node & npm. Somehow in my package.json, gulp 3.9 was added as a dev dependency, so I had to change that to 4.0 before the run build command could be executed, but changing that to 4.0 did the trick.

Thanks for your help!

[2018-06-26 18:45] solarianian opened #32 "Slick Slide Integration"
## Issue Overview

Slick Slide is one of the most used carousel/slideshow outhere.
Which is the the best way to integrate it in WP Rig?

## Expected Behavior

Slick Slide should be loaded only where is used.

First, I tried to include slick.min.js, only for certain page template:
`if ( is_page_template( 'page-with-slick.php' ) ) {
	wp_enqueue_script( 'wprig-slick-slide-script-min', get_theme_file_

[2018-06-26 19:49] mor10 commented on #32
`is_page_template()` should work fine. There's nothing in WP Rig blocking core functions.

I'm working on a tutorial around adding a slideshow to WP Rig.

[2018-06-26 19:50] Tabrisrp opened #33 "Improve logic in wprig_scripts()"
## Issue Overview
In `wprig_scripts()`, a conditional check for the return of `wprig_is_amp()` is done, and loads the scripts only if AMP is not active.

## Possible Solution
The logic would be better by inverting the conditional check, returning early if AMP is active, and then doing all the enqueuing.

## Related Issues and/or PRs

[2018-06-26 22:25] ataylorme opened #35 "Potential gulp improvements"
## Issue Overview

I have some personal gulp preferences from things I learned implementing gulp 4 in other projects. I am not sure if these are welcome improvements to WP Rig or not.

Please let me know if you would consider some, or all, of these changes. If so I am happy to submit a pull request but don't want to spent time doing without validation of the improvement ideas.

## Improvement list

[2018-06-27 10:23] solarianian commented on #32
Hello!
is_page_template is working only if I call the template file from /verbose folder, like:
`if ( is_page_template('verbose/page-with-slick.php')) {
		//slick css
		wp_register_style( 'wprig-slick', get_theme_file_uri( '/css/slick.css' ), array(), '20180626' );
		wp_register_style( 'wprig-slick-theme', get_theme_file_uri( '/css/slick-theme.css' ), array(), '20180626' );
	}`

Should I reinstall

[2018-06-27 10:48] lumpysimon opened #36 "SVG sprite generation"
I've added a task to the gulpfile to watch for SVG images in mytheme/dev/sprite and create a single SVG sprite from them in mytheme/sprite. The sprite contains symbols with IDs generated from the SVG filenames.

Is this something you would be interested in adding to wprig, or is it outside the scope?

It uses svgmin, svgstore and path:

[code]

I'm happy to submit a pull request, but I'm new to Gu

[2018-06-27 14:55] hellofromtonya commented on #35
Excellent points, @ataylorme.  +1 from me to move forward.

Note:  We are working on resolve #30 in PR #31.  Once merged, it'll need to be included in the new approach.

[2018-06-27 15:04] ataylorme commented on #35
Thanks for the +1 @hellofromtonya. I'll wait for #31 rather than start work and have to refactor it in.

[2018-06-27 23:13] pejantantangguh opened #37 "[Questions/Suggestions] WooCommerce compatibility..?"
## Issue Overview

Hi,
Apologize if i post it on the wrong sections. Do you plan on adding Woo Compability on this Build?

Thank you.

[2018-06-29 07:34] mrky007 opened #40 "Creation of new WP templates"
Hi, this rig is perfect for theme development. Also a BIG thanks for the tutorials on LinkedIn Learning. There is one thing I need to ask you though. Is there a plan for a tutorial on hoe to create new WP templates (like WooCommerce pages etc...)?

I know I can add these easily, but I don't want to loose all the WP Rig goodies in the process of creating these.

Thanks.

[2018-06-29 18:17] mor10 commented on #33
Merged. Closing.

[2018-06-29 18:17] #33 closed

[2018-06-29 18:17] mor10 commented on #30
Merged. Closing.

[2018-06-29 18:17] #30 closed

[2018-06-29 18:21] mor10 commented on #35
#31 has been merged. I've added this to the v1.1 milestone as I have a feeling it'll introduce a bunch of new thinking which may result in breaking changes. v1.1 branch (off Development) is now active and ready for contributions. Please create a PR and let's get this going!

[2018-06-29 18:23] mor10 commented on #36
This is somewhat related to #35. Let's see if we can add it in when we look at rewiring the Gulp process.

[2018-06-29 19:03] lumpysimon commented on #36
Ah yes, this is exactly the sort of thing that a more modular approach to the gulpfile would benefit. I'll keep an eye on #35 and have a go at a pull request for this once I see how the code for that ticket is looking.

[2018-06-30 10:31] solarianian opened #42 "Faster Browser reload?"
## Issue Overview
After any change, browser reloads itself in 5 to 10 seconds

## Describe your environment

Win 10; I5 CPU; 16Gb
WAMPSERVER 3.1.3 64bit; (PHP 7.2.4; MySQL 5.7.21) Visual Studio Code 1.24.1 (fresh install, no extensions)
## Steps to Reproduce

1. dev/style.css
2. search for .site-header
3. add background: orange
4. CTRL+S
5. Chrome windows reloads in 5 to 6 sec

## Expected Behavio

[2018-07-01 23:23] felixarntz opened #43 "Use a theme slug that is more than one word"
## Issue Overview

We need to consider whether the theme `slug` in `themeConfig.js` will always be the only parameter that needs to be covered when making initial naming replacements. The slug at the moment is only a single word, however what happens if the the slug would be something consisting of two words? If I want to have `my-theme`, this would only work as a textdomain replacement, but no lo

[2018-07-02 23:26] ai opened #44 "Add Stylelint"
## Issue Overview

Feature request to add Stylelint, CSS linter.

Thanks for the project. It is awesome, that you promote ESLint for JS code quality control. Maybe we should do the same for CSS?

Stylelint right now is the most powerful and the most popular CSS linter.
https://stylelint.io/

There is even Stylelint config from WordPress team
https://github.com/WordPress-Coding-Standards/stylelint-

[2018-07-03 03:19] mor10 commented on #44
I need to test this out. Right now, PHPCS is running CSSLint on all CSS files.

[2018-07-03 03:21] ai commented on #44
@mor10 cool! It is awesome that CSS code right now is protected.

BTW, even CSS Lint author think that Stylelint is better ;)
https://twitter.com/slicknet/status/1012002688622399488

[2018-07-03 03:31] ai commented on #44
@mor10 Stylelint needs a config (the same was as in ESLint, there is no default config, you must select rule manually or to use some community shared config). So it will be better to decide what rules are important for you.

But I will send you a PR with a code to use Stylelint in Gulp:

[2018-07-03 03:42] ai commented on #44
Here is PR with initial support: https://github.com/wprig/wprig/pull/45

What could be added:

- [ ] Mention Stylelint in the docs.
- [ ] Add `stylelint-config-recommended-scss` and lint Sass files in `sass` Gulp task. But in this case, we need to separate origin CSS files and compiled from Sass CSS files (to not lint Sass files twice).
- [ ] Stylelint could automatically fix some of the problems.

[2018-07-03 14:56] solarianian commented on #42
The thing is that I although I really want to adopt wprig as my main rig, right now it works faster for small websites developing using with _s & prepros & sublime 3.

I'll try again soon to test wprig.

thank you!

[2018-07-05 15:37] mor10 commented on #42
I've done some scale testing on this to see what can be done. The slowdown you are experiencing has to do with how WP Rig processes .css and other files. tl;dr: It does a lot more than prepos which takes more time. The call to BrowserSync happens as soon as possible within the context of the process in WP Rig, so adding streaming doesn't make any difference (I've tested). In future versions we'll

[2018-07-05 15:48] mor10 opened #46 "Only run styles process on changed files"
## Issue Overview

When the `styles` process runs, it runs through all CSS files every time. This adds unnecessary lag in the system.

## Possible Solution

Use `newer` in combination with some logic to run the `styles` process on changed files only. Probably something similar to the logic around the `php` task created by @hellofromtonya.

### Caveats:
Some conditions need to be accounted for:
- F

[2018-07-05 15:49] mor10 commented on #46
You want to take a crack at this @hellofromtonya?

[2018-07-05 15:59] hellofromtonya commented on #46
@mor10 I'm on it.

[2018-07-05 18:42] ataylorme commented on #35
@mor10 great! I've been out for some vacation around Independence Day but will work on a PR today/tomorrow.

[2018-07-06 00:05] ataylorme commented on #35
I've started work in the [`issue-35-gulp-improvements` branch of my fork](https://github.com/ataylorme/wprig/tree/issue-35-gulp-improvements) but ran out of time today to finish up. It is pretty close with about half of the function moved into their own files.

Here is a todo list of what I did today and I plan to finish in my next session, which is most likely tomorrow.

- [x] Use gulp-load-plugi

[2018-07-06 07:50] solarianian commented on #42
Hey! Thanks a lot for addressing this issue. If it will be faster then it is now, it's a good thing.

[2018-07-06 18:01] ataylorme commented on #35
@hellofromtonya and @mor10 the PR is up. Please comment on #47 with any questions, additional things I can do, etc.

I would also be happy to be the maintainer of gulp items in WP Rig going forward. Let me know if you're interested in the help. I can give guidance, support, code reviews, etc. on items such as #36

[2018-07-06 19:16] roncham opened #48 "Notice: add_theme_support() was called incorrectly."
Setting colors using multiple parameters is deprecated. Please pass a single parameter with an array of colors. See https://wordpress.org/gutenberg/handbook/extensibility/theme-support/ for details.

In dev/functions.php around line 104.

[code]

Also editor-color-palette arrays are missing the slug eg:
[code]

[2018-07-06 22:30] webmandesign commented on #48
@roncham To fix the issue please try to apply the [code changes](https://github.com/wprig/wprig/pull/49/files) from pull request #49

[2018-07-06 23:17] miklb commented on #35
any chance could take a look at #7 while re-configuring Gulp?

[2018-07-07 16:42] roncham commented on #48
Thanks. I found the solution right before you pushed the changes.

[2018-07-07 17:35] webmandesign commented on #48
I'd say we should leave this open until guys merge my pull request.

[2018-07-09 17:17] mor10 commented on #35
FYI I've been on a mini holiday this past week. I'll take a close look at all this when I get back and confer with @bamadesigner about next steps. My cursory overview tells me this is a huge step forward.

[2018-07-09 18:39] mor10 commented on #35
FYI, seal of approval: https://twitter.com/gulpjs/status/1016382871618113537?s=19

[2018-07-09 18:51] hellofromtonya commented on #46
After reviewing this issue over the weekend, I propose that we roll the fix in after we get PR #47 merged in.  Why?  The new architecture that @ataylorme has laid out will make this job much easier...and more clean too.

@mor10 Are you cool with that?

[2018-07-09 18:55] hellofromtonya commented on #35
@miklb I agree with @ataylorme.  Let's focus on getting the gulp architecture in place first.  Then we can go back and address bugs like #46 and enhancements like #7 and #36.

[2018-07-09 20:03] mor10 commented on #46
Yes, that's my thinking too. I'll try to get #47 merged into the 1.1 branch tomorrow or Wednesday so we can move forward.

[2018-07-09 20:44] miklb commented on #35
OK, I just saw the issue title and figured I'd ask.

[2018-07-10 01:42] felixarntz opened #50 "Make the theme actually require PHP 7.0 with graceful fallback"
## Issue Overview
As stated in the project readme, the theme requires PHP 7.0. We should be enforcing that so that we can securely use also PHP-related modern practices, and do this gracefully though so that users are notified about the requirement being insufficient instead of encountering a WSOD.
The WordPress theme repository will soon support a new header too in which the minimum required PHP

[2018-07-11 14:34] hazephase commented on #37
I am also having a problem with woocommerce. Not about to get it to work

[2018-07-11 21:15] joseph-farruggio opened #51 "Duplicate Page Templates in Selection Picklist (Dev and Verbose)"
## Question Overview

When selecting a page template, I see three instances of the two page templates I created. When inspecting the select list, I learned that the duplicates are coming from the /dev folder and the /verbose folder.

`<select id="template-selector-0">
    <option value="">Default template</option>
    <option value="dev/header.php">Contact</option>
    <option value="dev/landing-p

[2018-07-13 07:02] solarianian commented on #51
Hey! My understanding is as follow (please correct me if I am wrong):

According to documentation, /dev folder is where we develop the theme. When ready, npm build command will generate a .zip with ready to use in production theme. /verbose folder acts as a back-up for /dev folder. Also, a /verbose folder is to be find in production theme, with untouched files theme, meaning no min for js and css

[2018-07-13 22:36] dackr opened #52 "npm update failed"
I have followed the steps that tell me to install the development theme but I get this notice and does not change the style.css data or I do not know what else does not change

![captura de pantalla 2018-07-13 a la s 17 33 35](https://user-images.githubusercontent.com/1920588/42716851-37fc81a2-86c3-11e8-9635-ad11f2d49570.png)

[2018-07-14 10:52] muggeridge opened #53 "Help Wanted: Restarting Workspace"
If I quit the wprig project, shut down MAMP and restart mac are there any requirements (EG Terminal Commands) when I next continue with development?

[2018-07-14 15:28] solarianian commented on #53
from readme.md:

npm run build is the regular development process. While this process is running, files in the ./dev/ folder will be automatically compiled to the live theme and BrowserSync will update if it is enabled.

[2018-07-14 18:44] mor10 commented on #48
Pull request was just merged. I'm closing this issue.

[2018-07-14 18:44] #48 closed

[2018-07-14 18:51] mor10 commented on #50
I love this idea, and it falls in line with what WP Rig already does with modules, just in a much more aggressive way. Can you put together a PR where you take this as far as you think it should go? Considering we're rewriting the entire Gulp function for 1.1, we might as well rewrite all of functions.php while we're at it.

[2018-07-14 18:54] mor10 commented on #46
Closing as this is resolved in #47 which will be merged with 1.1 branch as soon as the PR is squashed.

[2018-07-14 18:54] #46 closed

[2018-07-14 18:56] mor10 commented on #51
I'm classifying this as a bug. The original thinking was to minify all files including php files in which case the verbose version needed to be present in the theme. However, this is not necessary as the php files are not minified. I'll take out the copying of php files to the verbose folder in the current master branch and let @ataylorme to do the same in the gulp rewrite at #47.

[2018-07-14 19:08] mor10 commented on #52
Looks like you need to update npm itself. Try running
[code]

[2018-07-14 19:12] #51 closed

[2018-07-14 19:14] mor10 commented on #53
Any time you start development, enter the `nmp run build` command in terminal. This starts the build process which compiles the files and brings BrowserSync online. When you're done you can terminate the process by hitting `Ctrl+c`.

[2018-07-14 19:14] #53 closed

[2018-07-14 19:15] mor10 commented on #52
I've updated Composer, so run the update for npm, then pull down a fresh version of the master branch, and try again. Report back and we'll get you up and running.

[2018-07-14 21:52] mor10 commented on #35
@ataylorme I would love for you to be the maintainer and overseer of the Gulp process moving forward. What you've done so far is excellent and far beyond what I imagined.

[2018-07-14 21:53] mor10 commented on #35
Closing this issue as #47 is merged. See 1.1 for new Gulp process with all improvements listed above and more!

[2018-07-14 21:53] #35 closed

[2018-07-14 22:15] ataylorme commented on #35
@mor10 thank you for the kind words. I'd be happy to help out with gulp related items. Perhaps we can make use of the [code owner's feature](https://blog.github.com/2017-07-06-introducing-code-owners/)? I have plans this weekend but will look at the open gulp issues next week.

[2018-07-15 01:57] christophherr opened #54 "Merge conflict in /v1.1/gulp/php.js#L65"
## Issue Overview

This is about the v1.1 branch.
A merge conflict was left/appeared in https://github.com/wprig/wprig/blob/v1.1/gulp/php.js#L65 causing the Gulp task to error.
## Describe your environment

Windows 10 (not WSL)
## Steps to Reproduce

1. Checkout the v1.1 branch
2. run `npm install`
3. ignore that Guetzli doesn't seem to build on Windows 10.
4. run `npm run build`

## Expected Beha

[2018-07-15 18:09] dackr commented on #52
I have reinstalled composer I get this message.
![captura de pantalla 2018-07-15 a la s 13 07 50](https://user-images.githubusercontent.com/1920588/42736709-4c40f472-8830-11e8-93d5-83d8be408c6a.png)

[2018-07-15 18:58] dackr commented on #52
this is what I get when I write 'npm run build'

![captura de pantalla 2018-07-15 a la s 13 56 12](https://user-images.githubusercontent.com/1920588/42737282-13ad69fe-8837-11e8-8c45-69f8af454905.png)

[2018-07-15 20:43] mor10 commented on #52
Ok, so mom install did not work. The gulp-sass module is not installed. Run `npm install` again. You should end up with a folder called `node-modules` with a ton of sub-folders in it.

[2018-07-16 09:30] andreibarbuta commented on #42
1. One of the reason for the delay is PHPCS in the styles function. Isn't it redundant to have it running in the gulp workflow if you already have it integrated in your Editor like VS Code? For me the delay dropped from 8s to 500ms. I commented the lines with phpcs in "export function styles()" ( gulpfile.babel.js )
2. I also saw an improvement while browsing the back-end if you add "https: true,"

[2018-07-16 12:58] felixarntz commented on #50
I'll work on it tomorrow!

[2018-07-16 14:42] dackr commented on #52
thanks for your help I installed and reinstalled but now I get this message.
![captura de pantalla 2018-07-16 a la s 09 28 57](https://user-images.githubusercontent.com/1920588/42764947-7a8856a2-88dc-11e8-9c24-a4157d22893a.png)

[2018-07-16 14:55] dackr commented on #52
I have rebooted my mac and it seems to work but I get this error.
![captura de pantalla 2018-07-16 a la s 09 54 05](https://user-images.githubusercontent.com/1920588/42765703-3a9a57aa-88de-11e8-9ac6-63fb94aece18.png)

![captura de pantalla 2018-07-16 a la s 09 54 35](https://user-images.githubusercontent.com/1920588/42765778-603ffa14-88de-11e8-8f68-43f953a79d7a.png)

[2018-07-16 15:01] dackr commented on #52
when I type 'npm run build' I get this message.
![captura de pantalla 2018-07-16 a la s 09 59 16](https://user-images.githubusercontent.com/1920588/42766104-29f9747a-88df-11e8-994a-a5461c000831.png).
gracias por tu ayuda

[2018-07-16 16:00] ataylorme commented on #44
I took a stab at this in #56.

[`gulp-stylelint`](https://www.npmjs.com/package/gulp-stylelint) has an option to do fixes inline. I set it so it fixes what it can before writing the output CSS file. It might make more sense to update the source file rather than the destination though. Maybe this could be a new gulp task that can be added to `scripts` in `package.json` as `npm run fix-styles` or si

[2018-07-16 16:05] ataylorme commented on #36
@lumpysimon the gulp improvements are in on the `v1.1` branch so feel free to make a PR against that branch.

Basically, you need to add a new file to the `gulp` directory, perhaps `gulp/svgSprite.js`, with the logic for the task. Then update `gulpfile.babel.js` and `gulp/watch.js` to import the new logic and run it as part of the main task and when SVG files change.

Let me know if you have any q

[2018-07-16 16:17] ataylorme commented on #44
If we keep with the current WordPress rules there are quite a few violations in `dev/style.css` (see the attached report).

[wp-rig-stylelint-report-wordpress-coding-standards.txt](https://github.com/wprig/wprig/files/2198399/wp-rig-stylelint-report-wordpress-coding-standards.txt)

[2018-07-16 16:23] dackr commented on #52
I already managed to fix thanks only I have the detail of browsersync s and it is possible that you help me in llo please do not work well, do not load the page.
I'm working on localhost with mampp free

[2018-07-16 16:48] dackr commented on #52
thank you for your help I have already managed to activate everything thanks for your great project, nice day

[2018-07-16 17:29] lumpysimon commented on #36
Thanks! I'll have a go at that soon

[2018-07-17 11:51] flegfleg opened #58 "Error in navigation.js"
## Issue Overview

Javascript error prevents navigation from working correctly. The slug is not replaced correctly.

## Describe your environment
macOS. I get an error `[13:51:10] Failed to load external module @babel/register
[13:51:10] Requiring external module babel-register` but that's unrelated, right?

## Steps to Reproduce

1. clone wp-rig
2. edit themeConfig.js, change slug & name
3. run n

[2018-07-19 15:55] ev3rywh3re opened #61 "PNG files cause failures in node_modules/zopflipng-bin/vendor/zopflipng"
## Issue Overview
Adding specific PNG files to /dev/images causes errors with node_modules/zopflipng-bin/vendor/zopflipng

## Describe your environment
Testing server is local hosted vagrant.
Local node environment is MacOS 10.13.6 with node v10.7.0 with npm 3.10.5. Installed with homebrew.

## Steps to Reproduce

1. Setup wprig either current branch or v1.1, run 'npm install' and 'npm run build'

[2018-07-19 23:33] mor10 commented on #54
This should be solved now with #55. Feel free to reopen the issue if the problem persists after pulling the latest update.

[2018-07-19 23:33] #54 closed

[2018-07-19 23:34] mor10 commented on #58
This is your playground @bamadesigner

[2018-07-19 23:38] mor10 commented on #61
Any insights on this @ataylorme?

[2018-07-19 23:52] mor10 commented on #52
Great to hear!

[2018-07-19 23:52] #52 closed

[2018-07-20 15:10] ev3rywh3re opened #62 "Helpful documentation for Virtualbox/Vagrant using BrowserSync"
## Issue Overview

Just some possible documentation help. This only works on my MacOS environment, but may be useful elsewhere. I know advanced users probably know about port forwarding already, but this single line helped BrowserSync work on my Vagrant setup.

`# trying to fix browsersync`
 `config.vm.network :forwarded_port, guest: 80, host: 3000, auto_correct: true`

## Describe your environmen

[2018-07-26 15:22] mor10 opened #64 "Update to WordPress Coding Standards 1.0.0"
https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/releases/tag/1.0.0

[2018-07-27 17:46] mor10 opened #66 "Update functions.php to include new Gutenberg features including block font sizes"
for reference:
https://github.com/WordPress/gutenberg/blob/master/docs/extensibility/theme-support.md#block-font-sizes

[2018-07-27 18:18] miklb opened #67 "Enhancement: Add support for microformats(mf2)"
Adding mf2 to themes would allow easy integration with [Webmentions](https://alistapart.com/article/webmentions-enabling-better-communication-on-the-internet) and greater [IndieWeb](https://indieweb.org)

WPRig has a lot of cross over with a project I’ve been working on and if could get mf2 in wprig, I would mothball my project. I’m offering to work on a PR, but wanted to gauge interest before emb

[2018-07-27 21:15] ataylorme commented on #61
@mor10 I left a comment on #63

[2018-07-28 04:25] bamadesigner opened #70 "gulp issues when set compress to false"
## Issue Overview
When I checkout v1.1, and set `compress: false` for export in the config file, it throws the following error:

[code]

Could this have something to do with the [gulp improvements commit](https://github.com/wprig/wprig/commit/0167df9104a316dd12add03209411f098c6e17ca), @ataylorme?

## Describe your environment
Running branch v1.1.

## Steps to Reproduce

1. Checkout v1.1
2. Run `np

[2018-07-28 21:18] adamwhitlock1 opened #72 "Add phpcbf to help fix minor errors automatically"
## Issue Overview
Setting up a theme from other existing files, I am getting a ton of phpcs warnings on rebuild.

## Describe your environment
MacOs High Sierra, php7.1.7, WP 4.9.7, mysql 5.6.37, nginx

## Possible Solution
Add in a gulp task to run phpcbf and fix errors

Overall I am loving wprig in general. Thank you for making such a great modern wp starter!

[2018-07-29 00:07] bamadesigner opened #73 "Issues/concerns with theme slug and name replace"
## Issue Overview
We might need to re-think the global search/replace of the theme slug and name. OR at least give some documentation/instructions in the config file.

For example, be clear if the slug should have no dashes or underscores or spaces.

Example of an issue:

We use "wprigScreenReaderText" as a JS variable in our navigation script. But the "wprig" gets changed in the gulp php and scri

[2018-07-29 05:11] bamadesigner commented on #70
Simple fix: https://github.com/wprig/wprig/commit/002b9bf2fae9044f20c15d35696684ae3f8cf72f

[2018-07-29 05:11] #70 closed

[2018-07-29 10:47] GitaStreet commented on #67
Not sure the Webmentions differ so much from the pingbacks and trackbacks already available in WordPress Core:
https://codex.wordpress.org/Introduction_to_Blogging#Managing_Comments

In the WordPress admin panel - go to:
Settings > Discussion

There you have the option to enable:
"Allow link notifications from other blogs (pingbacks and trackbacks) on new articles"

It's also possible to ping manu

[2018-07-29 17:36] iliman opened #74 "Notice: is_amp_endpoint was called incorrectly"
## Issue Overview
When the AMP plugin and the lazy-loading feature are activated, the following notice is issued:

[code]

## Describe your environment
WP Rig 1.0.2
WordPress 4.9.7
Apache/2.4.33 (Unix)
PHP/7.2.4

## Steps to Reproduce

1. Set the `define('WP_DEBUG', true);` in wp-config.php;
2. Activate the `AMP for WordPress` plugin;
3. Activate the lazy-loading feature;
4. Visit any AMP page.

#

[2018-08-01 02:44] #74 closed

[2018-08-03 21:58] mor10 commented on #64
Fixing in 1.0.3 update.

[2018-08-03 21:58] #64 closed

[2018-08-03 22:02] mor10 commented on #66
Fixed in 1.0.3 update.

[2018-08-03 22:02] #66 closed

[2018-08-04 15:05] ev3rywh3re commented on #36
I have been concentrating on SVG sprite generation at work. Ideally a decent gulp plugin could handle the heavy lifting but I’m still an npm/gulp newbee.

I know it’s all about final production, so what’s the best sprite implementation with good browser support? ViewBox seems the most compatible across usage methods. It’s such a complex beast I am curious how we could provide a good accessible bes

[2018-08-04 20:01] ev3rywh3re commented on #61
Fresh 1.1v Works fine and file with original issue processes fine. Closing.

[2018-08-04 20:01] #61 closed

[2018-08-04 20:13] ev3rywh3re commented on #36
One more! Should SVG4Everybody be considered for backwards compatibility or is that a decision to be made by us when we use wp-rig? https://github.com/jonathantneal/svg4everybody

There are so many ideas about how to make things compatible, I wasn't sure if it should even be brought up or if modern current standards and practices are the wp-rig focus.

[2018-08-05 18:31] ev3rywh3re commented on #73
I too noticed the issue with dashes which is familiar with JavaScript. Didn’t notice the underscore yet (it’s my go to space replacement 😬)

[2018-08-07 15:32] bamadesigner commented on #73
Heads up @mor10.

[2018-08-07 15:35] bamadesigner commented on #73
Related to #43.

[2018-08-07 15:38] bamadesigner commented on #32
Where are you calling `is_page_template()`? These core functions only work after the main WP Query has been loaded.

If you're calling inside the `wp_enqueue_scripts` action you should be fine. If you're calling, e.g., inside the `init` action, then its too early.

[2018-08-07 15:39] bamadesigner commented on #58
This has to do with the issues with slug replacement we do during build. Related to #43 and #73.

[2018-08-07 15:43] bamadesigner commented on #26
I'm going to close this issue as it seems to be resolved. Thanks!

[2018-08-07 15:43] #26 closed

[2018-08-08 01:36] Hujjat opened #78 "How to move dropdown-symbol inside the '<a>' tag in navigation?"
## Issue Overview

How can I customize the navigation and drop-down-menus? Currently, the symbol icon or the toggle-button for drop down is outside "<a>" tag in the link.

![screen shot 2018-08-08 at 11 31 06 am](https://user-images.githubusercontent.com/5115878/43811175-9d429aca-9afe-11e8-8635-54f0afbab7eb.png)

this makes problem on mobile menu. I mean the symbol shift to the right and the menu

[2018-08-08 22:04] mor10 commented on #23
WPCS was updated to 1.0.0 which means this is no longer relevant. Closing.

[2018-08-08 22:04] #23 closed

[2018-08-09 07:14] dingo-d commented on #23
I'll create a PR once we defork the [Theme coding standards](https://github.com/WPTRT/WordPress-Coding-Standards)

[2018-08-09 21:41] mor10 commented on #78
The drop-down symbol is separate from the anchor element because it serves a different function than the anchor. You can use CSS to control exactly where the symbol appears in relation to the anchor because they both sit inside the `<li class="menu-item">` element. This is where it's currently styled: https://github.com/wprig/wprig/blob/master/dev/style.css#L897-L954

[2018-08-09 21:43] mor10 commented on #36
I vote no to svg4everybody. We want to keep this as clean as possible.

[2018-08-09 21:45] mor10 commented on #37
I personally have no plans to add a WooCommerce component, but anyone else is free to add one. Create a PR (or encourage someone else to do it) and add the functionality in the `./dev/pluggable/` folder for modular inclusion.

[2018-08-09 21:46] mor10 commented on #40
See my response to #37. tl;dr: We are open to including extensions like WooCommerce as long as they sit in the `./dev/pluggable/` folder so developers can choose to include them or not. That's one of the development principles for WP Rig: Modularity.

[2018-08-09 21:50] mor10 commented on #73
The dirty workaround here is to change `wprigScreenReaderText` to just `screenReaderText`, but yes, we need to think carefully about this.

[2018-08-09 21:54] mor10 commented on #42
PHPCS runs in the Gulp process by default because we can't assume the end-user actually integrates PHPCS in their code editor. That said, there should probably be a way to toggle this feature on and off in the configuration file so you don't have to mess around with the Gulp process itself.

[2018-08-09 21:55] mor10 opened #79 "Add on/off option for PHPCS in Gulp process."
Add a true/false trigger for PHPCS to run in the Gulp process. If a developer already has PHPCS integrated with their code editor, it is superfluous to run it again during the build process.

## Related Issues and/or PRs

#42

[2018-08-09 21:57] bamadesigner commented on #78
What @mor10 said. The dropdown symbol is purposefully located to make the menu accessible. I would advise against changing the markup or behavior to allow the menu to remain accessible to those who don't use a mouse, but feel free to change the look and feel with CSS.

[2018-08-09 22:00] mor10 commented on #62
@ev3rywh3re Would you be willing to write up a little blurb that can go in the Wiki on this?

[2018-08-09 22:01] mor10 commented on #72
Tentatively yes, though I'd like to see someone do a test to figure out if the fixing is clean or it it can cause new issues.

[2018-08-09 22:49] mor10 opened #80 "Fix array to string conversion error"
When debug is set to true, the following error appears:

The line in question:

[code]
in the function:
[code]

[2018-08-09 22:50] mor10 commented on #80
Assigned to @bamadesigner because I think you're the one who ended up writing this function.

[2018-08-09 23:04] Hujjat commented on #78
Awesome, I did the same, thank you

[2018-08-09 23:04] #78 closed

[2018-08-09 23:56] ataylorme opened #81 "Add the ability to generate an SSL certificate with gulp"
See #57 for background information. Generating SSL certs requires specialized knowledge and can be cumbersome to get correct. By creating a gulp task that automates generating an SSL certificate we can take this burden off WP Rig users.

Additionally, the gulp and BrowserSync config can be updated to automatically turn on HTTPS when a generated cert is present in the default directory. The step of

[2018-08-10 00:03] ataylorme commented on #81
https://www.npmjs.com/package/pem looks promising

[2018-08-10 05:31] bamadesigner commented on #80
Fixed. https://github.com/wprig/wprig/commit/6eabbff7d7cffb9a8ab41620471dad6e15ab1a22

[2018-08-10 05:31] #80 closed

[2018-08-10 16:39] joseph-farruggio opened #82 "Lazy Loading Makes Custom Logo Invisible Until Scroll"
## Issue Overview

Note: I'm only experiencing this issue on safari / iOS

Lazy Loading is preventing the custom logo from being displayed in the site header. In its place, you'll see extra vertical white space. Once you scroll, the logo appears and the header adjusts to the appropriate size.

## Steps to Reproduce

1. Ensure Lazy Loading is enabled
2. Replace your site title with a custom logo
3.

[2018-08-10 17:59] adamwhitlock1 commented on #79
I think this might be a good way to roll, to also address my issue about running PHPCBF during build. This way if you didn't want to fix or look at the errors this would be easy enough to use instead.

[2018-08-10 18:22] flegfleg opened #83 "autoprefixer not working"
## Issue Overview
Autoprefixer does not seem to run

## Describe your environment
wprig 1.03

## Steps to Reproduce

1. Edit browserlist:

[code]

2. `npm run build`

## Expected Behavior
Prefixes for IE11 added in style.css

## Current Behavior
No prefixes added.

[2018-08-15 19:52] bamadesigner commented on #6
This issue has been resolved and merged in v1.1 (which is under development and will be the next major release). To test this feature, you can check out the v1.1. branch. Thanks!

[2018-08-15 20:06] #6 closed

[2018-08-16 23:26] lincolnlemos commented on #42
Here is very slow too :/
@andreibarbuta What lines have you commented?

[2018-08-17 01:37] andreibarbuta commented on #42
/**
 * PHP via PHP Code Sniffer.
 */
export function php() {
	config = requireUncached('./dev/config/themeConfig.js');
	return gulp.src(paths.php.src)
	.pipe(newer(paths.php.dest))
	// .pipe(phpcs({
	// 	bin: 'vendor/bin/phpcs',
	// 	standard: 'WordPress',
	// 	warningSeverity: 0
	// }))
	// // Log all problems that was found
	// .pipe(phpcs.reporter('log'))
	.pipe(replace('wprig', config.theme.sl

[2018-08-17 01:38] andreibarbuta commented on #42
I have PHPCS set up in VS Code, so it was redundant.

[2018-08-17 08:34] flegfleg opened #85 "javascript compilation question – browser support"
## Issue Overview
Is wprig supposed to compile js for the browser specified in themconfig.js "browserlist"?

## Describe your environment

## Steps to Reproduce

wprig1.03 without any modifications.

[code]

## Expected Behavior

Navigation dropdown should work in IE/Edge

## Current Behavior
Javascript Error on Edge40, IE11
[code]

## Possible Solution

## Screenshots / Video

## Related Issues a

[2018-08-17 09:27] benoitchantre opened #86 "Don't style classes used for structured data"
Classes used for structured data should not be part of the stylesheet. Having structured data or not should not have an influence on the appearance of the site.

Related issues from Underscores:

- [Don't style hatom classes](https://github.com/Automattic/_s/issues/930)
- [Remove Microformat Classes from CSS](https://github.com/Automattic/_s/issues/1268)

[2018-08-17 11:33] MarieComet opened #87 "[Question/Feedback] Good tools, why so opiniated ?"
## Issue Overview
Not an issue but a question.
WPRig is very good boilerplate with useful tools to create a good theme and thanks for that; but why stylesheets are so much opiniated ? (fonts, colors, header).
I think, before test it, I saw it more like a starter theme, without decorative styles.

[2018-08-17 14:37] lincolnlemos commented on #42
Thanks @andreibarbuta

I discovered that my problem is related to my domain.
https://stackoverflow.com/questions/24807786/browsersync-extremely-slow

[2018-08-17 18:26] andreibarbuta commented on #42
This is very interesting. I also use .local, I will clone my development site using a .dev and see the diference. I have noticed that it's slower but did not think that may be the reason.

[2018-08-17 21:16] mor10 commented on #87
WP Rig provides a minimum viable stylesheet to give designers and developers a place to start from. The stylesheets are minimal, and the most significant elements such as the overall layout and menu are controlled using flexbox and CSS grid making them easy to alter. If you don't want to use the minimal styles provided, you can simply remove them and build your own from scratch. WP Rig provides a

[2018-08-17 21:16] #87 closed

[2018-08-17 21:17] mor10 commented on #86
Good issue. Are you interested in contributing with a PR, or highlight which rules you'd like to see changed?

[2018-08-17 21:25] mor10 commented on #82
Needs further investigation. Likely culprit is how the lazy-loading script is told to ignore the site logo element.

[2018-08-17 21:30] benoitchantre commented on #86
Yes. I’ll either add some comments or work on a PR next week.

[2018-08-17 21:33] mor10 commented on #44
Merged with v1.1. Closing.

[2018-08-17 21:34] mor10 commented on #10
Closing for now as no further discussion. feel free to reopen / submit PR.

[2018-08-17 21:34] #10 closed

[2018-08-17 21:37] ataylorme commented on #44
@mor10 what do you want to do about the existing coding standard violations in WP Rig? They are mostly in CSS

[2018-08-17 21:37] #40 closed

[2018-08-17 21:41] mor10 commented on #42
@lincolnlemos Have you tried using `.test` as your TLD? `.dev` is no longer recommended as it clashes with Chrome settings. Asking because I'd like to set `.test` as the recommended TLD in documentation.

[2018-08-17 21:42] mor10 commented on #43
Flagging this as a bug to give it priority for 1.1

[2018-08-17 21:42] mor10 commented on #58
What's the workaround in the meantime @bamadesigner? Something that needs to go in the Wiki?

[2018-08-17 22:50] mor10 commented on #44
I thought they were fixed. If not, I'll get it sorted.

[2018-08-18 06:11] MarieComet commented on #87
Thanks @mor10 for your answer.

Yes, that's what I'm doing.
I'm used to from scratch, with Underscore for example, that's why I was surprised; but yes you're right, removing the style of WP Rig is simple.

[2018-08-19 05:37] mambax7 opened #88 "The package could not be installed. The theme is missing the style.css stylesheet."
## Issue Overview

Installing Theme from uploaded file: wprig-1.0.3.zip
The package could not be installed. The theme is missing the style.css stylesheet.
Theme installation failed.

## Describe your environment

## Steps to Reproduce

1.
2.
3.
4.

## Expected Behavior

## Current Behavior

## Possible Solution

## Screenshots / Video

## Related Issues and/or PRs

[2018-08-20 10:26] atanas-angelov-dev commented on #88
Hi @mambax7 ,

WP Rig is used to build your theme, i.e. it is not installable before you build it.
Download the zip, follow the build instructions and then you can install your built theme.

[2018-08-20 17:52] mor10 commented on #43
Pick a day you want to do this on and we'll do a PR freeze until the PR is submitted, tested, and merged.

[2018-08-21 03:45] shangdev opened #89 "How start wprig in phpstorm mode？"
I‘m use phpstorm remote host mode.

run 'npm install', it have a warn:
[code]

And run 'npm run build', it have many error:
[code]

what should I do?

[2018-08-21 17:34] felixarntz commented on #43
I'll implement this next Tuesday.

[2018-08-23 07:25] shangdev opened #90 "How to support fonts?"
I have use fontawesome4,7, it contains fonts file, It seems that he is not supported.

How resloved?

[2018-08-23 17:28] mor10 opened #91 "Make conversion of CSS custom properties optional"
Right now, CSS custom properties are automatically rewritten to verbose CSS using the `/dev/config/cssVariables.json` file via `postcssPresetEnv`. This should be an on-by-default option that a developer can toggle off in `/dev/config/themeConfig.js`. Something like

[code]

If this setting (or something like it) is set to `false`, the entire `features` section of `postcssPresetEnv` should be disab

[2018-08-29 14:11] RonaldF opened #94 "Questions regarding WP Rig in combination with AMP"
Good Day!

In my next project, I am developing a bespoke website with AMP support natively. AKA, the whole website will be a built using AMP HTML, and with all of the limitations and functionality AMP Provides.

So I figured WP Rig would be the ideal starting place for this new website theme since the AMP Plugin support is a selling point of WP Rig, but I do have some questions for you.

1) WP Rig

[2018-08-29 15:58] hazephase commented on #82
I have the same issue

[2018-08-29 16:13] hazephase opened #95 "menu not showing up only menu button which does not work."
## Issue Overview

after a fresh install I see that there is also a menu button and the main menu on desktop is set to display:none; The menu button also does not work.

## Describe your environment

I Set up local by flywheel and I am using PHPstorm.

## Steps to Reproduce

1. add the files to a folder in themes folder
2. run npm install
3. run npm start build
4. activate the theme

## Expected B

[2018-08-30 05:33] austintude commented on #94
It does everything for you straight out of the box. Just make sure to use the appropriate amp-elements if you're doing anything fancy (amp-position-observer for example)  but other than that the AMP plugin does everything else for you. As for CSS, the AMP plugin (still in beta but coming out soon) has a built in TreeShaker that will remove ALL unused CSS  and inline everything into each page. With

[2018-08-30 05:37] austintude opened #96 "A big thank you"
## Issue Overview
Just wanted to say a big thank you to the team who put this together and decided to offer it out to the world for free! I have been looking and looking for a means to keep up with the development of AMP without compromising on the customers' need to create content using a CMS like Wordpress and then BAM, you guys build this! Holy smokes is all I can say. I've just completed (well

[2018-08-31 00:57] austintude opened #97 "Run Build failures"
## Issue Overview

Not really sure what is going wrong or how to determine/fix it. This is my first with npm so maybe it has nothing to do with wprig??
## Describe your environment

I'm using the Visual Studio Code editor and have been using the npm run build command successfully for days. I have no idea what could have changed.
## Steps to Reproduce

1.from the terminal, go to the appropriate dir

[2018-08-31 03:12] mor10 commented on #97
Can you try something for me? Set up a separate clean instance in a different folder and see if you run into the same issue.

[2018-08-31 03:42] ataylorme commented on #97
Have you tried the ‘v1.1’ branch?

[2018-08-31 03:54] austintude commented on #97
I have tried a clean instance and get the same problems
I don't know what v1.1 branch means... sorry I'm new to node

[2018-08-31 04:06] austintude commented on #97
Sorry, I feel so out of my depth I forget to look. I am attempting the v1.1 branch. I'll let you know how I get on...

[2018-08-31 04:34] austintude commented on #97
Oh boy... ok, so after creating a clean folder, downloading new WP files (imported through MAMP Pro), installing composer (pretty sure this was successful as I got the 'Vendor' folder and NO errors thrown upon completion of the install)
I then attempted `npm install`
But this was the error report in terminal:
`sh: composer: command not found
npm ERR! file sh
npm ERR! code ELIFECYCLE
npm ERR! errno

[2018-08-31 04:56] mor10 commented on #97
Ok. The composer part could possibly be easy to fix. Try just typing "composer" in the terminal and you should get some sort of "not found" error. If so, composer is not working, probably because the path is wrong. Look at the install instructions here for reference:

https://getcomposer.org/doc/00-intro.md#globally

[2018-08-31 07:55] niksfirefly opened #98 "howto exclude specific image from gulp processing?"
## Issue Overview

howto exclude specific image from gulp processing?

[2018-08-31 08:05] niksfirefly opened #99 "syncing theme as it is in development dir to remote server?"
## Issue Overview

Is it acceptable to rsync theme files - generated with npm build - to remote staging server?
I noticed some cache issues with css but other than that it works fine.
I want to use

`npm run bundle`

and theme.zip only for production when theme is ready.

regards

[2018-08-31 13:05] benoitchantre opened #100 "Move footer styles in a separate file"
## Issue Overview
Actually, the footer styles are in `style.css` and are not critical because the footer is generally hidden when you load a page.

If some styles are inherited from `content.css`, it force us to increase the specificity of our selectors in `style.css`, because `content.css`is loaded after `style.css`.

## Possible Solution
These styles could be loaded later (before the footer mark

[2018-08-31 15:07] benoitchantre opened #101 "Files removed from dev directory are not removed from parent directory"
## Issue Overview
When you remove a file from the `dev` directory, it is not removed from the parent directory by the build process. This can lead to load an unwanted template.

## Expected Behavior
Files removed from the `dev` directory should be removed automatically.

[2018-08-31 17:45] mor10 commented on #101
This is correct. There is currently no feature for removing removed files. Something to think about for v1.1. I don't have an immediate answer to how the logic would work for this, but it's possible @ataylorme does.

[2018-08-31 17:49] mor10 commented on #100
The rules in `style.css` are minimal and provide a baseline for development. The idea is as your CSS gets more complex, you break it out into separate files, so if you want to completely overhaul the footer css, just pull it out of style.css and create a new custom file. That said, rules in `content.css` are meant to relate to post/page content only. If you want to override the footer styles, I re

[2018-08-31 17:49] #100 closed

[2018-08-31 17:49] mor10 commented on #98
There is currently no method for this. The hacky way around it is to place the image in the root folder.

[2018-08-31 17:49] #98 closed

[2018-08-31 17:53] mor10 commented on #99
I have done this (while excluding the `./node_modules/` and `./vendor/` folders) and it works, though you end up syncing a lot of unnecessary files that way. In most situations I use the `npm run bundle` process with the `export compress ` setting set to `false` in `./dev/config/themeConfig.js`. Then I sync the "clean" bundle folder to the live site.

[2018-08-31 17:54] mor10 commented on #95
Will check.

[2018-08-31 17:55] mor10 commented on #94
Looping in @westonruter for AMP input.

[2018-08-31 17:58] mor10 commented on #90
How are you currently adding in Fontawesome? JavaScript? CSS?

[2018-08-31 18:00] mor10 commented on #89
The first set of errors can be ignored. The second set of errors are related to the `gulp-image` dependency. Try running `npm install gulp-image --save-dev` and see if that fixes the problem.

[2018-08-31 18:05] mor10 commented on #88
@mambax7 follow the instructions to build the theme at the top of the README.md document. It needs to be built out before it can be published to a website. If you go to https://wprig.io you'll find free instructional videos on how to get started.

[2018-08-31 18:52] westonruter commented on #94
It depends on your theme. If your theme _forces_ AMP to be used on every template, it may not be needed. But as of 1.0-beta2 the plugin allows you to use native AMP mode but then to serve some templates or certain posts as non-AMP.

The plugin will automatically read any stylesheet `link` elements to obtain the CSS referenced for combining with all other CSS in the page (including `style` elements

[2018-08-31 21:03] benoitchantre commented on #100
Thank you @mor10 for your feedback on this.

[2018-09-01 01:38] austintude commented on #97
still having issues after attempting several 'fixes' to the permissions
denied.
I now have this issue:

npm run build

2018/bexhale-webdev/wp-content/themes/bexhale

[21:31:36] Failed to load external module @babel/register
[21:31:36] Requiring external module babel-register
/Users/danielbisett/Documents/Bex Hale for School Board
2018/bexhale-webdev/wp-content/themes/bexhale/gulpfile.babel.js:312

[2018-09-01 10:48] niksfirefly commented on #99
wow nice trick! thx :)

[2018-09-01 10:48] #99 closed

[2018-09-01 10:52] niksfirefly commented on #98
nope
images from dev root folder are also processed
for now i simply edited images paths
`'!dev/**/excluded.{jpg,JPG,png,svg}'`

what do you think about:
https://github.com/gulpjs/gulp/blob/master/docs/recipes/split-tasks-across-multiple-files.md
so anybody can add custom build tasks
or
https://www.npmjs.com/package/gulp-filter
to exclude certain files from processing?

regards

[2018-09-02 04:29] austintude opened #102 "Remove Sidebar from non-blog 'post' pages"
## Issue Overview
I want to remove the sidebar from template pages I build

## Describe your environment
wprig - in vsc

## Steps to Reproduce

1. I create a new custom page template
2. I remove the get_sidebar(); from the bottom of the page
3. I add a few changes here and there
4. I run build

## Expected Behavior
I expected the line items I added to pull through

## Current Behavior
The Title of

[2018-09-02 04:58] #102 closed

[2018-09-02 14:05] shangdev commented on #90
By CSS.
And I created a new fonts folder in the dev directory.

[2018-09-02 14:14] shangdev commented on #89
@mor10
Sorry. I solved this problem and found the reason:
The version of centos I am using is 6.8, His kernel version is a bit low, so I have to upgrade to centos7.2, and I need to install the libpng16 dependency package.

Please close this issue.

[2018-09-02 16:04] ataylorme commented on #101
I don’t know of a way off the top of my head. Whenever I’ve worked with a build step before the production files go to a sub directory as well which can be deleted and recreated when building for production.

We could revamp the bundle script to create a production/build directory. The production directory could then be used to create the zip file bundle currently creates.

Thoughts @mor10?

[2018-09-04 15:43] ataylorme commented on #97
The `v1.1` branch doe not rely on a local/global gulp installation so we can probably remove that requirement from the README on that branch.

@austintude can you try `node ./node_modules/gulp/bin/gulp.js`? That will call gulp that is installed with NPM, rather than your global copy.

[2018-09-04 15:58] austintude commented on #97
I'll be back in the system this pm (I pretty much work after the kids are
in bed - 9pm - 2am). So I'll do that and see if it had any impact. That
said,  Morten has gotten me up and running without issue.
All the same, I'm more than happy to 'help' anyway I can. I guess, all i
need to know od how do i reset the parameters of the change malfunctions?

Daniel Bisett - Owner / Developer ~ Austintatiou

[2018-09-04 16:00] mor10 commented on #97
I was going to provide an update on this:

The issue, as is often the case, turned out to be an errant colon in the wrong place, specifically ahead of the BrowserSync `bypassPort` value in `./dev/config/themeConfig.json`: https://github.com/wprig/wprig/blob/master/dev/config/themeConfig.js#L13

For whatever reason, adding a colon ahead of the port number causes a catastrophic failure without prope

[2018-09-05 03:00] shangdev opened #103 "Lazyload not working in 360 Browser， Cause all images not to appear ！！！"
## Issue Overview
Lazyload not working in 360 Browser， Cause all images not to appear ！！！

## Describe your environment
360 Browser

![image](https://user-images.githubusercontent.com/15621520/45068594-bd5b7400-b0fa-11e8-9b23-91a20c2343d7.png)

[2018-09-10 15:54] benoitchantre opened #104 "WPRIG (uppercase) is not renamed"
## Issue Overview
If you add a constant, like `WPRIG_THEME_VERSION`, `WPRIG` is not replaced by an uppercase version of the theme's slug.

## Expected Behavior
`WPRIG` should be replaced by the theme slug in uppercase.

## Current Behavior
`WPRIG` is not replaced.

[2018-09-11 08:43] mor10 opened #105 "Move browserlist to .browserlistrc?"
Allows for coop between tools without extended config settings.

[2018-09-13 16:57] ataylorme commented on #104
@benoitchantre can you try the `v1.1` branch? THe process was overhauled in #93

[2018-09-13 18:26] mor10 opened #106 "Rework editor styles to conform with new Gutenberg paradigm"
Everything is changing
all the time

https://github.com/WordPress/gutenberg/pull/9008

[2018-09-14 18:49] ai opened #108 "Component based approach"
## Issue Overview

Let’s replace `dev/css/footer.css` and `dev/js/footer.js` to `dev/components/footer/index.js` and `dev/components/footer/index.css`

## Describe your environment

@mor10 after his great talk asked me to check this amazing project for the best practices in CSS development.

Right now there is a very popular practice to replace `css/` and `js/` dirs to components. Every file of th

[2018-09-14 18:54] ai opened #109 "Use BEM or any other CSS selector isolation"
## Issue Overview

We should force component isolation mindset in `dev/`

## Expected Behavior

Use component name prefix in selectors:

[code]

[code]

## Current Behavior

Right now there is no system behind classes in `dev/css`:

[code]

## Possible Solution

In my experience system behind CSS selector is very useful even for small projects.

Current React community force the same way.

BTW, ma

[2018-09-15 17:06] mor10 commented on #108
I'm wondering if we can extend this idea to include PHP files as well. That's sort of the thinking here anyway: contain each component in its own folder so they are easy to isolate and move around.

[2018-09-15 17:08] mor10 commented on #109
I want to explore a rational implementation of BEM in WP Rig. To do so we need to recruit someone who has experience with BEM and wants to take on this project. volunteers / nominations welcome.

[2018-09-15 17:08] ai commented on #108
Yeap, it will be perfect. PHP templates to generate HTML in the same for with CSS for this HTML.

[2018-09-15 17:12] spencerfinnell commented on #109
Interested in everyone’s thoughts about core-defined class names that can’t be changed or integrations with 3rd party plugins. The idea of a unified CSS system is great in theory but impossible to implement in WordPresss in my opinion. Every plugin will use their own convention (or none).

Is the best solution to just get as far as possible with what can be controlled in the theme and use that as

[2018-09-15 17:13] spencerfinnell commented on #109
In that regard is it worth overriding core/plugin PHP functions to change class names or is it more maintainable to document the non-conformity in the CSS?

[2018-09-15 17:39] mor10 commented on #109
@spencerfinnell Scope it to the theme - ie what we can control. Long-term, we can find a clean solution and then suggest migrating it up the chain into WP core. Lots of teams and packages use some version of this approach already. What I want us to explore is a best-practice approach which can be adopted by the majority of developers.

[2018-09-15 17:42] spencerfinnell commented on #109
Great. Would love to see a standard be set for themes and a proposal for updating core markup to match.

No BEM pro but I have been using it and I’ll definitely be watching this.

[2018-09-15 17:45] ai commented on #109
I am thinking about these steps:

1. Use class isolation in `wprig` classes.
2. Use class isolation in `dev/` to force developers to use it in their own code.
3. Use class isolation in third-party classes.

Also let’s not stop on BEM. CSS Modules could be much better. We just need to parse JSON and pass results to PHP. It is harder but provides better isolation level (and CSS will be cleaner). So

[2018-09-15 17:46] mor10 commented on #109
@ai I'd like to see an example of what the modules approach would look like. One of the goals with this project is to level up theme developers without introducing things that are too different from how they normally work.

[2018-09-15 17:49] ai commented on #109
An example of what the modules approach would look like:

[code]

[code]

(I am not sure about HTML template in PHP, maybe there is some syntax sugar in PHP to make `<?= styles.list ?>` cleaner.

More details: https://evilmartians.com/chronicles/postcss-modules-make-css-great-again

[2018-09-15 17:54] mor10 commented on #109
WordPress has a pretty robust syntax and filtering system which would allow for this. I need to read some more to wrap my head around it.

[2018-09-15 17:55] spencerfinnell commented on #109
@ai the barrier to entry should also be considered. That technique might be great and I’d love to see it but the WordPress audience should be considered and WPRigs target audience should be defined.

Starting with just BEM style CSS separated from the templating seems like a more manageable first step.

[2018-09-15 17:59] mor10 commented on #109
We can think of this as an "upgrade plan": Start with BEM, then when people get used to it, add in some CSS modules, etc.

[2018-09-15 18:07] justintadlock commented on #109
@mor10 - I saw your callout on Twitter and thought I'd chime in.

We spent the better part of this year ~~hotly debating~~ _calmly and rationally discussing_ how to best handle this in the Mythic starter.  Feel free to borrow anything that we've done or improve upon it.  I'd love to see what y'all come up with.

**What we used:**

We used BEM with the addition of some utility classes (i.e., `.is-e

[2018-09-15 18:08] spencerfinnell commented on #109
What has worked well(ish) for me in the past is defining my own components via SCSS mixins which can properly use BEM. Then for 3rd party (including core) integrations map the random class names to the components defined by the theme.

`.comment` can include a `@media` mixin. `.comment-author` can me `@media__figure` ‘`.comment-body` can be `@media__content`

It allows for multiple integrations to

[2018-09-15 18:09] mor10 commented on #109
This is why I love working with open source, and WordPress in particular. Thank you for chiming in on this @justintadlock. I'm hoping as both our projects move forward, we'll be able to learn and borrow from each other. Something something rising tide lifts all themes.

[2018-09-15 18:10] mor10 commented on #109
@spencerfinnell Well, Sass is already wired in and waiting ;o)

[2018-09-15 18:13] mor10 commented on #109
Also, if I remember correctly, there are some pretty fancy plugins and features in PostCSS that do much of what Sass does without the necessity of Sass...

[2018-09-15 18:26] mor10 commented on #109
OK, so how do we get started, and who wants to drive this bus?

[2018-09-15 18:33] mor10 commented on #103
Can you provide a link to the 360 browser so I can test?
My guess is there is something going on with the JavaScript not loading.

[2018-09-15 18:34] DavidWells commented on #109
If you use PostCSS you will have full access to the AST (abstract syntax tree) of the css to manipulate/scope it however you wish.

It's basically like Babel but for CSS

Checkout https://davidwells.io/blog/what-is-postcss/ and https://gist.github.com/DavidWells/9e4436608b834f1d3c0346db3631d774#gistcomment-2053946 for what postCSS + CSS modules are capable of.

You can also use less/sass/whatever

[2018-09-15 18:55] scriptex commented on #105
Instead of introducing another file, why not move it to package.json?

[2018-09-16 13:42] shangdev commented on #103
@mor10
This is 360 browser.
https://browser.360.cn/se/

[2018-09-17 11:02] felixarntz opened #112 "Fix Jetpack integration not being loaded"
## Issue Overview
There is a `inc/jetpack.php` file for integration with Jetpack, but it is never loaded. A clause should be added to `functions.php`, similar as in https://github.com/Automattic/_s/blob/master/functions.php#L158.

## Describe your environment

## Steps to Reproduce
1. Install and activate Jetpack.
2. Notice that the theme integration with Jetpack features such as infinite scroll i

[2018-09-17 11:39] felixarntz commented on #43
Fixed via #93

[2018-09-17 11:39] #43 closed

[2018-09-17 13:14] felixarntz opened #115 "Fix WordPress Coding Standards violations"
## Issue Overview
WordPress Coding Standards 1.0 and 1.1 include a couple of new sniffs, some of which WP Rig violates. Those occurrences should be fixed. This currently does not show up in Travis-CI, but that is only because the current setup (which is being improved in #114) has the old version 0.14.x hard-coded.

## Steps to Reproduce
1. Use WordPress Coding Standards in version ^1.0.
2. See th

[2018-09-17 15:41] benoitchantre commented on #104
@ataylorme I did a merge on a work in progress project:

- PHP files look good (except errors from PHP CS, probably from my code)
- in navigation.js, I get the following error: `mythemeslugScreenReaderText is not defined`

[2018-09-17 15:49] benoitchantre commented on #86
I'll try to work on it this week.

[2018-09-17 18:55] mor10 commented on #115
merged

[2018-09-17 18:55] #115 closed

[2018-09-17 18:55] mor10 commented on #112
merged

[2018-09-17 18:55] #112 closed

[2018-09-18 09:24] benoitchantre opened #118 "Remove contributing.md from bundle?"
Are we supposed to remove/update the CONTRIBUTING.md?

Acutally, it contains information how to contribute to WP Rig and is part of the bundle created by `npm run bundle`. I think we should not include it in the bundle if it is supposed to stay unchanged.

[2018-09-18 09:32] benoitchantre opened #119 "Remove rem fallback"
According to caniuse.com, [`rem` support should be sufficient to remove fallbacks](https://caniuse.com/#feat=rem) to other units.

[2018-09-18 13:31] ev3rywh3re opened #120 "WPRIG_MINIMUM_WP_VERSION constant not defined in WPRIG 1.1 branch"
## Issue Overview

Just quickly noting a PHP constant error. Maybe also related to #104. This is in the WPRIG 1.1 branch.

`WPRIG_MINIMUM_WP_VERSION constant not defined.`

## Describe your environment

Personal Vagrant WordPress setup using Debian/Stretch64 with Apache2, MariaDB 10.1.26, and PHP7.0. My local npm environment is on MacOS  10.13.6. I'm still cleaning up both environments while looki

[2018-09-18 14:07] muggeridge commented on #109
RE: BEM in WP Rig - it sounds good - as a developer I would prefer all the little bugs are fully ironed out before any major development is implemented. I am keen to get started with WP Rig however I am getting so many emails with bug fixes that I have little confidence that it okay to go ahead and deploy WP Rig, which is a shame as it hase so many benefits.

[2018-09-18 16:12] mor10 commented on #109
@muggeridge WP Rig, like all things, is a work in progress. For clarity, the BEM discussion will likely end up in v1.2 which is several months out. We're moving toward a stable v1.1 which will be a major upgrade, and a stable one at that.

[2018-09-18 16:17] mor10 opened #121 "The v1.1 decision making issue"
This issue aims to answer two key questions:

1. When is v1.1 done (as in what features should / shouldn't be in 1.1)?
2. When are we merging v1.1 to master?

Your input is required.

[2018-09-18 16:27] ataylorme commented on #121
+1 on the proposal. The timeline (2 weeks) may be a bit short to test all the things, surface bugs, fix those bugs, retest all the things, and get documentation updated.

[2018-09-18 16:28] benoitchantre commented on #118
Yes

[2018-09-18 16:29] benoitchantre commented on #119
Yes, I'll submit a pull request.

[2018-09-19 07:24] benoitchantre opened #122 "Facilitate assets versioning"
At the moment, assets use a date string that you can forget to update when you release a new version of the theme. We could improve that by using a `WP_RIG_THEME_VERSION` constant to reduce the number of changes to make for a release.

Ideally, the version number would be set in one place (themeConfig.js ?) and changed by the build / bundle script.

[2018-09-19 14:39] felixarntz commented on #120
This should have been fixed by https://github.com/wprig/wprig/commit/fe102137e00eee0a9deb786d6b24db81ce4104b9 (see #111). @ev3rywh3re Can you update to the latest version of the 1.1 branch and check if the error persists?

[2018-09-19 14:56] felixarntz commented on #104
@ataylorme I figured out why this happens: In `gulp/scripts.js`, the tasks only run if the relevant files have been edited since (via `gulpPlugins.newer`). This needs to be changed to also take into account whether the theme configuration has changed (see all the custom code currently part of `gulp/php.js`). Preferably, this should be added to `gulp/styles.js` as well - it doesn't matter at this p

[2018-09-19 14:59] felixarntz commented on #121
I agree with the proposal, except that I share the @ataylorme's concern about timing. There are a couple of very critical issues around that we haven't stumbled across before, which to me indicates that we need to spend more time actually running and testing WP Rig than we've previously done. Based on that, I'm not sure whether 2 weeks are enough.

[2018-09-19 15:19] ev3rywh3re commented on #120
Looks good to me! Must have just missed the commit. Closing this now.

[2018-09-19 15:19] #120 closed

[2018-09-19 15:55] ev3rywh3re commented on #62
Took me a little while to get my local debian/strech64 stuff running. Also the startling realization that Apple's Safari is horrible as a default browser since it likes to hold on to cached CSS. Got my brain wrapped around it now and my BrowserSync is working. Once get the proper apache configs on the Debian side looking proper, I'll see if I can write something up.

I'm actually using:
`config.vm

[2018-09-19 16:26] ataylorme commented on #104
Thanks for identifying @felixarntz. `gulp-newer` allows you to check files outside the stream and, if they are newer than the destination files, to rebuild all files in the stream. I opened #123 to take advantage of this. A review when you can would be much appreciated.

[2018-09-19 16:28] ataylorme commented on #121
Thank you for the kind words @ev3rywh3re. You help with testing and reporting bugs is very much helpful and appreciated!

[2018-09-19 17:04] mor10 commented on #121
What do you think is a reasonable timeline? 3 weeks? A month?

[2018-09-19 17:45] ataylorme commented on #121
Since this is such a big release I think we should:

- Decide what will be in `v1.1`. I link the proposal but is it formal?
- Assign testing tasks, perhaps broken up, to different folks
  - e.g. Felix for unit tests, myself for gulp, Morten and Rachel for overall
- Find out when each person can commit to testing their portion
- Set a date shortly after that to have all testing feedback and bugs re

[2018-09-19 18:31] mor10 commented on #121
Thank you @ataylorme. If it isn't clear, I have never run a large project like this before so this kind of input is extremely valuable. I'm thinking this is what the Projects feature is for?

[2018-09-19 19:05] ataylorme commented on #121
Probably but the biggest concern for me personally, especially when working with volunteers, is burnout. I'm sure if we set a date 2 weeks out we could get it done.

However, if that timeline puts too much stress on the folks contributing the benefit of releasing a few weeks sooner is not worth having unhappy contributors and less contributions going forward.

Maybe we can start with an estimate o

[2018-09-20 08:20] felixarntz commented on #121
I can't currently provide a good estimate for the next couple weeks, but I should be able to dedicate about 6 hours next week.

About timeline, to me 4 weeks sounds like a more realistic goal. Maybe we will get it done in 2, and that'd be fine, but I agree having that as a timeline would be too stressful. I think it is most important at this point that we define what goes into 1.1, and for that I

[2018-09-20 08:27] felixarntz commented on #73
@bamadesigner I think #93 addressed this, and the remaining bit that was missed there will be fixed by #123. Can you confirm this?

[2018-09-20 08:29] felixarntz commented on #58
@bamadesigner This should be fixed after #123 gets merged.

[2018-09-20 14:15] ataylorme commented on #121
Sounds like @mor10, @felixarntz and I are all on the same page about #92 being the last feature to go into `v1.1`. I consider #123 as a bug fix. I think we should aim to get those in next week and move forward with testing.

I would love to hear from @bamadesigner and @hellofromtonya as well.

[2018-09-20 15:46] andreyberezhnoy commented on #109
What do you think about this solution?
https://matlipe.com/using-postcss-modules-in-php/

[2018-09-20 21:22] unpezllamadomiki opened #124 "Sass does not work"
Hello. This is my first time using wprig and I'm following the tutorial. I have several concern: the Sass part does not work. The conversion did not minimize the css. It is copied as it is and the browser does not show the changes.

I am using the software that you recomended (vs code and plugins) as well as ampps. My php version is 7.0. I will attach some screenshoots on this issue.

![image](htt

[2018-09-21 01:27] mor10 commented on #109
We'll punt BEM and a full CSS rethink to v1.2 and make it the focus of the release. That way we'll have time to think carefully about what CSS should look like in WP themes today and in the future.

[2018-09-21 01:29] mor10 commented on #124
That's odd. I have to do some testing. Have you tried this with the v1.1 branch?

[2018-09-21 01:31] mor10 commented on #121
The 2 week proposal was merely a proposal to get the conversation started. We need to take the necessary time to get this right while retaining our sanity and jobs and healthy family relations etc. Just sayin'.

[2018-09-21 01:34] mor10 commented on #122
We had a lengthy discussion about this earlier. I just can't find it right now.

[2018-09-21 01:34] mor10 commented on #118
Opinion @ataylorme?

[2018-09-21 01:36] mor10 commented on #105
@ai made a good point here: By having it as a stand-alone file, it is crystal clear to users what's going on and where to change the settings. If it's in `package.json` it can easily get buried.

[2018-09-21 02:09] ataylorme commented on #118
@mor10 we should consider creating a production bundle. See my comment in #101. Maybe something  to consider for ‘v1.1’?

[2018-09-21 19:26] #122 closed, assigned to nobody

[2018-09-21 20:09] thinnling opened #126 "Widgets not showing in Customizer"
When I go to Widgets in Customizer it says:

`Your theme has 1 widget area, but this particular page doesn’t display it.
You can navigate to other pages on your site while using the Customizer to view and edit the widgets displayed on those pages.`

Even though I have widgets on all my pages.
I am on Win7, using latest version on VScode and have run `npm run build`.
I cannot see it in Chrome, Fire

[2018-09-21 21:32] jdelia commented on #72
I am using phpcbf with vscode and it is working.

[2018-09-24 11:53] benoitchantre commented on #86
At the moment, WP Rig has styles on the following classes related to [microformats](http://microformats.org/wiki/hentry):

- `hentry`
- `entry-title`
- `entry-content`
- `entry-summary`
- `updated`
- `published`

The only class not added by WP Rig is `hentry` (added by `post_class()`).

I would like to see styles removed from `hentry`, `entry-title`, `entry-content` and `entry-summary`.
This invol

[2018-09-24 12:00] benoitchantre commented on #104
Thank you for the tip @felixarntz.

[2018-09-24 13:32] miklb commented on #86
I wouldn’t remove the microformat classes, just add new styling hooks

[2018-09-24 15:48] maximls opened #128 "Improve SASS error logging"
## Issue Overview
When there is a user error in SASS the build process continues and the error message gets lost in the log.

## Describe your environment
VS Code and FlyWheel server

## Steps to Reproduce

1. Make a mistake in SASS
2. Watch the build process complete and reload the page
3. Do NOT see CSS changes on the site (hit reload 5 times thinking it's cached while knowing that it's not)

##

[2018-09-24 16:04] benoitchantre commented on #86
At the moment, the idea is not to remove the microformat classes, only to move styles to other classes. In a second step, structured data could be added with JSON-LD ([recommended by Google](https://developers.google.com/search/docs/guides/sd-policies)) instead of microformats.

[2018-09-24 19:20] ataylorme opened #129 "Idea: restructure WP Rig to support a source/build style"
## Issue Overview
The current approach of editing files in a nested `dev` directory within the production version of the theme surfaces some issues.

* Deleted files are not removed from the theme (#101)
* Files not included in production are included (#118)
* It is not intuitive to create new WordPress PHP files in the `dev` directory

## Expected Behavior
When working with other software that ha

[2018-09-24 19:21] ataylorme commented on #121
I would like to add #123 to the discussion for consideration and possible inclusion in `v1.1`.

[2018-09-24 19:32] mor10 commented on #129
Some background on why the folder structure is the way it is right now:

From a user standpoint, two of the main goals for WP Rig were:
a) for it to work within a development environment out of the box meaning once you added WPRig to the `/wp-content/themes/` folder and ran the process, a theme would emerge.
b) the theme development folder (currently `/dev/`) would be the only place most developer

[2018-09-24 19:58] ataylorme commented on #129
I'm proposing not having a nested `dev` directory in the active theme. Instead have `wp-content/themes/wp-rig` be the place to develop and `wp-content/themes/my-theme` be the artifact that WP Rig produces.

Items not necessary in production, such as `composer.json`, would be excluded from the production theme. Conversely production only-items, like minified CSS, would be excluded from the developm

[2018-09-24 20:08] ataylorme commented on #129
This would still be true. Out of the box after running the build you would just get a usable theme in a different directory than WP Rig

I would argue that a source theme would look closer to a _normal_ theme as the templates, `fuctions.php`, etc would not be nested in a `dev` directory until the first build is ran

[2018-09-24 21:13] mor10 commented on #129
that makes sense... ish. I think my brain is too elsewhere at the moment to think it through completely. Give me a few days

[2018-09-25 08:18] felixarntz commented on #129
One important thing that we should consider as well when thinking about this is that **"building" PHP during development is far from optimal and completely redundant**. This is a problem with the current approach, and having completely separate theme directories wouldn't solve that either.

"Building" PHP means simply copying PHP files which has no benefit whatsoever. On the contrary, now when you

[2018-09-25 08:27] felixarntz commented on #121
Given SemVer and the amount of major changes in `v1.1`, I'd like to bring up the idea of actually naming this `v2.0`. In that case especially I think #129 should be part of this release since that would bring us to a point where we have a solid base foundation to which we could then stay more backward-compatible than we have done so far.

Releasing a `v2.0` as next release after a `v1.0` might fee

[2018-09-25 13:43] benoitchantre opened #130 "readme.txt is missing"
[Themes are recommended to include a readme.txt file, using plugin directory’s readme.txt markdown format.](https://developer.wordpress.org/themes/release/writing-documentation/) This recommendation will soon become required.

[2018-09-25 15:52] ataylorme commented on #129
Thank you for the insightful response @felixarntz. I agree with your amendment, which I basically see as changing the proposal to:
1. Moving PHP files out of the `dev` subdirectory
1. Using dedicated `src` and `build` directories for assets that need to be built for production (css, js, images, etc.).

Our current production bundle process could even be modified to use a temporary directory. All p

[2018-09-25 16:17] mor10 commented on #129
If at all possible, I'd like to keep the dev theme as "intact" as possible. Once we start abstracting things by placing them in different folders from where they end up, it becomes much harder for old-school WP developers to follow what's going on, and we step too far away from 99% of the tutorials out there. We have to introduce some sort of ramp, not a vertical cliff.

[2018-09-25 16:32] ataylorme commented on #129
I agree with this sentiment but would argue the current setup of editing files in a `dev` subdirectory already violates it. The WordPress standard is to edit PHP files in the location, not elsewhere, which this proposal rectifies.

As for other assets (CCS, JS, images, etc.), a source and production distinction with a build step is commonplace, both in WordPress theme development and the larger de

[2018-09-25 16:42] mor10 commented on #129
I need to see an example. Can you sketch out a rough file/folder tree or something so I get a general idea of where you see this ending up.

[2018-09-25 17:10] ataylorme commented on #129
The root directory would look like this:

[code]

The dev directory would look like this:
[code]

By default, folks can edit `functions,php`, `header.php`, `footer.php`, etc. in the root theme directory.  PHP files in `dev/optional` can be moved to the root directory if they are needed but largely serve as examples.

The asset (CSS, JS, images, etc.) source files get edited in the `dev` directory

[2018-09-25 17:38] mor10 commented on #130
Should be easy enough to make based on `README.md`.

[2018-09-25 17:38] mor10 commented on #128
Take a look at the v1.1 branch and see if it's better there. @ataylorme has rewired the entire build process.

[2018-09-25 17:40] mor10 commented on #126
Customizer and BrowserSync do not play well together. As in at all. To use the Customizer, you have to open your development site from your local dev environment, not through BrowserSync. It's not something we can do anything about as it's caused by some sort of JavaScript conflict between BrowserSync and WordPress itself. It's weird.

[2018-09-25 17:46] mor10 commented on #129
OK. So you work on PHP files in the root directory and CSS and JS files in the `/dev/` directory? My concern with this is the CSS and JS files live in two places: both root and under `/dev/`, and I have a suspicion many developers will work on the files in root instead of the `/dev/` directory which would not be functional. The reason for putting everything in the `/dev/` directory was to avoid pe

[2018-09-25 17:48] mor10 commented on #121
I'm tending toward the same thinking @felixarntz re moving to `v2.0` in place of `v1.1`. That would allow for #129 to be baked in and moves us a huge step forward.

To do this, we need a quorum. @bamadesigner @hellofromtonya please chime in.

[2018-09-25 17:49] ataylorme commented on #129
I think this will be a concern as long as we have source and production files for CSS/JS.

[2018-09-25 17:51] mor10 commented on #121
Also, we need to think carefully about how we position #109 (BEM/CSS modules). If we say full core rework is `v2.0`, we can set the BEM/CSS modules rework as the goal for `v2.1` now and provide a clear development plan into the future.

[2018-09-25 18:04] bamadesigner commented on #121
Hi all. Sorry for my absence. Disney just sucked away all my bandwidth but we launched! Yay!

I agree we can get #92 in for the next release.

I would say if we decide to do #129 we should bump up to v2.0 because big.

With all that said, I say if we're going to do all this work we might as well try to knock out #129 and release v2.0. Unless I missed something, there's no rush here to get somethin

[2018-09-25 19:03] benoitchantre commented on #130
I think ˋREADME.md` is about the framework but ˋreadme.txt` belongs to the theme built from the framework. It will the contain information used by wordpress.org like the description of the theme, the changelog, etc.

[2018-09-25 20:44] luminuu commented on #129
I think putting the CSS/JS files under a separate folder like `assets`, as Felix suggested, could make it easier to understand that these are the built files.

I like the idea of restructuring WP rig the way Andrew and Felix have suggested it. Then it would be quite close to the theme structure I have developed in the past years. I personally think this is a good approach to integrate modern devel

[2018-09-26 06:15] bamadesigner commented on #81
Completed by #92.

[2018-09-26 06:15] #81 closed

[2018-09-26 12:19] felixarntz commented on #129
I agree with @ataylorme and @luminuu that having PHP files editable in the root and buildable assets through some subdirectory is as close as it could get to how themes are typically written for WordPress.

The unnecessary build step for PHP makes the development process less intuitive for no good reason. CSS and JS _are_ buildable assets though, so it's typically expected for those to be edited i

[2018-09-26 15:58] ataylorme commented on #129
Seems like another good use case for the wiki though I'm not convinced folks already using `1.0` should migrate. Explaining the differences so that folks can use `2.0` in their next project is a good idea but I don't see the benefit in migrating an existing project from `1.0` to `2.0`. It would be a lot of manual effort to move files to the new directory structure, replace the gulp process, etc.

[2018-09-26 16:15] ataylorme commented on #129
Agreed. I think source and build directories are a common practice and one most developers are familiar with (sass has been actively maintained for over 10 years).

[2018-09-26 23:09] ataylorme commented on #129
The main things I am advocating for are
1. Have the PHP files worked on in the root directory rather than the `dev` directory
    - String replacement does not occur to these files directly
1. Have a clear production bundle step (PHP string replacements, minified assets, excluding unnecessary files, etc.)
1. We separate source and built assets

I am indifferent about where the source and built ass

[2018-09-26 23:30] mor10 commented on #129
Move forward with the idea as proposed as `v2.0`. You have my blessing. The `v1.x` branch will stay intact and be the focus of the tutorials. As we built out `v2.0` we'll have to provide some documentation on how it works, and this documentation should target new users. I agree with @ataylorme that having people upgrade from `v1` to `v2` mid-production won't make any sense anyway.

[2018-09-26 23:34] ataylorme commented on #129
@mor10 do you want to create a new `v2.0` branch or keep things in the existing `v1.1` branch? I think similarly to #121 we should decide what will be in `v2.0` aside from these structural changes.

[2018-09-26 23:34] #126 closed

[2018-09-26 23:36] #119 closed

[2018-09-26 23:38] #97 closed

[2018-09-26 23:41] mor10 commented on #90
The easiest way to add Fontawesome fonts is to enqueue the fontawesome stylesheet (from CDN or bundled in the theme) and reference it using regular CSS. Look at how other stylesheets are enqueued in functions.php to get an idea of how to do this.

[2018-09-26 23:41] #90 closed

[2018-09-26 23:43] mor10 commented on #73
is this one good to close?

[2018-09-26 23:44] #58 closed

[2018-09-26 23:44] mor10 commented on #44
I believe all of this is now resolved. Closing.

[2018-09-26 23:44] #44 closed

[2018-09-26 23:45] mor10 commented on #42
Closing due to lack of activity. Also, `v2.0` branch will do this differently. Feel free to reopen and direct conversation toward `v2.0` branch.

[2018-09-26 23:45] #42 closed

[2018-09-26 23:46] mor10 commented on #36
Punting this to `v2.1` to ensure we get all existing build processes settled before we start adding new features.

[2018-09-26 23:48] mor10 commented on #2
Closing in favor of #106

[2018-09-26 23:48] #2 closed

[2018-09-27 00:00] mor10 commented on #129
Let's make a new `v2.0` branch based on the current `v1.1` branch and then put `v1.1` to pasture. That way there is no confusion.

I've created two new milestones: `v2.0` and `v2.1` and started sorting what goes where. All the CSS refactoring stuff has been punted to `v2.1` as has the SVG issue.

All the `v2.0` issues have been added to a Project so we can see where everything is. Most of them are

[2018-09-27 00:08] mor10 commented on #129
`v2.0` branch is now available. It's a duplicate of `v1.1` branch as of a few minutes ago. Have at it!

[2018-09-27 00:13] mor10 opened #131 "The v2.0 issue"
Picking up where #121 left off:

**The purpose of this issue is to decide which features go into WP Rig `v2.0`.**

Some rules:

- `v1.0.x` is now considered legacy. Only bugfixes and Gutenberg updates will be applied to this branch.
- `v1.1` branch is deprecated and will be removed in due time.
- The focus of `v2.0` will be refactoring the build and development process. What that means is what's d

[2018-09-27 00:13] mor10 commented on #121
Closing in favor of #131 to start `v2.0` branch with a clean slate.

[2018-09-27 00:13] #121 closed

[2018-09-27 00:14] mor10 commented on #129
#121 is closed. Let's capture all discussion of what features do or do not go into `v2.0` in #131.

[2018-09-27 05:11] felixarntz commented on #129
Agreed, it’s unlikely people migrate an already active theme from v1 to v2. I think docs about the changes and migration hints would still be useful as there are probably also many folks who are only experimenting with WP Rig so far, and those people might want to move to the new version.

[2018-09-27 07:18] felixarntz commented on #130
We might want to look into mechanisms like https://github.com/xwp/wp-dev-lib/blob/master/generate-markdown-readme, to prevent us from having to do duplicate work with `readme.txt` and `README.md`.

I like the idea of providing a proper `readme.txt` file with the starter theme - on the other hand, that is only relevant for themes to be released on wordpress.org. Maybe an additional flag in the them

[2018-09-30 19:36] mor10 commented on #131
Yes.

[2018-10-01 19:32] mor10 commented on #129
I just realized something which may or may not be a problem: One of my original reasons for keeping the PHP files in the `/dev/` folder and running the Gulp process on them was to allow the developer to use the `wprig` prefix on functions and have them automatically replaced on build. How do we preserve this behavior in the new paradigm @ataylorme?

[2018-10-02 00:53] mor10 commented on #124
I just tested an exact duplicate of the code you've posted here and it works as expected for me. The `.scss` files compile out correctly and I get the desired CSS in `main.css`. Have you tried setting up a fresh version of WPRig in a different folder to test if it's an issue with this particular install?

[2018-10-02 00:56] mor10 commented on #124
Closing as I can't reproduce the issue. Feel free to reopen with more details.

[2018-10-02 00:56] #124 closed

[2018-10-02 00:57] #106 closed

[2018-10-02 00:58] #130 closed

[2018-10-02 13:38] ataylorme commented on #129
Nope, sounds right to me. The only thing different in the production build vs the development build will be production assets (minified css/js, optimized images, translation files, etc) and the string replacements in assets and PHP files.

As @felixarntz said the development build will very much be usable. In an ideal scenario, the development build will be used locally and a CI service can handle

[2018-10-02 15:03] mor10 commented on #129
Makes sense. Just making sure all our i's are dotted.

[2018-10-03 16:47] mor10 commented on #129
Decisions:

- `/dev/` directory is deprecated. Files from the directory will be moved down one level.
- Working directory for JavaScript files will be `/js/src/` which compiles to `/js/`.
- Working directory for CSS files will be `/css/src/` which compiles to `/css/`.
- Images stay in `/images/` and are only processed on production / export.
- Optional PHP files stay in `/optional/`.

[2018-10-03 16:51] ataylorme commented on #129
Do you mean _up_ one level to the root?

[2018-10-03 16:57] mor10 commented on #129
Development process (`npm run dev`):
- Compiles unminified CSS from `/css/src/` to `/css/` passing through PostCSS and StyleLint
- Compiles unminified JS from `/js/src/` to `/js/` passing through Babel and ESLint
- Checks PHP files against PHPCS
- Boots up / refreshes BrowserSync
- Watches for changes to all theme files

Production process (currently `npm run bundle`):
- Compiles minified CSS from

[2018-10-03 17:01] ataylorme commented on #129
Should we go with a whitelist for what is included? Something like all PHP files (excluding those in `optional`), `css` and `js` (excluding their `src` subdirectories), `images`

I think that would be easier to understand and maintain than a blacklist to exclude things like the WP Rig README, etc.

[2018-10-03 17:03] mor10 commented on #129
Absolutely. Similar to the inverted `.gitignore`. Much easier to manage.

[2018-10-03 17:04] mor10 commented on #129
One thing we have to figure out is how to manage custom page/post template files in the `/optional/` folder. They will show up as live templates even when they are in that folder when the developer uses the `/wprig/` directory as a live theme.

[2018-10-03 17:19] ataylorme commented on #129
We can use the [`theme_scandir_exclusions` filter](https://core.trac.wordpress.org/browser/tags/4.9/src/wp-includes/class-wp-theme.php#L1155)

[2018-10-03 17:29] ataylorme commented on #129
Possibly. We could put a large PHP comment in `functions.php` like _Development items only below this line_ and then have the production build trim everything below that comment.

I am not convinced it is necessary though as we will already be removing the `optional` directory from the production bundle so the addition to the filter is harmless.

[2018-10-03 17:40] mor10 commented on #129
let's make it as simple as possible first (use the filter and leave it in place) and then see if we need to do something weird later on

[2018-10-03 18:27] ataylorme commented on #129
I would like to take all the decision here and make a new issue with the work to be done so there is a clear checklist on when work is complete.

**File Restructuring**
- [ ] Move all files and directories in `dev` up one level to the root directory
    - [ ] Exception: `dev/css` should become `/css/src`
    - [ ] Exception: `dev/js` should become `/js/src`
- [ ] use the [`theme_scandir_exclusions

[2018-10-03 18:36] mor10 commented on #129
Missing in production process:
- `readme.txt`
- `screenshot.png`

[2018-10-03 18:38] ataylorme commented on #129
By missing in the process do you simply mean they should be on the whitelist to be copied or they should be generated/altered?

[2018-10-03 18:42] mor10 commented on #129
copied. Otherwise they'll be missing in the production folder

[2018-10-03 18:43] mor10 commented on #129
One consideration: The `/pluggable/` folder will contain JS and CSS files (already does). These need to be handled as well.

[2018-10-03 18:45] ataylorme commented on #129
The checklist has been updated so the whitelist includes `readme.txt`, `screenshot.png` and `/pluggable` for copying

[2018-10-04 09:33] muggeridge commented on #129
Will the Lynda course be upddated to reflect these updates? As someone who loves learning Morten's courses on Lynda it would be re-assuring to know I could learn these new WPRig build processes.

[2018-10-06 14:11] ataylorme commented on #129
#133 started. I have the file restructuring done. I will work on the gulp tasks as I have time. A review of the moved files would be appreciated.

[2018-10-06 17:06] raquelmsmith opened #134 "Question: How to keep my customized theme up to date with changes?"
## Issue Overview
Changing the name of the theme and adding customizations means that any changes made here on the main repo can't be integrated back into my theme. What's the solution?

If I use a child theme, I have to set up webpack/babel/etc again in my child theme. Sorry if this has been asked before, but I scanned through the issues and didn't see it mentioned.

Thanks for the help!

[2018-10-06 19:21] kudesa opened #135 "Incorrect value in the 'calc()' expression"
## Issue Overview

Incorrect value in the 'calc()' function.
## Describe your environment

Example: file style.css line 478
font-size: calc(var(--global-font-size) / 16)rem;
![image](https://user-images.githubusercontent.com/1862552/46574863-2c0a4680-c9b3-11e8-9bd8-0d25555f074c.png)
The syntax of a calc() function is wrong. Missing unit of measure in brackets.

in file editor-style.css
line 8, 141

[2018-10-09 21:06] alexjgustafson commented on #95
Menu is working correctly for me on a fresh install.

[2018-10-10 03:47] WolfEsq opened #136 "Menu Toggle Often not Working in Various Browsers"
## Issue Overview
The menu toggle often does not work in some browsers. I have encountered this in a couple of ways: (1) In Firefox, resize the window and click the menu toggle, (2) In Firefox, refresh the window (leaving it small so the menu toggle shows), and then click the menu toggle, or (3) In Chrome for Android, load the  and click the menu toggle, refresh, and try again.

After a couple of

[2018-10-10 11:47] benoitchantre opened #137 "Remove function prefixes in favor of a namespace"
As the minimal version of PHP in 2.0 branch is set to 7.0, we could use PHP namespaces instead of function prefixes.

[2018-10-10 12:55] benoitchantre opened #138 "Alignments for not found are not loaded"
## Issue Overview
These styles are part of `content.css`, but the styelsheet is not loaded when there are no posts to display. See `index.php`, `search.php` and `404.php`.

## Describe your environment

## Steps to Reproduce

1. Search for a term that returns no result
1. See that the content is not aligned as expected because `content.css` is not loaded

## Expected Behavior
The content of `conte

[2018-10-10 13:17] bamadesigner commented on #136
Thanks for the heads up @WolfEsq! I'll look into it.

[2018-10-11 00:19] bamadesigner commented on #89
Thanks @shangdev!

[2018-10-11 00:19] #89 closed

[2018-10-11 00:50] bamadesigner commented on #95
I cannot reproduce this issue. Please re-open if you're still experiencing issues @hazephase. Thanks!

[2018-10-11 00:50] #95 closed

[2018-10-11 03:31] bamadesigner commented on #136
#140 should take care of it. Thanks @WolfEsq! If you can test the PR, I'd appreciate it.

[2018-10-11 16:53] bamadesigner commented on #138
#141 should address the issue. I've slated for v2.0 since its a possible breaking change.

[2018-10-12 14:54] unpezllamadomiki opened #142 "CSS doesn't work"
Hello, I have had this problem several times within differents configurations (with AMPS and with XAMP). The theme didn't show my css. And the css appears in main.css as I expected. Also, there is another problem too: in the theme page in wp-admin, I didn't appear as the autor.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/33034394/46876743-68b8c080-ce3f-11e8-8b90-3b76b0b028

[2018-10-12 15:14] bresson opened #143 "WP Rig on c9.io"
I'm testing WP Rig on c9.io ... not sure if it will work but here's the first problem I've run into. Any ideas?

[code]

[2018-10-12 15:43] Flapjac commented on #142
Had the same problem too when the AMP for WordPress plugin is on localhost.  Bundle everything up and run it on a 'real' server and it works out-of-the-box - just as Morten says!  There's not much information on the internet regarding the official AMP plugin running on a local server.

[2018-10-12 20:07] unpezllamadomiki commented on #142
I'm not using another plugins. I meant AMPPS, the softaculous software, no amps the plugin. I'm using a fresh instalation of wordpress.

[2018-10-13 19:40] kalenjohnson opened #144 "`wp_print_styles()` is not recommended"
## Issue Overview
`wp_print_styles()` is used [here ](https://github.com/wprig/wprig/blob/v1.0.4/dev/index.php#L28) to conditionally load CSS based on the current template/page. Good idea in theory, however I believe this can be used in a similar way with `wp_enqueue_scripts()` instead.

For reference, I thought this was a good idea I saw while Morten was demonstrating WP Rig at Wordcamp Vancouver

[2018-10-13 19:55] kalenjohnson commented on #144
I'm actually a little confused by some of this wording.

The docs seem to reference both the hook name and the function: https://codex.wordpress.org/Plugin_API/Action_Reference/wp_print_styles

However the original make.wordpress.org link actually mentions it's the hook to not use, the function is fine: https://make.wordpress.org/core/2011/12/12/use-wp_enqueue_scripts-not-wp_print_styles-to-enqueu

[2018-10-14 07:14] andreibarbuta commented on #129
This idea is really great! Having a dev theme to work on and a build theme to be exported to either folder or zip ( by option ) is best. This would make a world of difference for pushing changes to a live site since you would only need to push the build theme and ignore the dev theme.
Also excluding php templates ( pages, posts, etc... ) would eliminate the duplication issues in the UI.
I would al

[2018-10-14 07:38] andreibarbuta commented on #128
I have a solution to this ( Credit to Zell Liew [ https://zellwk.com/ ] )

// We need to install: gulp-plumber and gulp-notify and add them to our gulp vars / const list:
var plumber = require("gulp-plumber");
var notify = require("gulp-notify");

// In the sassStyles function we replace:
.pipe(sass().on('error', sass.logError))
with:
.pipe(customPlumber("Error Running Sass"))

And watch the magic

[2018-10-15 02:22] shangdev opened #145 "How to merge css, js resources?"
## Issue Overview
I noticed that all current resources are requested separately. This will increase the server load. If you merge them once, it would be a good way to run

## Expected Behavior
How to collect all css link, For one request! Js is also.

[2018-10-15 05:55] aristath commented on #143
I haven't worked with c9.io in a long time, but the message looks pretty self-explanatory to me. php-simplexml is not installed or enabled there.
If you're on PHP7+ you should be able to just do this to install it:
`sudo apt-get install php7.0-xml`

[2018-10-16 11:32] andreibarbuta commented on #144
wp_enqueue_style does not print the css resource into the page, you would need another function for that which would create code bloat.

wp_print_styles had some bugs that would sometimes print styles into the admin when used in functions.php, this cannot happen here, as it is only for a page dedicated to front-end. As far as I am aware there is no other function to insert styles into a page while

[2018-10-16 17:08] kalenjohnson commented on #144
That sounds reasonable. Sorry for my misunderstanding

[2018-10-16 17:08] #144 closed

[2018-10-16 17:39] bresson commented on #143
@aristath thanks - I'll give it a shot though composer should have installed that dependency.

[2018-10-17 14:00] felixarntz opened #147 "Update PHPCompatibility to 9.0"
Recently, [PHPCompatibility version 9.0 was released](https://github.com/PHPCompatibility/PHPCompatibility/releases/tag/9.0.0), with breaking changes as the version number indicates. We should sooner or later update WP Rig to make use of it. A couple of changes need to be made to the PHPCodeSniffer ruleset to account for the breaking changes.

The PR for this should be applied against the `v1.1` b

[2018-10-17 18:51] glasgowshipyard opened #148 "Site Navigation Defaulting to Non-Functioning Menu Toggle on All Browser Sizes"
## Issue Overview

Newly set up version of WP Rig appears to have Menu Toggle button set as the default menu navigation, regardless of browser window size.

Further, the menu toggle when clicked does not display menu items, failing to remove display:none from navigation.

## Describe your environment
10.13.6 Mac
Firefox, Chrome, Safari, Opera all latest releases.
`node -v`
`v10.12.0`
`gulp -v`
`[1

[2018-10-17 22:51] #148 closed

[2018-10-18 02:18] shangdev opened #149 "How to change code standard?"
## Issue Overview
I want to use PSR2 as my code standard, How to do it?

I tried to change:
`
    .pipe(phpcs({
		bin: 'vendor/bin/phpcs',
		standard: 'WordPress',
		warningSeverity: 0
	}))
`
to
`
    .pipe(phpcs({
		bin: 'vendor/bin/phpcs',
		standard: 'PSR2',
		warningSeverity: 0
	}))
`

But it doesn't seem to work.

[2018-10-18 21:01] eddiepantoja commented on #82
This issue exists in IE as well. Thanks for all your hard work.

[2018-10-19 12:56] tedsecretsource opened #150 "Missing Help on "Progressive Web App enabled""
## Issue Overview

The readme doesn't contain any information on what "Progressive Web App enabled" consists of.

## Describe your environment

N/A

## Steps to Reproduce

N/A

## Expected Behavior

I was hoping to find some kind of brief description of how to enable common PWA features, such as making the site installable, specifying a custom offline error page, or even a setting that allows the

[2018-10-26 10:42] turneyandhall opened #153 "r"
## Issue Overview

## Describe your environment

## Steps to Reproduce

1.
2.
3.
4.

## Expected Behavior

## Current Behavior

## Possible Solution

## Screenshots / Video

## Related Issues and/or PRs

[2018-10-26 10:45] #153 closed

[2018-10-28 10:50] ivanjuras commented on #150
+1. Would like to know that, too. There's no manifest file, either.

[2018-10-29 13:55] bresson opened #154 "Partial(s) missing from /dev/css/ ?"
In the tutorial videos, there is a CSS partials file that I believe transpires into styles.css but it is missing from the codebase. Is the omission intentional?

[2018-10-31 19:22] benoitchantre commented on #137
@mor10, is that something you would merge into 2.0? If yes, I’m interested to work on a PR.

[2018-10-31 23:22] caseydh opened #155 "Gulp and Browser Sync Really Slow"
Hey guys,

I am new to Word Press, and am trying to pick it up as a tool because I have been picking up a lot of personal clients. WP Rig seemed like a pretty solid tool to use, so I am trying to learn it. However the gulp process is taking ages. I have used gulp and browser sync before they were never this slow. When I save a file it can take well over a minute to refresh the browser. I am not su

[2018-11-05 23:03] caseydh opened #157 "Lost a bunch of work."
Hey still new to WP-Rig and word press. I build out a ton of custom, and then when I restarted my local server it got rid of all of it. It was all save, but its like when I ran Gulp it rebuilt over all of it. I don't want this to happen again, and also if anyone know a way I can restore all that lost work that would be great.

[2018-11-06 01:36] d8m18n commented on #157
Hi Casey,
Were all the edits you performed in the dev folder?

My understanding is that the gulp build process runs it takes all the edits
you make in the dev folder and rebuilds the master files. If you edited the
master files then, when the gulp build process runs it will overwrite them
with the unedited files from the dev folder.

You could restore your work from a previous Git commit, if you h

[2018-11-06 13:16] inweb-pro opened #158 "Can't install packages"
[code]

I stopped [at this step](https://wprig.io/learn/run-the-wp-rig-installer/).
Guys, what's the problem?

Windows 10
node -v && npm -v
v10.13.0
6.4.1

[2018-11-07 17:59] felixarntz commented on #150
The note on "Progressive Web App enabled" indicates that the theme supports WordPress PWA capabilities. It doesn't add the necessary functionality to WordPress itself, there is a [PWA feature plugin](https://github.com/xwp/pwa-wp) developed currently though, which you can install (be aware that it is in an early development stage). The idea is to add the functionality to WordPress core at some poi

[2018-11-07 17:59] #150 closed

[2018-11-07 22:35] felixarntz opened #159 "Use PHP7-supported language features"
## Issue Overview
WP Rig requires PHP 7.0 as a minimum. However, its codebase is entirely PHP 5.2 code. There's no point in missing out on all of the language features the more modern PHP versions provide, and more importantly, as a progressive WordPress theme, WP Rig should also make use of modern PHP practices.

Here is what I suggest:
* Add a `WP_Rig\WP_Rig` namespace for all PHP files, except

[2018-11-07 22:43] felixarntz commented on #101
This will be no longer relevant after #133.

[2018-11-07 23:00] benoitchantre commented on #137
Closed in favor of #159.

[2018-11-07 23:00] #137 closed

[2018-11-08 00:07] felixarntz opened #160 "Look into adding app shell support through AMP"
## Issue Overview

The AMP plugin will soon provide a way to enable an app-shell experience in WordPress, where page transitions are seamless, as in: When you click a link that leads to another part of your site, the header and footer will remain the same while only the actual content is fetched and updated. Click events on these links are intercepted so that the whole page reload does not happen.

[2018-11-08 19:04] GitaStreet commented on #150
You'll want the mentioned plugin. For a child the implementation take a look at this repo.
https://github.com/westonruter/twentyseventeen-westonson?files=1

[2018-11-09 19:11] felixarntz opened #163 "Add JavaScript translation support"
## Issue Overview

Historically, translations in JavaScript have not existed in WordPress, with the localized strings typically being passed to the scripts from PHP, via `wp_localize_script()`. With Gutenberg and the improvements to the JS infrastructure in WordPress, it is now possible to handle translations in JavaScript directly.

See https://make.wordpress.org/core/2018/11/09/new-javascript-i1

[2018-11-09 19:13] felixarntz commented on #155
@ataylorme Just checking, might this be fixed by #133?

[2018-11-09 19:14] felixarntz commented on #147
As there's no `v1.1` anymore, the PR should be made against `v2.0`.

[2018-11-09 19:21] ataylorme commented on #155
Yes, it should be much faster with the changes in #133.

[2018-11-10 13:04] benoitchantre commented on #159
I think the namespace structure should offer some flexibility: we should be able to use a different value for the first level and be able to add other levels if needed.

This could be done with the addition of a `namespace` key in themeConfig.js and a specific search-replace during the build.

[2018-11-11 23:47] #143 closed

[2018-11-12 11:47] tedsecretsource commented on #150
Sorry for commenting on a closed case but this is very interesting and useful. Thank you @felixarntz and @GitaStreet for the pointers. I've also found https://wordpress.org/plugins/super-progressive-web-apps/ which works well enough as a starting point for how it should be done.

Thanks again and great work on the rig!

[2018-11-12 16:45] mikeselander commented on #159
As someone who spent quite a few hours fixing namespaces, standards, etc. last week on a wprig project this change would be a _huge_ improvement. There's no reason not to use modern PHP7 features on a new theme framework these days so I'd ❤️ to see improvements here.

Why do these need to remain PHP 5.2-compatible?

Also, could the namespace be `WP_Rig\Theme` or similar? Dual `WP_Rig`s feels redun

[2018-11-12 17:31] GitaStreet commented on #150
@tedsecretsource
Thanks. Will try that plugin also.

Found this step by step guide today for adding theme support for AMP and PWA:
https://github.com/Automattic/amp-wp/pull/1519

wp_debug didn't like the  'app_shell' => true and some of it's a little over my head right now.

[2018-11-13 00:29] felixarntz commented on #159
@mikeselander

That is because WordPress core doesn't impose any restrictions, and we wanna make sure we don't WSOD sites of users who are unaware of PHP and theme requirements. These are only bootstrap files without actual code anyway, so that's a fair tradeoff I'd say.

I'd prefer to go with `WP_Rig\WP_Rig`, as it's the most common convention to have the namespace be defined as `Vendor_Name\Pack

[2018-11-13 12:49] ataylorme opened #165 "Create a gulp task for replacing strings in the development theme"
@felixarntz and @mor10 we need to decide if a task to run the string replacement in the development version of the theme, rather than always using WP Rig naming in development, is necessary.

One reason I can see for including it is so that names of hooks and filters in the theme that other code, such as a plugin, are using are consistent during development and production.

See [this discussion in

[2018-11-13 23:26] mor10 opened #166 "Change the creator name referenced in various files."
Change the name from "Morten Rand-Hendriksen" to "The Contributors" or something similar in various files:

- `config/themeConfig.js`
- `style.css`
- `gulp/constants.js`
- `package.json`

[2018-11-13 23:28] mor10 opened #167 "Break out verbose documentation from README.md into Wiki"
What the title says.

[2018-11-13 23:28] mor10 commented on #166
To be done once #133 is merged.

[2018-11-13 23:29] mor10 commented on #167
To be done when #133 is merged.

[2018-11-14 17:46] mor10 commented on #165
I see the use case for this, and I think it's important. The key is to provide clear documentation around what happens when a developer uses this function, ie "when you make this change, you have to use your own prefix" etc.

Question: Is it possible to make a stepped process in Gulp? So when the developer runs `npm run gulp -- sourceStringReplacement` they get an alert in command line saying some

[2018-11-14 18:35] ataylorme commented on #165
Yes, the [question query callback in the node readline API](https://nodejs.org/api/readline.html#readline_rl_question_query_callback) makes that trivial to implement.

[2018-11-14 18:49] mor10 commented on #165
Ok. I say go with that then. We can tweak the text during RC.

[2018-11-14 19:04] ataylorme commented on #165
I'll wait for #133 then work on this.

Did you and @felixarntz come to a consensus on that? I don't have an opinion one way or another but want to make sure the team is on the same page.

[2018-11-14 21:30] benoitchantre opened #168 "Move remaining functions related to assets in assets.php"
Functions that manage the assets are now in assets.php, but following functions are still in template-functions.php:

- `wp_rig_filter_script_loader_tag()`
- `wp_rig_get_preload_stylesheet_uri()`
- `wp_rig_add_body_style()` (name is missleading)

They should be moved in assets.php.

[2018-11-16 00:31] felixarntz commented on #165
I'm still leaning against this, but of course am open to discuss it. Having that task somewhere might be okay, but I'd say definitely not in `package.json`.

Either way, this is not breaking, so not super-critical. Could land any time. :)

[2018-11-16 09:57] ataylorme commented on #159
I respectfully disagree and think we should have the include files follow a standard, such as psr-4, and be autoloaded with Composer. If we are going to modernize PHP practices we should do so all the way, not part of the way.

[2018-11-16 09:59] ataylorme commented on #155
@caseydh can you test the build speed in the [`v2.0 alpha`](https://github.com/wprig/wprig/tree/v2.0-alpha) version? Please note that there are some significant file structure and gulp changes.

It would probably be best to test in a new theme rather than attempt to apply the v2 updates to your existing WP Rig theme.

[2018-11-16 10:22] ataylorme commented on #129
Closed by #133. @andreibarbuta we would love help with testing [`v2.0-alpha`](https://github.com/wprig/wprig/tree/v2.0-alpha)

[2018-11-16 10:22] #129 closed

[2018-11-16 10:23] #118 closed, assigned to nobody

[2018-11-16 11:08] benoitchantre opened #171 "Multiple invalid property values in CSS resulting from the build"
## Issue Overview
With branch 2.0, there's a global font reduction implied by an invalid property value on `body`.
The value is `1.25 rem` instead of `1.25rem` (unwanted space). Same thing for custom block font sizes. Looks like it's related to `calc` and appears when the unit is placed outside of `calc`.

## Steps to Reproduce

1. `npm run build` from master branch
1. open the website in a tab
1.

[2018-11-16 13:16] ataylorme commented on #72
Any objection for this being a Composer script rather than a gulp task? That will be a simpler solution as PHPCS is installed via Composer. We might be able to make a gulp task that calls the Composer script as well.

[2018-11-16 15:13] benoitchantre commented on #171
Fixed by #172.

[2018-11-16 15:13] #171 closed

[2018-11-16 15:37] benoitchantre opened #174 "Add functions related to icons (svg)"
## Issue Overview
Most themes need icons for different purposes, including social menu, search, shopping cart, etc.
WP Rig could include related functions to do it the right way.

## Possible Solution

Could be based on [functions-icons.php](https://github.com/samikeijonen/checathlon/blob/master/inc/functions-icons.php) of Checathlon theme.

[2018-11-16 15:53] benoitchantre opened #175 "Bump minumum PHP version to 7.1"
Security support for PHP 7.0 will end in 16 days (3 Dec 2018). I think WP Rig should discourage the use of unsupported PHP version.

[2018-11-17 12:31] jdelia opened #177 "Spelling error in generateCert.js"
## Issue Overview
*successfully* is misspelled on line 68 of generateCert.js

## Describe your environment

WP Rig 2.0

## Possible Solution
Change line 68 to:
log(colors.green('Custom SSL key and certificate generated successfully!'));

[2018-11-17 17:25] jdelia opened #178 "Duplicates styles in editor-styles.css"
## Issue Overview
There are three blocks of styles that are duplicated in the editor-styles.css. Stylelint flagged them.

## Steps to Reproduce

Block on line 39 and 58 are duplicates. 53 and 72 are duplicates. 46 and 65 are duplicates.

## Possible Solution
Remove duplicates.

https://github.com/wprig/wprig/blob/v2.0/assets/css/src/editor/editor-styles.css

[2018-11-18 11:19] felixarntz commented on #159
@ataylorme @mikeselander
WordPress is a user-centric software, and while we are building a modern theme framework, we should still make decisions based on their sanity/benefit weight, compared to possible downsides. We should absolutely use modern PHP features, however fatal-erroring a user's site is an absolute no-go.

While WP Rig is for developers, the end results developers build with it are f

[2018-11-18 15:18] ataylorme commented on #159
The WP Rig documentation says PHP 7 or greater required. I think we should enforce this, not just say it. WP Rig is for developers and by enforcing PHP 7 rather than suggesting it will encourage those developers to have discussions with the users of the themes they are building about their PHP version.

We can hook into theme activation and disallow the theme to be activated and display such a war

[2018-11-18 15:19] ataylorme commented on #175
[PHP `7.1` support](http://php.net/supported-versions.php) will also end at the end of this year. I think we should bump the required version to `7.2`.

cc @felixarntz and @mor10

[2018-11-18 15:33] jdelia commented on #177
See https://github.com/wprig/wprig/pull/181

[2018-11-18 15:33] #177 closed

[2018-11-18 17:33] felixarntz commented on #175
I vote against this for now. Our code doesn't even use PHP 7.0 code yet (but soon it hopefully will #159). Bumping the minimum requirement IMO should happen on significant benefits that such a bump would introduce. WordPress core obviously does a terrible job at bumping PHP (not bumping despite tons of reasons for doing so), but by just doing the exact opposite (always bumping to the latest versio

[2018-11-18 17:40] felixarntz commented on #175
I'd be in favor of clarifying though that 7.0 is a minimum requirement - it is not recommended. I think we should change `PHP 7.0` under requirements to `PHP 7.3 (recommended) or at least PHP 7.0 (minimum required)`

[2018-11-19 07:40] samikeijonen commented on #159
Plus one from me, that's the way to do it.

[2018-11-20 17:03] ataylorme commented on #175
I think instead of specifying PHP 7.3 we should suggest the latest stable version of PHP and link to http://php.net/supported-versions.php

[2018-11-20 17:05] ataylorme commented on #159
I misunderstood what was going on here and what @felixarntz was proposing. We chatted over Slack and I now understand and agree with him that we should have a minimum version that reflects the version WP Rig is compatible with and a recommended version, which is higher.

[2018-11-20 18:08] mor10 commented on #178
Will fix.

[2018-11-20 18:16] mor10 commented on #174
Duplicate-ish of #36. SVG is marked for `v2.1` release.

[2018-11-20 18:16] #174 closed

[2018-11-20 18:19] mor10 commented on #168
Yes to this. We are marking it for `v2.0`. Are you working on a PR @benoitchantre?

[2018-11-20 18:21] mor10 commented on #158
You need to install Composer. Here are instructions for how to install it on Windows: https://getcomposer.org/doc/00-intro.md#installation-windows

[2018-11-20 18:21] #158 closed

[2018-11-20 18:22] mor10 commented on #155
Fixed in `v2.0 alpha`, so I'm closing this issue. Feel free to open again.

[2018-11-20 18:22] #155 closed

[2018-11-20 18:27] #145 closed, assigned to nobody

[2018-11-20 18:30] jdelia commented on #178
Morten - I did a PR for you already. :) https://github.com/wprig/wprig/pull/179

[2018-11-20 18:31] felixarntz commented on #149
Thanks for opening this @shangdev!

I'd like to highlight that the WordPress coding standard is being used here for a good reason: It's not to enforce the actual WordPress code style guide across all projects because using PSR-2 is certainly fine (I use it myself for many projects). However, the WordPress coding standards include way more than that. They incorporate security best practices, perfor

[2018-11-20 18:31] #149 closed

[2018-11-20 18:32] #131 closed

[2018-11-20 18:33] mor10 commented on #104
#123 is merged, so closing. Feel free to open if it still doesn't work.

[2018-11-20 18:33] #104 closed

[2018-11-20 18:36] mor10 commented on #85
The browser support system has been updated for `v2.0 alpha`. Please test on that branch and see if problem persists. Closing for now, but feel free to reopen if problem is still there in the new version.

[2018-11-20 18:36] #85 closed

[2018-11-20 18:36] mor10 commented on #83
This has been fixed in `v2.0 alpha`. Closing for now. If the problem persists in `v2.0 alpha`, please reopen this issue.

[2018-11-20 18:36] #83 closed

[2018-11-20 18:39] bamadesigner commented on #32
Hi @solarianian! Since we haven't heard from you in a while, we're going to close the issue. Feel free to comment if you want to chat some more.

[2018-11-20 18:39] #32 closed

[2018-11-20 19:10] felixarntz commented on #168
Done via #169

[2018-11-20 19:10] #168 closed

[2018-11-20 19:14] jdelia commented on #178
See # https://github.com/wprig/wprig/pull/179

[2018-11-20 19:14] #178 closed

[2018-11-20 19:23] felixarntz opened #182 "Add PWA plugin support"
We should add the `offline.php` and `500.php` templates to properly support the [PWA feature plugin](https://github.com/xwp/pwa-wp). Plus possibly minor additional tweaks if necessary.

@westonruter If you could confirm that these two templates are currently the only thing a theme developer needs to do to support that plugin, that would be great. If you have other ideas for how WP Rig might levera

[2018-11-20 22:51] benoitchantre opened #183 "Let readme.txt for the theme built on WP Rig"
`readme.txt` is a required file for themes distributed in wp.org repository. It should contains informations about the theme build with WP Rig.

I suggest to use something like below and to move the current content of `readme.txt` in another file that will not be part of the bundle. This content could be in the Wiki.

If you agree on that, how can we prevent the automattic replacement of `WP Rig`i

[2018-11-21 10:41] felixarntz opened #184 "`the_attachment_navigation()` prints output even when there are no adjacent images"
The output should only be generated when it actually serves a purpose. Currently it will always be added even when there are no adjacent images.

Due to the expensiveness of this operation, the WP core restrictions to easily discover whether that output is needed or not, and the lack of incentive to even handle attachment pages on most sites (due to negative SEO implications, Yoast SEO disables th

[2018-11-21 11:03] felixarntz opened #186 "Modularize PHP codebase"
## Issue Overview
As a follow-up to #159, let's modularize the PHP codebase to leverage further modern best practices such as autoloading and a more error-proof approach to coding a theme.

Currently the PHP codebase consists of the following files:
* `inc/assets.php`
* `inc/customizer.php`
* `inc/image-sizes.php`
* `inc/setup.php`
* `inc/template-functions.php`
* `inc/template-tags.php`
* `plugga

[2018-11-21 16:36] GitaStreet commented on #142
I also had that problem on localhost when using the current AMP v0.7.2 version from WordPress.org.

Got my problem solved by using the newest release candidate from GitHub. Description and link her:

https://make.xwp.co/2018/11/05/amp-plugin-release-v1-0-rc2/

[2018-11-21 16:47] Flapjac commented on #142
That's what I did too. Although it took some digging!

Original thread here:

https://github.com/Automattic/amp-wp/pull/1311

[2018-11-22 12:09] benoitchantre opened #187 "Remove comments from table of contents in contents.css"
Styles for comments are located in comments.css, the table of contents should not have comments.

https://github.com/wprig/wprig/blob/71ad2ffc37ab687883970cfddbb0092bce48f95c/assets/css/src/content.css#L1-L13

[2018-11-22 15:46] benoitchantre opened #189 "Use theme version when loading editor styles for end users"
## Issue Overview
In production (when `WP_DEBUG` is false or undefined), the version of the editor stylesheet should have a value corresponding to the theme version, not a filemtime value.

[2018-11-22 17:04] benoitchantre opened #191 "Update styles for Cover image block"
The _Cover image_ block has been renamed to _Cover_ since it supports video. CSS classes have changed, but WP Rig still uses old class names. We should update these classes.

I'll submit a pull request.

[2018-11-22 19:43] mor10 commented on #186
I say "yes" as long as we update documentation. We also need to provide some sort of "how do I use this when the tutorial I'm reading says things work completely differently" guide.

[2018-11-22 19:49] mor10 commented on #191
Please do. I love how Gutenberg has been in feature freeze for a month and they are still changing everything all the time.

[2018-11-22 19:52] mor10 commented on #187
Closing because merged.

[2018-11-22 19:52] #187 closed

[2018-11-22 19:54] mor10 commented on #183
To the last question, I think we can shield this file from the rewrite in the build process @ataylorme?

[2018-11-22 20:20] felixarntz commented on #186
Absolutely. I'm happy to work on this once WP Rig 2.0 is close to final.

[2018-11-22 20:49] felixarntz opened #192 "Allow replacing namespace in gulp task"
As a follow-up to #185, we should allow developers to easily replace the `WP_Rig\WP_Rig` namespace throughout.

Replacements like this one are already part of the gulp production build task, however it will currently simply replace `WP_Rig`, causing the namespace to always have the same vendor as package part in its name. However, we need to account for cases where a developer wants the namespace

[2018-11-22 22:17] mor10 commented on #191
Merged. Closing.

[2018-11-22 22:17] #191 closed

[2018-11-22 22:18] mor10 commented on #166
Merged. Closing.

[2018-11-22 22:18] #166 closed

[2018-11-22 22:48] mor10 commented on #135
Proposed solution added and merged. Thanks @kudesa!

[2018-11-22 22:48] #135 closed

[2018-11-23 14:31] benoitchantre opened #199 "Enqueue customizer script with theme version instead of an harcoded value"
## Issue Overview
In production (when WP_DEBUG is false or undefined), the version of the customizer script should have a value corresponding to the theme version, not an hardcoded value.

[2018-11-23 15:22] benoitchantre opened #201 "Decrease selectors specificity in editor-styles.css"
## Issue Overview

CSS selectors should be updated in order to use the minimal required specificity to overload Gutenberg styles.

Pull request coming soon.

[2018-11-23 17:00] benoitchantre opened #203 "Question: should we convert stylesheets to scss?"
Styles for the color palette and the editor show repetitive code.

By using Sass, they could be edited more efficiently. [See example from  Bill Erickson](https://www.billerickson.net/building-a-gutenberg-website/#use-sass).

What are your opinions?

[2018-11-24 20:58] ataylorme commented on #183
@mor10 I don't think we can shield a specific section of a file from replacement. The entire file contents are in a single string in the file stream in gulp and the replacement runs on that string.

I think it would be easier to create a separate file with the credit section and then append that file content to the `readme.txt` after the production build and string replacement happens.

[2018-11-26 04:02] hazephase commented on #136
I am still having this problem, so I don't think it is fixed.

[2018-11-26 14:47] benoitchantre opened #205 "Unneeded styles in editor-styles.css"
## Issue Overview

The style for paragraphs is modified in lines 21-25 then reset to the default values in lines 32-37, instead to use the default styles directly.

https://github.com/wprig/wprig/blob/10be2f78691db30978b03beb40a4c9a2c6015468/assets/css/src/editor/editor-styles.css#L5-L12

https://github.com/wprig/wprig/blob/10be2f78691db30978b03beb40a4c9a2c6015468/assets/css/src/editor/editor-styl

[2018-11-26 15:31] benoitchantre opened #207 "Template files are part of ignored files from version control"
## Issue Overview

In WP Rig v2.0, the build process and project structure has changed. The template files located immediately in `wprig` directory are ignored. These files should be included in version control instead of being ignored.

[2018-11-26 16:05] benoitchantre opened #209 "Should we still override core styles for columns?"
## Issue Overview

Columns block styles have been added when the Columns block was considered experimental. Gutenberg now supports responsive columns using flexbox. Is it still worth to redefined these styles to use CSS grid?

For gallery items, core styles are also overwritten to use CSS grid.

Cc. @mor10

[2018-11-26 16:09] lkraav commented on #209
@benoitchantre what's your information source on Gutenberg flexbox columns?

[2018-11-26 19:01] #207 closed

[2018-11-26 19:03] #205 closed

[2018-11-27 08:33] benoitchantre opened #210 "Privacy policy link is missing"
## Issue Overview

When not required by law, it's a best practice to have a privacy policy and make it easy to find it. At the moment, when the Privacy Policy page is published, there's no link in the footer.

## Possible Solution

1. The simpliest solution is to add a link to this page with `the_privacy_policy_link()` below the credits.

1. Add a menu location and display the Privacy Policy link

[2018-11-27 08:43] benoitchantre commented on #189
Merged.

[2018-11-27 08:43] #189 closed

[2018-11-27 08:43] benoitchantre commented on #199
Merged.

[2018-11-27 08:43] #199 closed

[2018-11-27 08:44] benoitchantre commented on #201
Merged.

[2018-11-27 08:44] #201 closed

[2018-11-27 09:17] benoitchantre opened #211 "Site owners should be able to edit credits"
## Issue Overview

Credits are now hardcoded in `footer.php` which make it hard for site owners to change it. I think credits should be easily editable by the admin.

## Possible Solution

This can be done by adding a setting in the customizer. A text field should be enough. For WordPress.com users, there's a [_Footer Credit_ control](https://en.support.wordpress.com/footer-credits/) in the _Site

[2018-11-28 14:08] benoitchantre commented on #211
In _Atomic Blocks_ theme, this is called _Footer Tagline_

![footer-tagline](https://user-images.githubusercontent.com/1521015/49156143-e9168080-f31c-11e8-9d99-a75bea66a344.png)

[2018-11-28 16:33] benoitchantre commented on #211
Any opinon on this @mor10?

[2018-11-30 08:15] benoitchantre opened #214 "Wrong alignment for the read more link"
## Issue Overview

When you add a _Read more_ block, the alignment of the `more-link` (_Continue reading_) is not aligned with the content. With Gutenberg, the `more-link` is no not enclosed in a paragraph.

Edit: Related https://github.com/WordPress/gutenberg/issues/9490

## Expected Behavior

The _Continue reading_ link should be aligned with the beginning of the content.

## Possible Solution

[2018-11-30 13:37] #182 closed

[2018-11-30 13:37] felixarntz commented on #182
Fixed via #212.

[2018-11-30 13:38] felixarntz commented on #159
Fixed via #185.

[2018-11-30 13:38] #159 closed

[2018-11-30 13:42] felixarntz commented on #79
@mor10 According to the above PR, this should be done, or isn't it?

[2018-11-30 14:15] jdelia opened #216 "Duplicate selector line 270 of content.css"
## Issue Overview
Version 2.0 - There appears to be a duplicate selector on line 270. It is an exact duplicate from line 269.

[code]

I noticed this on my install and stylelint was flagging an issue.

## Possible Solution
If you either remove line 270 or replace **alignwide** with **alignfull** (which looks like that is what it should have been given the pattern of the first two rules ) - the war

[2018-11-30 18:47] ataylorme commented on #79
Addressed by #170

[2018-11-30 18:47] #79 closed

[2018-12-05 16:17] benoitchantre opened #218 "Embedded content is not resized properly"
## Issue Overview

When you see an embedded content on a small screen, for example a YouTube video, you don't see the full width of the content, because it is resized without keeping its aspect ratio. Users expect to see uncropped contents.

## Possible Solution

Add theme support for responsive embeds.

[2018-12-06 19:30] dgmdevelopment opened #221 "Failed to load external module @babel/register on npm run build"
Hi, somewhat new to using gulp, node, npm.  I setup my local environment using ddev on win10 pc.  Thought i followed tutorial on wprig correctly, but on npm run build, i get an error and log report below.  Perhaps i did something incorrect, so this is likely a question, not a bug.  Thanks for helping me out!

```Failed to load external module @babel/register```

Log below - i removed my theme name

[2018-12-09 15:08] ataylorme commented on #186
Merged in #220

[2018-12-09 15:08] #186 closed

[2018-12-09 15:09] ataylorme commented on #192
Merged in #204

[2018-12-09 15:09] #192 closed

[2018-12-09 18:05] ShaneSchroll opened #222 "npm install error"
## Issue Overview

Tried to `npm install` to install dependencies. I have npm, I do not have composer.

## Describe your environment

System: Windows 10 (version: 10.0.17134.441)
npm version: 6.4.1
git version: 2.19.2.windows.1

## Steps to Reproduce

1. checkout wprig v2.0 branch
2. run `npm install` without composer installed
3.
4.

## Expected Behavior

Expected proper dependencies / tools to b

[2018-12-09 18:13] mor10 opened #223 "Fix npm run dev reference in README.md"
early on in README.md it says `npm run build` where it should say `npm run dev`.

[2018-12-09 18:49] ataylorme commented on #128
@andreibarbuta thanks for the sample code! I used that as a starting point.

@maximls can you test #224? The build process won't stop on sass errors but they should be much more visible in the system notifications.

[2018-12-09 18:52] ataylorme commented on #165
@mor10 is this something you want to see in `2.0`? If so I can make a PR, otherwise lets punt or close this issue.

[2018-12-09 18:52] ataylorme commented on #167
Addressed in #194

[2018-12-09 18:52] #167 closed

[2018-12-09 19:41] ataylorme commented on #72
After thinking on this I think we should use gulp. If we were to use PHPCBF directly of via Composer then it will attempt to fix all PHP files, including `vendor`.

We could list out which files to include and exclude but that would be duplicating the same declarations in gulp and we should not repeat ourselves in this way.

However, I tried using [`gulp-phpcbf`](https://www.npmjs.com/package/gulp

[2018-12-09 20:08] luminuu opened #225 "Screenshot in production theme cannot be viewed"
Not sure if this is a huge issue, but I just came across this while testing WP Rig at WCUS Contributor Day.

## Issue Overview

After running the build process, it's not possible to open the screenshot.png in the production theme. It is displaying when viewing the WP admin Themes page though.

## Describe your environment

OS: macOS Mojave
WP Rig: v2.0 branch

## Steps to Reproduce

1. Get a local

[2018-12-09 20:11] stellarcowboy opened #226 "Installation instructions need to specify checking out v2.0 branch"
## Issue Overview
Current installation instructions don't mention checking out the v2.0 branch, which caused me to run the build on the wrong branch.

## Describe your environment

## Steps to Reproduce

1.
2.
3.
4.

## Expected Behavior
`npm run dev` would build the dependencies

## Current Behavior
`npm run dev` did not exist in the master branch, so the build failed

## Possible Solution

## Sc

[2018-12-09 20:39] Shelob9 opened #228 "[Enhancement] Add an optional JSON file for configuration."
I would like to check if a JSON file exists and if so, use that for the config instead of themeConfig.json.

This would solve two problems:

1) Merge conflicts when pulling upstream.
2) I'm building a 1 line theme creator and its easier to work with JSON then rewriting a JS file with find replace or parsing the AST.

[2018-12-09 21:00] Shelob9 opened #230 "1 line theme creation command"
I would like to be able to create a new theme, that uses my Github repo as main remote, adds wprig as an upstream and configures options with one command.

Goal would be to create themes with `npx create-wprig-theme https://github.com/name/theme-slug theme-slug`

I am developing this here: https://github.com/shelob9/create-wprig-theme

Once ready, I propose to move my repo to https://github.com/wp

[2018-12-09 21:18] digisavvy opened #232 "BrowserSync not loading site after entering URL in themeConfig.js"
## Issue Overview
There is confusion when running the theme for the first time. By default, the theme has `'wprig.test:8888'`. For some folks, the might think that `8888` should be part of the URL. I had issues with the browsersync loading the site when I prepended my local URL to port `8888`. When I removed `8888` the site loaded in browsersync just fine.

## Describe your environment

This happe

[2018-12-09 21:48] bamadesigner commented on #232
@mor10 Basically the issue here is confusion that, because the `:8888` is included in the default URL example, that you need a port in your local URL. When most likely you do not. I propose the best solution is simply to remove the `:8888` from the base config. Can you think of any reason not to? Was there a reason for including it initially?

[2018-12-10 03:02] digisavvy opened #234 "Starter Theme Philosophy"
## Issue Overview

This isn't an issue so much as a question and comment. Please forgive the wall of text that follows.

It would be _nice_ to know what WP Rig's opinions and philosophies are with respect to what it thinks should be included in a starter theme. The tools we use to build websites to the web hosting platforms we host those websites on are all opinionated. What we choose largely depe

[2018-12-10 05:01] Shelob9 opened #235 "IDs for headings in documentation page."
It would be super helpful if I could link to headings in the docs. If I could say `for installation instructions, see https://wprig.io#install-dependencies` or similar.

<img width="1058" alt="screen shot 2018-12-09 at 10 58 24 pm" src="https://user-images.githubusercontent.com/1994311/49711629-0c3b0d00-fc06-11e8-94d5-90e24efdc988.png">

[2018-12-10 05:18] Shelob9 commented on #230
I updated the README with more information about who this is for, what it does. https://github.com/Shelob9/create-wprig-theme/blob/master/README.md

I added both what the command will be when I'm done, and the commands to test for now. My brain is too mushy to finish. To get to a v1 I need to:
1) npm install, etc.
2) Author, namespace and proxyUrl arguments
3) Add to npm
4) Get https://github.com/

[2018-12-10 18:00] digisavvy opened #236 "Proposal: Getting Started Guide"
<img align="right" width="90" height="90"
     src="https://avatars1.githubusercontent.com/u/38340689"
     title="WP Rig logo by Morten Rand-Hendriksen">
# WP Rig: Getting Started Guide

## Getting Started
So you want to level up your theme development game by using a truly progressive, accessible, forward-thinking WordPress theme. Great! You've downloaded your theme, installed the requisite npm

[2018-12-10 19:25] scottheappey opened #237 "MAC npm ERR! Error: EACCES: permission denied"
## Issue Overview
I can't install NPM or run the build. Saying npm ERR! Error: EACCES: permission denied and gulp issues ...

## Describe your environment
I'm running MAMP Pro on Mac. I did a fresh install in a new folder called Development. Macintosh HD⁩/Development⁩/

## Steps to Reproduce
1.
'use strict';

module.exports = {
	theme: {
		slug: 'slhd',
		name: 'SLHD',
		author: 'SH'
	},
	dev: {

[2018-12-12 21:12] mor10 opened #238 "Update editor styles to new convention"
See https://wordpress.org/gutenberg/handbook/designers-developers/developers/themes/theme-support/#editor-styles

[2018-12-12 22:53] greatislander opened #240 "Add accessibility testing use aXe-puppeteer"
## Issue Overview

Following up from the accessibility team hackathon at WCUS Contributor Day, I'd love to implement the accessibility testing framework that @ryelle and I worked on for WP Rig. This would allow anyone working on a WP Rig-based theme to run tests against their local development environment, and would also allow running the same tests against [sample content](https://github.com/wpac

[2018-12-13 06:05] tanmalik786 commented on #232
@bamadesigner I believe you can set proxyURL exactly like the URL you use to access your local site in your browser [like localhost/wprig or wprig.local whatever it's without the http or https part] and then can experiment with bypassPort to see if the Browsync loads well - for me bypassPort: 8181 worked just fine.

[2018-12-13 13:17] Peech1502 commented on #237
Hi,

i have the same problem! I hope for some help soon

[2018-12-13 19:38] Peech1502 opened #241 "Problem with npm run build"
## Issue Overview

wprig does not build my theme
## Describe your environment

I am working on a Mac and i have followed the instructions on wprig.io I am working with VSC
## Steps to Reproduce

Svens-Mac-mini:peedo svendressler$ sudo npm install
Password:

node-pre-gyp ERR! Tried to download(404): https://fsevents-binaries.s3-us-west-2.amazonaws.com/v1.2.3/fse-v1.2.3-node-v67-darwin-x64.tar.gz
no

[2018-12-14 06:01] shangdev opened #242 "npm update to 6.5.0 cause Cannot find module 'eslint-config-psr2' error."
## Issue Overview
Update npm to v6.5.0, then run `npm run build` give me a error:

`Cannot find module 'eslint-config-psr2'`

## Describe your environment
wprig version: 2.0
npm versiong: 6.5.0
node version: 8.11.4

## Steps to Reproduce
1. Update npm to v6.5.0
2. run `npm run build`

[2018-12-14 06:08] #242 closed

[2018-12-14 12:15] felixarntz opened #243 "Use more template parts more granularly"
## Issue Overview

As my last task for 2.0 that breaks backward-compatibility by all means, I would like to improve our usage of template parts so that they are used more granularly. Some notes on what I mean by this and why it is necessary:
* With template files containing too much markup, you often end up overriding huge parts of the original codebase even though you only want to change a single

[2018-12-17 19:52] maximls commented on #128
@ataylorme I tested and everything looks great! Thanks for working on it.

[2018-12-18 02:36] shangdev opened #246 "v2.0 Not a good development structure!"
I used v2.0. found a program.

Only run `npm run bundle` , The specific theme slug/name will be replaced.

So, If the following situation occurs,
I don't want to generate bundle, Just want to upload the file under the theme to github, deploy with CI,
That means that all theme slugs under this theme cannot be replaced. They will remain the same, that is wp_rig.

Best wishes~!

[2018-12-18 15:24] samikeijonen opened #247 "Using `cssVariables.json` and `themeConfig.json`"
I have a question using `cssVariables.json`. Would it be neat that it would be the only place where you set your variables?

For example `--large-font-size` is set in `cssVariables.json` but then you set it again in `add_theme_support( 'editor-font-sizes' )`.

I'm trying to vision that we could use variables from single location in CSS, PHP, JS, design systems, you name it.

Also if I set `convert

[2018-12-18 17:39] brigleb commented on #241
Are you sure you've installed Composer first? I was able to just use `brew install composer` first and skip the overly-complicated instructions on that site, which is nice if you've got Homebrew installed.

[2018-12-18 19:21] Peech1502 commented on #241
yes i have installed composer first and also homebrew is installed. always the same:

Svens-Mac-mini:peedo svendressler$ sudo npm run build
Password:

[20:07:09] Failed to load external module @babel/register
[20:07:09] Requiring external module babel-register
internal/modules/cjs/loader.js:605
    throw err;
    ^

Error: Cannot find module 'gulp-image'
    at Function.Module._resolveFilename (in

[2018-12-20 06:44] mor10 opened #250 "Consider further optimization of Google Fonts"
See https://css-tricks.com/google-fonts-and-font-display/

[2018-12-20 06:46] mor10 commented on #247
I'm investigating deprecating the `cssVariables.json` file for a true CSS file as it appears from some PostCSS documentation this is possible. If so, it might resolve this issue as well.

[2018-12-20 09:01] mor10 commented on #246
Thoughts / input @ataylorme?

[2018-12-20 09:02] mor10 commented on #241
Looks like some dependencies are missing. Try running `npm install` again and see what happens.

[2018-12-20 09:04] mor10 commented on #240
Thank you for suggesting this @greatislander. This is absolutely something we would be interested in including. Please join our office hours when you have a chance and let's figure out how we can make this work!

[2018-12-20 09:07] mor10 commented on #237
This looks like a permission error - npm not being able to write to the directory. To test, try adding WP Rig to a different directory and run `npm install` again. It could be a configuration problem with the specific folder or environment you're working in or it could be related to security settings on your computer. Do a general Google search for "Error: EACCES: permission denied" and you'll see

[2018-12-20 09:08] mor10 commented on #236
Yes to this! @digisavvy do you want to expand on this and make it part of either the wiki here in the repo or a guide on wprig.io?

[2018-12-20 09:21] mor10 commented on #235
Done. Closing.

[2018-12-20 09:21] #235 closed

[2018-12-20 09:22] mor10 commented on #234
I started writing something like this earlier this year and never finished. Putting it at the top of my list. TBA.

[2018-12-20 09:23] mor10 commented on #232
@bamadesigner The reason for including it is _if_ you need a port, you also need to know where it goes. This looks like a documentation problem to me.

[2018-12-20 09:30] mor10 commented on #216
last line should be `alignfull`. Can you submit a PR?

[2018-12-20 09:31] mor10 commented on #211
Good idea. Marking it for future release.

[2018-12-20 09:34] #91 closed

[2018-12-20 09:35] mor10 commented on #203
I want to avoid forcing the use of Sass. The same effect can be achieved using CSS custom properties and processed via PostCSS.

[2018-12-20 09:37] mor10 commented on #184
Attachment pages have significant value, and being able to navigate between them is essential. The problem here, from my perspective, is lack of support from WP core and theme developers not utilizing this feature effectively. Rather than remove the feature, we should push for better support in core so the process is not so expensive.

[2018-12-20 10:02] benoitchantre commented on #250
@mor10 I would wote for the easiest way to do it: we should host the font and it's stylesheet locally. It's better for privacy and you are in control of cache duration when files are on your server. The downsides are that you don't benefit from Google CDN (you can use another one) and that you need to manually update the font files and stylesheet.

[2018-12-20 10:29] benoitchantre opened #251 "Search results display full posts"
## Issue Overview

Without the `search.php` template, search results display full posts. This is not usefull for the end user. When there's a widget area, the developer of the theme doesn't control whether there will be a search widget or not. I think it's a good practice to keep this template enabled by default.

## Expected Behavior

Search results should always display an excerpt.

## Current B

[2018-12-20 15:07] eviolini opened #253 "Question: Which version of WordPress for current build?"
When starting a new project and pulling a fresh copy of wprig, which version of WordPress should be used?

[2018-12-20 15:16] ataylorme commented on #246
Seems like #165 would take care of this. @mor10 still waiting on your feedback as to whether that should move forward. This use case seems to indicate yes.

[2018-12-20 15:47] Ismail-elkorchi commented on #250
Instead of adding complexity to fix problems that Google Fonts introduces, why not use the system font stack ? The system font stack don't require any download time by the browser, and as a result it help reduce the overall page weight.

[2018-12-20 16:01] ataylorme commented on #230
I think this is a great idea as well! I don't think I'll have time to look at this until after the holidays but I also don't think this is a blocker for v2. In fact, we should probably ship v2 first, then work on this so folks can easily get up and going with WP Rig.

[2018-12-20 16:08] ataylorme commented on #246
@shangdev if you do not wish to run `nom run bundle` manually you could automate that step in CI. In fact, continuous integration services are built to handle steps such as creating the production bundle before deploying.

[2018-12-20 16:10] greatislander commented on #230
An alternative approach could also be using:

[code]

Adding a [post-create-project-cmd](https://getcomposer.org/doc/articles/scripts.md#command-events) to composer.json could perform some customization (e.g. changing slugs, GitHub URLs etc).

[2018-12-20 16:15] ataylorme commented on #165
The production bundle step:
1) create the production directory
2) runs all the compilations/optimizations (PHP, JS, CSS, translations, etc.)
3) copies only necessary files, omitting files not needed for production (source files. README, etc)
4) does string replacement
5) optionally create a `.zip`

If string replacement were done on the dev copy of the theme the only difference between it and the

[2018-12-20 17:02] ataylorme commented on #225
@luminuu thank you for the bug report. Can you test the fix in #254?

[2018-12-20 17:09] ataylorme opened #255 "If compress is false in theme config production files are copied to the theme directory"
## Steps to Reproduce

1. Set the `compress` option to `false` in `config/themeConfig.js`
2. Run `npm run bundle`

## Expected Behavior
The production theme directory is created and a `.zip` archive of that directory is not created.

## Current Behavior
A copy of the production files is saved to `wp-content/themes`, outside of both the development and production theme directories.

[2018-12-20 17:36] mor10 commented on #250
WP Rig is a theme development rig. It's purpose is to provide a best-practice starting point for developers. Providing the best possible setup for the most popular font solution fits under that target

[2018-12-21 10:32] felixarntz commented on #184
I have since reversed my opinion. Instead, the PR for granular template parts #244 actually fixes the problem that the output is unconditionally printed. :)

Also better core support is on its way hopefully (see https://core.trac.wordpress.org/ticket/45708).

[2018-12-21 10:33] #243 closed

[2018-12-21 10:33] #184 closed

[2018-12-21 10:52] #218 closed

[2018-12-21 13:50] #210 closed

[2018-12-21 14:05] benoitchantre opened #257 "Block style variations"
## Issue Overview

There are good chances that a theme register block style variations.

Is that something we want in WP Rig? If yes, how (code or documentation)?

[2018-12-21 17:18] #214 closed

[2018-12-21 20:40] benoitchantre opened #258 "No descending specificy for .wp-column-block"
## Issue Overview

Descending specificy errors in content.css

[code]

[2018-12-22 13:39] ataylorme commented on #225
Closed by #254 in the `v2.0` branch

[2018-12-22 13:39] #225 closed

[2018-12-22 13:40] ataylorme commented on #255
Closed by #256

[2018-12-22 13:40] #255 closed

[2018-12-25 01:39] dgmdevelopment commented on #221
it was the 1.0.4. branch.. should i retry with 2.0?

[2018-12-25 20:54] bamadesigner opened #261 "Package wimg/php-compatibility is abandoned"
## Issue Overview
When running `npm install`, I get the message "Package wimg/php-compatibility is abandoned, you should avoid using it. Use phpcompatibility/php-compatibility instead."

## Describe your environment

## Steps to Reproduce

1.
2.
3.
4.

## Expected Behavior

## Current Behavior

## Possible Solution

## Screenshots / Video

## Related Issues and/or PRs

[2018-12-26 21:38] bamadesigner opened #265 "themeConfig.js is being run numerous times during gulp"
## Issue Overview
I logged the results of the theme config merge during the gulp process and its logged at least 8 times. Which means the merge function is running 8+ times.

It would be great to clean up/cache this info so this code only runs once.

I was running on v2.0 branch.

[2018-12-26 21:39] bamadesigner commented on #265
Ping @ataylorme.

[2018-12-28 17:16] jdelia commented on #216
Yes, happy to. @mor10

[2018-12-28 22:18] digisavvy commented on #236
I'd be happy to expand on this. I think a Wiki Entry would probably be best place for it. Getting started or Readme guides can reference it.

[2018-12-28 23:03] ataylorme commented on #265
@bamadesigner the [`getThemeConfig`](https://github.com/wprig/wprig/blob/v2.0/gulp/utils.js#L20:L59) helper function does cache the config, and uncached defaults to `false`.

Some tasks, such as [styles](https://github.com/wprig/wprig/blob/v2.0/gulp/styles.js#L22), call `getThemeConfig` with uncached set to `true`.

I think we need to audit where all such calls bypassing the cache are happening an

[2018-12-29 18:36] bamadesigner commented on #221
@dgmdevelopment can you try on `master` or `v2.0` branch?

[2018-12-29 18:46] bamadesigner commented on #221
I just re-created on `1.0.4` and I get the same message.

@dgmdevelopment I think this issue has to do with conflicts between versions of babel and versions of npm. Ultimately, though, I don't think it has an effect on the compile itself and is just a warning.

Also, this issue has been addressed in WP Rig v2.0 which is about to be released.

With all that said, I wouldn't worry about it and the b

[2018-12-29 18:46] #221 closed

[2018-12-29 18:48] bamadesigner commented on #265
@ataylorme I hear ya. It would be great if the merge was just run once on the build and stored. I can't think of a scenario where it needs to be run again to produce the same data unless we change the value during the build. Do we?

[2019-01-02 01:06] wayneconnor opened #268 "Some installation tips - documentation"
## Issue Overview
A few comments on documentation from a first time user for setting up wp-rig in OS X with local flywheel.

 - When installing the local development version of Wordpress DO NOT use the default domain of site.local  as it slows downs BrowserSync dramatically. Instead use site.mylocal

- When I typed "npm install" it would not run composer. I had to type "sudo mv composer.phar /usr/

[2019-01-03 16:13] ataylorme commented on #265
@mor10 can weigh in here but I remember support for changing theme configuration on the fly was desired. One example would be toggling debugging for CSS/JS without needing to stop and restart gulp and the entire watch process.

Maybe we can make hot reload of the theme config a config variable?

[2019-01-03 16:25] ataylorme opened #269 "v2.0 feature freeze"
This issue is meant to discuss a feature freeze for `v2.0`. At the time of writing the [`2.0` milestone](https://github.com/wprig/wprig/milestone/2) is 70% complete. Over the last few months, we have continued to add to the scope of `v2.0`.

I would like to propose that all new features, not bug fixes, for `v2.0` should be proposed by January 17th, 2019 (two weeks from today).

Proposed features w

[2019-01-03 17:30] ataylorme commented on #128
Closed by #224

[2019-01-03 17:30] #128 closed

[2019-01-03 17:30] ataylorme commented on #105
Closed by #227

[2019-01-03 17:30] #105 closed

[2019-01-03 17:32] ataylorme commented on #216
Closed by #266

[2019-01-03 17:32] #216 closed

[2019-01-03 17:36] mor10 commented on #269
Sounds reasonable.

[2019-01-03 17:37] bamadesigner commented on #269
Sounds good to me. Thanks @ataylorme!

[2019-01-03 17:46] ataylorme commented on #203
https://codepen.io/jakealbaugh/post/css4-variables-and-sass is an interesting read

[2019-01-03 18:29] mor10 opened #270 "Update documentation re: child themes"
State in `README.md` that WP Rig should not be used to build a child theme. See #260.

[2019-01-03 21:16] benoitchantre commented on #250
Something to test: https://github.com/swissspidy/local-webfont

[2019-01-03 22:14] miklb commented on #250
seems relative https://github.com/zachleat/performance-sometime

[2019-01-04 05:55] luminuu opened #271 "Browsers can't resolve CSS variables"
## Issue Overview

I just pulled the current state of v2.0 to a fresh installation. After setting it up, the CSS variables are not available, like `var(--global-font-family)`.

## Describe your environment

Editor: VS Code
Browser: Firefox, Chrome, Safari
OS: macOS Mojave

## Steps to Reproduce

1. Pull WP Rig to a new directory.
2. Checkout branch `v2.0`
3. Do the setup routine.
4. Change the fon

[2019-01-04 19:52] bamadesigner commented on #271
Hi @luminuu! This PR will address the issue: https://github.com/wprig/wprig/pull/267

Thanks for reporting!

[2019-01-04 19:52] #271 closed

[2019-01-04 20:45] mehmoodak commented on #61
The actual cause of this is `zopflipng` dependency in npm. For me initialising the image with following configuration work fine in which I disable `zopflipng` and enable `optipng`.
[code]

[2019-01-07 00:00] luminuu opened #273 "Additional assets don't get bundled"
## Issue Overview
I have created a theme with additional font files in the `assets` folder, in a `fonts` subdirectory. When bundling the theme for production, these assets don't get added.

## Describe your environment

macOS Mojave, recent clone of WP Rig (4th January)

## Steps to Reproduce

1. Have a WP Rig working environment ready.
2. Add a folder with some files to the `assets` folder, for e

[2019-01-07 19:20] ataylorme commented on #273
I'm not sure grabbing any extra files in assets is a good idea as there may be unintended files (OS files, code editor hidden files, etc.)

An alternative would be to specify which assets/additional assets to copy in [the configuration](https://github.com/wprig/wprig/blob/v2.0/config/config.default.json)

@luminuu would that work for you? For example, you would be able to add something like `asset

[2019-01-07 19:44] luminuu commented on #273
@ataylorme That would absolutely work for me, I think it's the best solution for this. I thought about this way today too but you were faster writing it down here :)

[2019-01-07 22:09] benoitchantre opened #274 "Search results should use paginated links instead of previous / next links"
## Issue Overview

Actually, when there are enough search results to display a pagination, `Older posts`/ `Previous posts` links are displayed. These labels are not optimal, because search results may contain other post types. It's also more frequent to see paginated links for search results than previous/next links (e.g. search engines). Paginated links would be better.

[2019-01-10 17:33] ataylorme commented on #253
The latest version of WordPress `5.x`!

[2019-01-10 17:33] #253 closed

[2019-01-10 17:50] ataylorme opened #275 "Document adding/changing assets"
It is not apparent that you need to edit the [Styles Component](https://github.com/wprig/wprig/blob/v2.0/inc/Styles/Component.php) when new JS/CSS/SASS files are created.

[2019-01-10 18:12] mor10 opened #276 "Custom color names"
Introduce naming convention for theme colors (`theme-primary`, `theme-secondary`, `theme-black`, etc).

Create supporting Wiki doc to explain.

[2019-01-10 18:14] mor10 opened #277 "Write a documentation Wiki post on CSS file organization"
- Why CSS is split into separate files
- how to call CSS files from within templates
- how to preload CSS files if required

[2019-01-10 18:15] ataylorme commented on #275
@felixarntz do you want to work on this? I think explaining the Styles Component is something you can do well.

[2019-01-10 18:16] #261 closed

[2019-01-10 18:17] mor10 opened #278 "Convert cssVariables.json to cssVariables.css with corresponding update to PostCSS"
`postcss-preset-env` allows for a proper CSS variables file to be used in place of a json file. See if that's possible.

[2019-01-10 18:19] ataylorme commented on #275
Also noting that in WP Rig office hours we discussed a separate component for JavaScript as it is not intuitive to have it the Styles Component.

[2019-01-10 18:29] drivenfaroff opened #279 "Expected CSS Grid to work in IE 11"
## Issue Overview

Expected CSS Grid to work in IE 11 as 'last 2 versions' was set in themeConfig.js for browserslist.

## Describe your environment

VS Code
IE 11

## Steps to Reproduce

Used some standard CSS Grid and noticed layout issues in IE 11.

## Possible Solution

Added this to gulpfile.babel.js to enable correct grid output through autoprefixer.

`autoprefixer: {
grid: true
},`

[2019-01-10 20:25] mor10 opened #280 "Replace require-uncached with import-fresh"
`require-uncached` has been deprecated for `import-fresh`:

https://www.npmjs.com/package/require-uncached

https://www.npmjs.com/package/import-fresh

[2019-01-11 00:41] mor10 commented on #278
Merged. Closing.

[2019-01-11 00:41] #278 closed

[2019-01-11 08:19] paaljoachim opened #282 "Thoughts on WPRig child themes"
## Issue Overview
Well I have watched some of the WPRig videos and became very fascinated by the setup.

I am using getbeans.io for the moment https://hellofromtonya.com/blog/met-beans-theme-framework/ I even made a tutorial site for it. What I like with the Beans Framework is that I can add UiKit modifications to it. It feels very lean and fast. It just feels easy to customize. Beans also uses a

[2019-01-11 09:03] samikeijonen commented on #247
I noticed #278 for the change using `*.css` files for variables. That makes sense, they are CSS after all.

However I didn't understand does it solve the original issue in here?

[2019-01-11 15:06] maltesesolutions opened #283 "No Vendor directory created during npm install"
## Issue Overview

npm install error
No vendor directory created.

## Describe your environment

I am running Mac OS, and have been following along with your video course: "WordPress: Building Progressive Themes with WP Rig"

I have all the dependencies described in the video.

## Steps to Reproduce

1. I have tried several times with clean installs and get the same results and errors

## Current

[2019-01-11 18:32] felixarntz opened #284 "Write a documentation Wiki post on Gulp / NPM workflow"
We need a more detailed article on the Wiki that dives deeper into the Gulp workflow. It should go beyond just the "how to set up the theme initially". Things that should (among others) be included:

* how do I use all these things? what's the intended workflow?
* which problems are there with the more historical approach for these things, and how does WP Rig solve them?
* which things are differe

[2019-01-11 18:34] felixarntz opened #285 "Write a documentation Wiki post on PHP architecture"
Similar to #277 and #284, a detailed post explaining the PHP architecture should be written.

[2019-01-11 18:34] felixarntz commented on #277
Similar documentation issues in other areas (for reference): #284, #285

[2019-01-11 18:36] felixarntz commented on #285
Here is the suggested article I worked on. Please review :)

---

# PHP Code Organization in WP Rig

WP Rig changes the way WordPress themes are developed, not only on the client side, but also on the server side.

Historically, the common WordPress theme's PHP codebase has consisted of random PHP functions, scattered across different files, without too many architectural thoughts behind it. And w

[2019-01-12 16:06] tessak22 commented on #37
Has anyone made progress on Woo support? I am planning to dive into it this weekend, but want to make sure someone hasn't start any work on it yet.

[2019-01-12 18:33] mor10 commented on #37
Go for it! Make sure you work with the `v2.0` branch and follow the PHP patterns already set up. WooCommerce and other support should be stand-alone and activated through a single reference.

[2019-01-15 22:04] benoitchantre opened #287 "Question: should we add action hooks?"
What are your opinions about adding action hooks?

I think it might be usefull to have some action hooks: they would help adding some features offered by plugins, for example breadcrumb. In this situation, we could create a Breadcrumb component, which could be compatible with one or many plugins. It would be cleaner than to modify many template files.

[2019-01-16 02:19] ataylorme commented on #284
I am traveling to Europe on 1/23 and expect to take a first pass at this while on the plane

[2019-01-16 13:20] samikeijonen commented on #287
I'll vote no because:

- There will be no standard for hook names. And I hope Rig doesn't start one:)
- That's why we have small templates where we can modify stuff via child theme in public themes.
- For custom themes parent theme works also.

[2019-01-16 13:42] benoitchantre commented on #287
Thank you for your feedback @samikeijonen.

[2019-01-16 18:35] tessak22 commented on #82
Also had this same issue, and my "Menu" link to open the mobile menu also wouldn't work. I disabled lazy loading and that seemed to resolve both issues. The menu thing was absolutely bananas because at some times, the menu would work, even when lazy loading was on, but most of the time it wouldn't work. I do not need lazy loading for this site as it's not overly image-heavy but something to note.

[2019-01-16 19:13] mor10 commented on #82
This was on the V2 branch? Warrants further investigation.

[2019-01-16 22:03] benoitchantre opened #288 "Update to WordPress Coding Standards 2.0.0"
https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/releases/tag/2.0.0

[2019-01-17 00:02] kokimu opened #289 "Menu Toggle and Menu Dropdown not Working on iPad"
## Issue Overview

I found menu toggle for the narrow menu and menu dropdown for the regular menu are not working on iPad. It works fine on iPhone though.  I'm using BrowserSync.
When I try responsive design mode on the web browser on a laptop, it works fine on any viewport sizes.
Not sure if this is because the version of my iPad and its iOS are old...

## Describe your environment

Editor: VS Co

[2019-01-17 10:01] benoitchantre commented on #269
Should proposed features be linked here?

[2019-01-17 17:25] ataylorme commented on #269
Yes, a link here would be good for visibility. Proposed features should have their own issue where conversation can take place.

[2019-01-17 17:36] ataylorme commented on #289
@tessak22 have you been having menu issues? If so, can you describe them here.

[2019-01-17 17:41] ataylorme commented on #283
@maltesesolutions are you working with the original version of WP Rig or the new (in-progress) `2.0` version?

[2019-01-17 17:46] ataylorme commented on #287
I vote no because [`get_template_part` has an action hook for each template included](https://core.trac.wordpress.org/browser/tags/5.0/src/wp-includes/general-template.php#L134) in the form of `get_template_part_{$slug}`.

Since WP Rig makes liberal use of template parts this gives us many action hooks already.

[2019-01-17 17:47] mor10 commented on #283
1. What version of WP Rig are you using?
2. Is Composer installed?

[2019-01-17 17:51] mor10 commented on #279
Note to self: Look at new CSS grid tooling from PostCSS.

[2019-01-17 18:02] maltesesolutions commented on #283
I have:

npm 6.5.0
composer 1.8.0
gulp 2.0.1

wprig 1.0.4 (downloaded from github)

[2019-01-17 18:02] ataylorme commented on #203
With #281 merged I no longer this we should switch to Sass by default

[2019-01-17 18:12] #73 closed

[2019-01-17 18:12] mor10 commented on #82
Closed via #198

[2019-01-17 18:12] #82 closed

[2019-01-17 18:14] mor10 commented on #165
1. Add the gulp feature
2. Don't add it to `package.json`
3. Document for those interested

[2019-01-17 18:15] ataylorme commented on #165
The consensus in the WP Rig meeting is that there can be a gulp task but it should not be a script in `package.json`.

We need to document this as well - it is ejecting from WP Rigs workflow.

[2019-01-17 18:15] benoitchantre commented on #269
#173, #282 and #286

[2019-01-17 18:21] mor10 commented on #183
Suggestion from @ataylorme: Build two files: `readme.txt` and `credits.txt` to get merged on build. `readme.txt` gets processed and string replace occurs. `credits.txt` gets merged without string replace.

[2019-01-17 18:44] ataylorme commented on #269
Open issues (as of this comment) have been reviewed and those determined to be needed for `2.0` have been added to the [`2.0` milestone](https://github.com/wprig/wprig/milestone/2).

The feature freeze is now in effect with a target date of 1/31 for completion of the 29 open issues in the `v2.0` milestone.

[2019-01-17 20:08] mor10 commented on #247
I've marked this as "wontfix". Here's why:

Currently, due to how the block editor works, custom font sizes and colors must be defined in three places: `functions.php`, `style.css` (or similar), and `editor-styles.css` (or similar). This is an artificial limitation put in place by some odd decision making at the hands of the Gutenberg team, and it imposes severe limits on how theme developers oper

[2019-01-17 20:35] benoitchantre commented on #287
I was thinking of small components provided by plugins, for example a breadcrumb. Instead of adding the code to invoque the function in many templates, an action hook could be used. As mentioned by Adrew, we have already many hooks provided by `get_template_part_{$slug}`.

[2019-01-17 21:42] ataylorme commented on #287
@benoitchantre do the existing `get_template_part_{$slug}` action hooks suite your use case? If so, we can probably close this issue.

[2019-01-17 22:03] benoitchantre opened #290 "front-page.php should not load a sidebar"
## Issue Overview

Introduced with #244.

I’ll work on it as soon as #291 is merged.

[2019-01-17 22:24] benoitchantre commented on #257
I think this would be added to the Editor component.

[2019-01-18 08:58] samikeijonen commented on #257
If needed this can be using [block filters](https://wordpress.org/gutenberg/handbook/designers-developers/developers/filters/block-filters/).

[2019-01-18 16:29] benoitchantre opened #293 "Inconsistent title sizes for the main title"
## Issue Overview

The main title has different sizes depending on the template that is used.

- When `h1` has the `.entry-title` class, the font-size value is `2rem`
- When `h1` has the `.page-title` class (blog, category, search, archive, ...), the font-size value is inherited from `h1` and has a value of `2em`

I'll work on it as soon as #86 is merged.

[2019-01-18 21:04] benoitchantre commented on #232
This will probably be part of #284.

[2019-01-18 21:10] benoitchantre commented on #258
Closed via #259 .

[2019-01-18 21:10] #258 closed

[2019-01-18 21:22] benoitchantre commented on #203
Thank you all for your opinions and this interesting read. Feel free to close this issue.

[2019-01-23 04:11] sonicviz opened #294 "npm ERR! node-sass@4.9.0 install: `node scripts/install.js`"
## Issue Overview

Running npm install fails due to:

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! node-sass@4.9.0 install: `node scripts/install.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the node-sass@4.9.0 install script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.

npm ERR! A complete log of this run can be found in:
npm

[2019-01-23 18:48] ataylorme commented on #279
@drivenfaroff `last 2 versions` [does not cover IE11 in Brower List](https://browserl.ist/?q=last+2+versions).

I added `IE 11` to `.browserslistrc` and see MS prefixes for  flexbox, not grid. [According to caniuse.com IE11 has partial support for CSS grid](https://caniuse.com/#search=grid).

I am not convinced this isn't working as exprected.

[2019-01-23 18:50] ataylorme commented on #279
@drivenfaroff I am not trying to sound standoffish. Please play with `.browserlistrc` and see if you can get the desired result. I don't have IE 11 to test but Brower List and Post CSS are both very popular/standard packages and we are using them with their default, which should cover most use cases

[2019-01-23 18:57] ataylorme commented on #273
@luminuu with PR  #297 you can now add an `additionalFilesToCopy` array to `config.json` under `export.compress`. Here is the example I tested with font files:

[code]

If you can help test the PR that would be 💯

[2019-01-23 19:12] ataylorme commented on #183
@mor10 #297 makes changes so that string replacements do *not* happen in `readme.txt`. We can update documentation accordingly. With that being the case, I don't think `credits.txt` is necessary.

The more I think about it I don't think it is a good idea to append WP Rig credits in the readme regardless. This is open source software and if someone chooses not to give credit where it is due that is

[2019-01-23 19:32] ataylorme commented on #265
The mainly CSS portion is wrong - sass and JS are also currently getting an uncached copy as assets (CSS, JS and sass) aren't minified when debugging is on.

[2019-01-23 19:33] ataylorme commented on #265
BrowserSync also uses an uncached copy so its settings can be changed on the fly as well

[2019-01-23 19:41] mor10 commented on #265
This might be confused or impossible, but here goes. Is this a solution?

- The `require-uncached` option is broken out into a separate task which outputs a variable.
- On first run, the variable is then used in place of `require-uncached` being called a bunch of times.
- On individual task runs, the `require-uncached` task is run only if required somehow.

[2019-01-23 19:43] mor10 commented on #265
It feels like it should be possible to just call the file once and then reuse the result, but considering individual tasks are called via `watch` they would somehow have to be able to know if some other task already triggered `require-uncached` and then either use the new cache or generate a new one based on the result. Cache busting of some sort? I'm having trouble visualizing the logic tree for

[2019-01-23 19:57] ataylorme commented on #287
Going to close this out. If the existing `get_template_part_{$slug}` hooks aren't sufficient please re-open

[2019-01-23 19:57] #287 closed

[2019-01-24 03:02] dackr opened #300 "please like I can exclude a folder, from PHP Codesniffer"
Hi, I congratulate you for the great project you are doing.
I'm doing a require in my template to carbon field and I get a lot of errors and it takes time to update the whole page.
please I would like to know how I could exclude this folder from the plug in carbon field.
thanks for your help.

[2019-01-24 09:33] ataylorme commented on #284
Below is my first pass at an expanded gulp wiki. Some of the getting started information is already in `README.md` so I did not duplicate it here. Rather, I wanted to explain the thought process and what each gulp task does.

---

# gulp in WP Rig

WP Rig uses a [gulp](https://gulpjs.com/) to assist in development and to generate and optimize code for production use. This article is an in-depth ex

[2019-01-24 09:35] ataylorme commented on #284
As a bonus I wrote some expanded information on theme configuration. There is an intro in the `README.md` but I don't think this expanded section belongs there, nor do I think it belongs in the gulp article. Perhaps we should have a separate wiki page for the config information?

---

# Theme Configuration

WP Rig has many configuration options. All the configuration is located in the `config` dir

[2019-01-24 09:41] ataylorme opened #301 "Require name and slug in config.json"
## Issue Overview
gulp performs string replacement when building for production in `2.0`. The `README.md` in `2.0` *suggests* the following:

I think we should fail gulp development, watch and production if name and slug have not changed from the defaults.

This will help guide users to creating a proper configuration as the current suggestion is not easily discoverable.

[2019-01-24 10:11] andreibarbuta opened #302 ""npm run bundle" does not work by default on Windows"
The problem is caused by the format of this line which is Linux compatible but not windows.
"bundle": "NODE_ENV=production gulp bundleTheme",

I managed to solve the issue by installing this:
npm install -g win-node-env

...after that I ran "npm run bundle" and worked without any problems

Hope it helps as a temporary solution, I'll let smarter people than me suggest a permanent solution

Link to

[2019-01-24 11:14] benoitchantre opened #303 "Split CSS files by media queries to further optimize rendering speed"
## Issue Overview

According to this [article](https://csswizardry.com/2018/11/css-and-network-performance/), the rendering speed could by improved by splitting CSS files into individual media queries.

WP Rig actually doesn't have a lot of styles inside media queries, but sites build on WP Rig will probably have more.

## Possible Solution

[postcss-extract-media-query](https://www.npmjs.com/pack

[2019-01-24 11:54] andreibarbuta opened #304 ""npm run dev" watch process does not work, at least for css and scss. URGENT!"
When it runs it processes files for example css, but when it watches nothing happens.

[2019-01-24 11:58] benoitchantre opened #305 "Minified styles and scripts are heavier than their source version"
## Issue Overview

The `npm run bundle` command produce minified files which contain a source map. The resulting minified files are heavier than their source version. There should be no source map for production files.

[2019-01-24 13:20] andreibarbuta commented on #304
After some digging it seems that the issue is regarding ${rootPath} constant. For example if I edit the line:
export const assetsDir = `${rootPath}/assets`;
...to...
export const assetsDir = `./assets`;

Then watch process works and processes css and scss files.

This may be a Windows issues, I am not sure.

[2019-01-24 13:32] andreibarbuta commented on #304
It affects php files also.

[2019-01-24 15:32] felixarntz commented on #284
@ataylorme The Gulp post looks great to me!

I also like the theme configuration post. Could you break that out into a separate issue (for 2.0), and copy it from here?

[2019-01-24 16:28] benoitchantre opened #306 "PHP end tag should be removed when it's placed at the end of a file"
## Issue Overview

Some files contain a PHP end tag at the end. It's optional and generally advised not to have a PHP end tag at the end of a file.

Source: [PHP manual](http://php.net/manual/en/language.basic-syntax.instruction-separation.php)

[2019-01-24 19:08] #288 closed

[2019-01-24 19:13] #86 closed

[2019-01-24 19:36] ataylorme commented on #265
@mor10 I propose we disallow configuration to be changed while gulp is running. To me, it seems like something that will not be done often enough to have the benefit of stopping/restarting gulp outweigh the performance cost the other 99% of the time when gulp is running and configuration has not changed

[2019-01-24 19:38] ataylorme commented on #280
Closed by #296

[2019-01-24 19:38] #280 closed, assigned to ataylorme

[2019-01-24 19:40] ataylorme opened #308 "Configuration Wiki Documentation"
I wrote some expanded information on theme configuration. There is an intro in the `README.md` but I don't think this expanded section belongs there, nor do I think it belongs in the gulp article. Perhaps we should have a separate wiki page for the config information? cc @felixarntz

---

# Theme Configuration

WP Rig has many configuration options. All the configuration is located in the `config`

[2019-01-24 20:14] felixarntz commented on #308
I think this config information you wrote should be one section as part of a bigger article on the general workflows. Things to be covered:

* How to create your theme and use WP Rig as a git upstream so that you can pull in changes, but still have your own separate repository (which is not a fork).
* How to configure your theme (see above).
* How to develop with WP Rig (things like "string replac

[2019-01-24 20:32] luminuu commented on #273
@ataylorme I have tested the PR and it worked perfectly! Thank you for adding this feature.

[2019-01-25 06:37] ataylorme commented on #308
@felixarntz do you want to try writing this article? I probably won't have time for a week or so

[2019-01-25 15:06] benoitchantre opened #310 "Add support for the optional media parameter when registering/enqueing styles"
## Issue Overview

`get_css_files()` and `action_enqueue_styles` from the `Style` component don't support the optional `media` parameter for `wp_register_style` and `wp_enqueue_style`.

[2019-01-25 19:57] mor10 commented on #304
What version are you working with?

[2019-01-25 20:00] mor10 commented on #294
What version of WP Rig are you running?

[2019-01-25 20:00] mor10 commented on #293
Merged, so closing.

[2019-01-25 20:04] mor10 commented on #290
For reference, `front-page.php` loads a sidebar to provide an example of how to load a sidebar in a non-standard way.

[2019-01-25 20:06] mor10 commented on #282
I'm working on documentation around child themes. The short version: You can build a child theme off any theme generated using WP Rig. You do not use WP Rig itself to build a child theme.

[2019-01-25 20:08] mor10 commented on #277
Looks like @kevinwhoffman will be taking this on.

[2019-01-25 20:08] #293 closed

[2019-01-25 21:58] benoitchantre commented on #290
I just checked again `master` and see no sidebar. Comments are displayed as a second column when they are enabled.

In `v2.0`, I see the same as `master` plus a sidebar as a third column.
Is it how it should be or a small mistake introduced when refactoring all template parts?

[2019-01-25 23:37] andreibarbuta commented on #304
Version 2.0.0, fresh install yesterday

[2019-01-26 01:21] sonicviz commented on #294
Latest downloaded from github

[2019-01-28 08:49] shangdev opened #312 "Processing js min, missing some defined function snippets!"
## Issue Overview
I enqueue a script, But after run 'npm run build', It missing some defined function Snippets.

## Environment
v1.0.3

## Steps to Reproduce
1. That script name: base.js, It contains the following:

[code]

2. finally, The generated compression script is as follows:

` "use strict";jQuery("body"); `

What happen? Why is it happening?Those missing snippets. are very important and a