[2019-01-28 08:59] #312 closed

[2019-01-29 21:12] benoitchantre opened #313 "Add an Excerpt component"
## Issue Overview

Its very common a theme need to change the default excerpt lenght. If I understand correctly the component approach from @felixarntz, the function and its filter should be contained in an _Excerpt_ component.

If you think it should be part of `2.0`, let me know. I can quickly work on that and submit a PR.
A sample use case to be to reduce the excerpt length in the search result

[2019-01-30 03:17] felixarntz commented on #313
We can certainly review this and see whether it would make sense to include it. My initial thoughts are that this would be too specific, even if many themes use it.

I think for these kinds of (more opinionated) things it would be great to have a pool of pre-implemented components outside of WP Rig that a developer could easily pull in. That would be an amazing project for the future.

IMO, even i

[2019-01-30 12:35] paaljoachim commented on #282
Hei Morten..:)

It would be good if atleast one starter/beginner child theme + various code snippets with comments were added to the functions file. It would be a good way to learn how to use WPRig as a parent and the starter child theme with some code snippets. This way I could begin to experiment with the child theme, learn from the code snippets and begin to create various designs.

It would li

[2019-01-30 16:26] drivenfaroff commented on #279
This is more of a autoprefixer issue then a wprig issue. `last 2 versions` [does cover IE11](https://browserl.ist/?q=last+2+versions), it's in the list under "Desktop Browsers", however it's looking like even though it covers IE11 they have grid layout [disabled by default for IE](https://github.com/postcss/autoprefixer#does-autoprefixer-polyfill-grid-layout-for-ie).

Feel free to close this issue

[2019-01-30 19:40] mor10 commented on #305
Merged. Closing.

[2019-01-30 19:40] #305 closed

[2019-01-30 19:48] benoitchantre commented on #310
@mor10 Could you milestonie it for `2.0`. This is a regression: `wp_register_style` and `wp_enqueue_style` were previously called directly. Now that they are part of a method, there's no way to use the fifth parameter.

[2019-01-30 22:15] dackr commented on #285
@felixarntz Thank you for your great support please how could I create a custom post type

[2019-01-31 10:57] felixarntz opened #314 "Allow skipping translation file generation"
Currently, every build will generate a new `.pot` file to use for writing translations. However, that might not always be desired. Particularly as themes in the wordpress.org repository don't require or use these, as wordpress.org has its own translation system that themes automatically integrate with.

I think it would be great to have a setting in our `config.json`, called `useLanguagesDir`, tha

[2019-01-31 11:02] felixarntz opened #315 "Check for file existence before copying specific files when bundling theme"
When bundling the theme and building into the production directory, a few files are directly copied (those files are in the `export.src` property in `gulp/constants.js`). Right now, when one of these files doesn't exist, the process fails.

This should not be the case, as many people might want to delete some of these files, for example you might not want to have `readme.txt` when you're not build

[2019-01-31 22:47] ataylorme commented on #314
@felixarntz for the gulp side I propose we remove the translation process from the default tasks. We can expose it as a stand-alone task through npm script (`npm run pot` or similar).

The reason for this is that, as you say, people may wish to create translation files in different ways (or not at all). I don't think we should lock people into a default.

Personally, I would want to [make them wit

[2019-01-31 22:52] ataylorme commented on #315
#297 is rethinking how this works a bit but I think the source of the bug, the files not existing, will remain. [`gulp.src` will error when the pattern matches one file and that file is not found](https://gulpjs.com/docs/en/api/src#errors).

I will need to test and see if `allowEmpty` will resolve this or if it will have an adverse effect (e.g. writing an empty file). Reading [the `glob-stream` so

[2019-02-01 12:22] felixarntz opened #316 "CSS variables are not resolved when using Sass"
When using Sass, the CSS variables are not resolved to actual values in them, ignoring `preserveCSSVars: false` in the config.

That is because the Gulp `styles` tasks only looks at CSS files from source. It makes sense generally, however it also needs to look at the CSS files previously generated from the `sassStyles` task (which are already in the destination directory at that point) and process

[2019-02-01 14:22] felixarntz commented on #314
I like the idea of excluding the task from the default ones.

[2019-02-01 15:08] ataylorme commented on #316
@felixarntz I did not consider this use case. I guess I assumed those switching to sass would use sass variables.

I think the best approach to allow CSS variables inside sass would be to run `postCSS` in the sass task after the sass plugin has transformed the sass files in the stream to CSS (but before the files are saved to the destination).

In this case I don't think it makes sense to keep two

[2019-02-01 17:55] kevinwhoffman commented on #277
@mor10 Yes, you can assign to me. I have been working to improve my understanding of the CSS techniques within WP Rig so that I can communicate how and why they are in place.

## Status Update

Over the past week I have:

- Tested the `v2.0` branch locally while step-through debugging the process of enqueuing and preloading stylesheets.
- Researched the origins and current state of Progressive CSS

[2019-02-02 20:00] paaljoachim opened #317 "Documentation?"
Is there a general documentation, api docs and other docs somewhere in addition to the video tutorials?

[2019-02-04 13:59] felixarntz opened #318 "Allow modification of the stylesheet loading mechanism"
WP Rig by default preloads stylesheets and injects their `<link>` tags directly within the HTML markup and page content. This helps performance, but may not be preferred under certain circumstances. There are already checks in place to disable preloading in an AMP context, however that doesn't cover all the cases. Other scenarios where someone might potentially want to skip this is accessing the t

[2019-02-04 16:48] felixarntz commented on #277
See #319 for a related change, that once merged likely should be documented here too. It's not a major change, just adds more flexibility.

[2019-02-04 23:00] mor10 opened #321 "Add @wordpress/babel-preset-default?"
Should [@wordpress/babel-preset-default](https://www.npmjs.com/package/@wordpress/babel-preset-default) be added to the Babel setup perhaps?

[2019-02-04 23:40] dackr opened #322 "Create New Custom Post Type"
Thank you for your great support please how could I create a custom post type.
I am using wprig 2

I have created file Custom_Post_Type/component.php.
and in the theme.php in the function get_default_components () I have increased
[WP_Rig\WP_Rig\Theme::get_default_components() method](https://github.com/wprig/wprig/blob/v2.0/inc/Theme.php#L136)

[code]

the problem is that I get an error 500

[cod

[2019-02-04 23:46] mor10 opened #323 "Change output type for CSS (Sass) debug mode to 'expanded'"
`nested` output is hard to read. `expanded` is better imo.

https://github.com/wprig/wprig/blob/2c335bd86f4c3d9fd4e1f3ce847202b3ba5cd07e/gulp/sassStyles.js#L24

[2019-02-05 16:51] benoitchantre commented on #310
@felixarntz could that be included in `v2.0` (there's already a PR) ?

[2019-02-08 09:51] #274 closed

[2019-02-09 11:10] idea--list commented on #136
Hi there,

I was really frustrated by the same issue and spent a few hours trying to debug it.
Tryed several things and ultimately this change in navigation.js seems to work reliable:

Change these lines
`document.addEventListener( 'DOMContentLoaded', function() {`
and `});` four lines below that

to
`window.onload = function () {`
and `}`

I know window.onload takes more time to get fulfilled as

[2019-02-11 20:09] mor10 opened #326 "Deprecate Normalize for CSS Remedy"
CSS Remedy from Mozilla takes a different and more modern approach to the idea of CSS resets: Instead of resetting everything, it aligns CSS with the CSSWG spec.

See more here: https://github.com/mozdevs/cssremedy

[2019-02-12 14:03] briainod opened #327 "Error with matched module on npm run build"
## Issue Overview

the project won't build due to an error with promiseJS in the matched library.

## Describe your environment

OS X 10.13.6
PHPStorm 2018.1

## Steps to Reproduce

I've followed the installation steps provided on the main site except for the VSCode ones. Have replaced these steps by setting the composer.json path in Preferences>>Languages & Frameworks>>PHP>Composer. This is the o

[2019-02-12 14:21] briainod commented on #327
Seems my attempts to upgrade node weren't proper, it was still running 6.10.x. Downloaded 10.x instead of installing through Terminal and it's running fine.

[2019-02-12 14:21] #327 closed

[2019-02-13 14:54] seanrasmussen commented on #317
I was wondering the same thing. I haven't found much. There's the wiki tab in github but it doesn't have much there. I am actually just writing basic usage notes for myself. I'm thinking about adding it to the wiki, or suggesting that documentation gets added to the wprig website, too....

[2019-02-13 19:50] sharazghouri opened #328 "text.replace is not a function"
## Issue Overview

I cloned repo and start building theme.
I always see this error .
On every command i.e build, bundle , translate

[00:31:57] Failed to load external module @babel/register
[00:31:57] Requiring external module babel-register

![image](https://user-images.githubusercontent.com/17900945/52738995-c3cb1180-2ff1-11e9-8164-7312d57dd1c4.png)
And when i  run bundle  or translate
[00:43:2

[2019-02-14 16:11] ataylorme commented on #284
I moved the gulp write-up to the wiki: https://github.com/wprig/wprig/wiki/gulp-in-WP-Rig

[2019-02-14 16:11] #284 closed

[2019-02-14 16:13] ataylorme commented on #279
@drivenfaroff as a WP Rig user would it be helpful to you if a way to pass options to `postcss` was exposed in the WP Rig configuration, rather than having to edit the gulp files directly?

[2019-02-14 17:57] mor10 opened #329 "CSS Custom Properties default should be "preserve""
CSS custom properties (variables) should be preserved by default because PostCSS automatically creates fallbacks to `:root`.

[2019-02-14 18:03] bamadesigner opened #330 "Do not preload CSS if CSS is not added to page"
## Issue Overview
In testing https://github.com/wprig/wprig/pull/319, I discovered an issue.

Basically, there's no co-relation to when `print_styles()` is used inside a template and what CSS files are pre-loaded. The logic that preloads a CSS file is "hard coded" inside the `get_css_files()` function.

For example: I could decide I don't want to load the content.css file and remove `'wp-rig-conte

[2019-02-14 18:30] #276 closed

[2019-02-14 18:30] #138 closed

[2019-02-14 18:33] mor10 commented on #306
Merged. Closing.

[2019-02-14 18:33] #306 closed

[2019-02-14 18:33] mor10 commented on #318
Merged. Closing.

[2019-02-14 18:33] #318 closed

[2019-02-14 18:34] mor10 commented on #273
Merged. Closing.

[2019-02-14 18:34] #273 closed

[2019-02-14 18:36] bamadesigner opened #331 "Add method to register template sidebar"
## Issue Overview
I want us to look at adding a way to declare sidebar usage in a template so that we have a programmatic way of knowing which pages have sidebars. Right now, we have a hard-coded array of pages that don't have sidebars so we know when to add the `has-sidebar` class to the `<body>`. See line 60 of `inc/Sidebars/Component.php`.

This is problematic because it makes it quite difficul

[2019-02-16 07:06] ehowey commented on #294
I had this same issue.  Fixed it by installing node.js v.10.x.  I was using Homebrew on Mac OS...when I ran "brew install node" it installed node.js v.11.x which was triggering some kind of script error on npm install.  I am new to terminal but I hope that helps...

[2019-02-17 02:19] sonicviz commented on #294
I shouldn't have to revert to a previous version of node to get it running though.

[2019-02-18 14:03] felixarntz commented on #285
Moved to https://github.com/wprig/wprig/wiki/PHP-Architecture-in-WP-Rig

[2019-02-18 14:03] #285 closed

[2019-02-21 18:19] mor10 opened #333 "Move normalize/reset into its own file"
Move the CSS normalization from `global.css` to its own file called `reset.css` and use `@import` to bring it into `global.css` dynamically via `postcss-import`. This makes it easy for a developer to swap out Normalize for whatever reset they prefer, and makes it easy for us to swap out Normalize for CSS Remedy or similar in future releases (see #326).

[2019-02-21 18:24] mor10 commented on #279
https://css-tricks.com/css-grid-in-ie-css-grid-and-the-new-autoprefixer/

[2019-02-21 18:29] mor10 commented on #279
Bumping `autoprefixer` to the latest version should make a difference here: https://github.com/postcss/autoprefixer

[2019-02-21 20:06] benoitchantre opened #334 "Move reused styles in editor-styles.css in separate files"
## Issue Overview

`editor-styles.css` contains many duplicated definitions from `content.css`. Custom block colors and custom font-sizes are good candidates for separate files that should be imported into `editor-styles.css` and `content.css`.

[2019-02-24 00:48] SimonIMG commented on #90
In case this helps someone, I want to use the _Avenir Next_ variable font. I have a `.ttf` file in a `dev/fonts folder`, then I updated the Project paths (starting at line 40) in `gulp.babel.js` file with the following...

[code]
So the full Project paths block looks like this...

[code]

[2019-02-26 16:04] ehowey commented on #283
What version of node.js do you have installed?  I was having a similar error and was able to fix it by reverting to v.10.x of node.js. Not sure if that helps or you figured it out. I don’t understand node well enough to know why this fixed it but I think it has something to do with script dependencies and a mismatch between the versions.

[2019-02-27 16:13] ataylorme opened #336 "Composer install run on npm install"
As a WP Rig user with an automated build process on Continuous Integration
Who loves the separation of concerns
I want to be able to run `npm install` without having `composer install` run
In order to do these tasks separately
Using a NodeJS Docker image for `npm install`
And a PHP Docker image for `composer install`
So that I don't have to maintain my own Docker image with PHP and NodeJS

See [pa

[2019-02-27 16:16] mor10 commented on #336
Originally, Composer required it's own install command. We combined them to take out a setup step early on. Let's discuss.

[2019-02-27 16:21] ataylorme commented on #336
I think the advantage of being able to run them separately, which is useful for isolated container-based build environments, outweighs saving some users the hassle of having to run an additional command.

Also, if a user changes anything in Composer or wants to run something in Composer script, such as unit testing, they must run Composer commands (e.g. `composer update` or `composer run-phpcs`).

[2019-02-27 22:54] mor10 commented on #72
What needs to be done to close this issue?

[2019-02-27 22:55] mor10 commented on #103
Looks to be a larger JS support issue with the browser. Closing for now.

[2019-02-27 22:55] #103 closed

[2019-02-27 22:57] mor10 commented on #108
I'd love for you to take a look at the `v2.0` branch now @ai. PHP is component-based, CSS is managed in a new and very different way through PostCSS, and there are other major changes as well. Once 2.0 is out, we're switching focus to rethinking CSS from the ground up, which will be 3.0 most likely.

[2019-02-27 22:57] mor10 commented on #136
Where are we on this?

[2019-02-27 22:58] ai commented on #108
Hi. I will try to look on next week.

[2019-02-27 22:59] mor10 commented on #157
The dev process in the `v2.0` branch is substantively different and likely solves the workflow issue which lead to this problem. I'm closing this issue for now, but feel free to reopen it if the problem persists using the 2.0 branch.

[2019-02-27 22:59] #157 closed

[2019-02-27 23:01] mor10 commented on #165
Moving to future release because #298 is labeled as future release.

[2019-02-27 23:05] mor10 commented on #183
@ataylorme Credits should remain in `readme.txt` for clarity. It's also important for organizations and companies with strict OSS policies (my company is an example). Since no rewriting happens in that file, I see no need to split the two files up.

Does that mean we can close this issue?

[2019-02-27 23:06] #203 closed

[2019-02-27 23:07] mor10 commented on #230
Marking for future release with the hope we can get this done once v2.0 is out.

[2019-02-27 23:08] #237 closed

[2019-02-27 23:11] mor10 commented on #251
Merged. Closing.

[2019-02-27 23:11] #251 closed

[2019-02-27 23:12] mor10 commented on #257
Yes to the idea. We should add an example as an optional component, including both adding style variations and hiding blocks using block filters as @samikeijonen pointed out. Target 2.1 or thereabouts.

[2019-02-27 23:14] mor10 commented on #265
Looping back around to this, I am leaning toward @ataylorme's sentiment: With CSS out of the config loop, any other config changes will be environment changes which don't really happen. I propose we disallow configuration changes during live runs as suggested by Andrew.

[2019-02-27 23:20] mor10 commented on #282
Related to #270

[2019-02-27 23:21] mor10 commented on #283
@maltesesolutions have you resolved the issue or are you still stuck?

[2019-02-27 23:22] mor10 commented on #289
Where are we on this @bamadesigner?

[2019-02-27 23:24] mor10 commented on #294
I'm not able to reproduce running latest version of Node. @sonicviz, can you try again using a new folder? Also, try using the `v2.0` branch to see if the problem persists across both versions.

[2019-02-27 23:25] mor10 commented on #300
@felixarntz?

[2019-02-27 23:26] mor10 commented on #301
Good idea. I vote yes. Anyone else have a strong opinion on the matter? @bamadesigner perhaps?

[2019-02-27 23:27] mor10 commented on #302
@ataylorme Do you have any experience with this?

[2019-02-27 23:29] mor10 commented on #304
@andreibarbuta have you tested with the latest version (a lot of things have changed in the build process in the past month). Also, can you specify your system (OS, node, npm, gulp, composer versions, etc.)

[2019-02-27 23:30] mor10 commented on #308
Unless someone already has, can we boot up a Drive folder with all these articles / wiki pages we need to write so we can collaborate in an actual document editing space?

[2019-02-27 23:35] mor10 commented on #314
Can you two sort this out and make an executive decision. I don't have an opinion on the matter either way as long as translation files _can_ be made.

[2019-02-27 23:36] mor10 commented on #315
Was this resolved in #297? Can we close this issue?

[2019-02-27 23:39] mor10 commented on #316
@felixarntz #335 removes the `preserveVars` configuration entirely because PostCSS automatically creates fallbacks for CSS custom properties provided the `browserlist` setting is sufficiently low. The new default for WP Rig is to always use CSS custom properties with fallbacks rather than always transform. Because PostCSS kicks in after the Sass process, this should remove the problem you've outli

[2019-02-27 23:41] mor10 commented on #317
Look under the Projects tab: We have a whole Documentation project underway and we're looking for contributors. Just waiting for `v2.0` to get to beta so we don't have to redo a bunch of the documentation. Process and workspace TBD, but will likely be a Drive folder with a bunch of open documents. Once the documents are done, they will be placed either in the Wiki here, on wprig.io, or both.

[2019-02-27 23:41] #317 closed

[2019-02-27 23:44] mor10 commented on #322
@felixarntz may be able to help you here.

My general recommendation is to never create custom post types in a theme. They should be stand-alone plugins. Here's why: If you create a custom post type in a theme, create a bunch of posts under that custom post type, and then switch to a different themes, those posts become unavailable for editing because the custom post type goes away. By keeping the

[2019-02-27 23:46] mor10 commented on #323
Any Sass people have strong opinions here? @benoitchantre?

[2019-02-27 23:47] mor10 commented on #326
#335 makes this a lot easier.

[2019-02-27 23:48] mor10 commented on #329
Resolved in #335. Closing.

[2019-02-27 23:48] #329 closed

[2019-02-27 23:49] mor10 commented on #333
Resolved in #335. Closing.

[2019-02-27 23:49] #333 closed

[2019-02-27 23:51] mor10 commented on #334
Can you make a PR for this so I can test properly?

[2019-02-27 23:52] mor10 commented on #336
I'm fine with splitting them up again. That's how it worked in v1 and nobody complained. Create a PR for it and see if anyone balks at the idea.

[2019-02-28 00:28] mor10 commented on #279
@drivenfaroff We are updating Autoprefixer in #337. With this update, you'll be able to use the new CSS grid fallbacks without any configuration. A full writeup of how to make  your grid markup backwards compatible is available here: https://css-tricks.com/css-grid-in-ie-css-grid-and-the-new-autoprefixer/

[2019-02-28 00:41] mor10 commented on #290
Sorry @benoitchantre. My bad. I was testing for the wrong scenario. You are absolutely right, there should not be a sidebar in the `front-page.php` template.

The template was mainly designed to handle the blog index, not a static page, and I see in testing I didn't account for the static page as front page scenario. I'm going to create a PR to fix these issues and update the overall styling (whic

[2019-02-28 05:27] benoitchantre commented on #334
@mor10 These styles are now inlined automatically in the editor from php (when we declare our color palette our font sizes in the Editor component). The last commit in #332 closes this issue.

[2019-02-28 05:40] benoitchantre commented on #257
If we allow us to hide some core styles, I think the Button block is a good candidate for that.

I don’t understand why someone can choose between square or rounded buttons. This decision is made by the designer, not by the editor and once decided all buttons instances should follow the same style. Eventually, a style variation could be used to introduce a secondary button style if we think it’s a

[2019-02-28 10:00] Drivingralle commented on #336
Maybe haveing one command like `npm rig-init` to run both commands for les advanced users and easy learning for beginners. This command could be documented in the getting started guides.

And the two commands `npm install` and `composer install` for users that know what they are doing.

[2019-02-28 14:22] andreibarbuta commented on #304
I tested it today using Windows 10 Pro, Version: 1809. NODE v9.3.0, NPM 5.5.1 and 6.8.0, Composer: 1.6.5 and 1.8.4.
I downloaded latest wprig version 2 from the github page.
I will make time this weekend to create a Virtual Machine and test it there so that it will be a completely clean Windows system.

This seems to be a different error.

This was the error:
[16:11:25] The following tasks did not

[2019-02-28 17:43] #310 closed

[2019-02-28 20:04] benoitchantre commented on #323
I agree.

[2019-02-28 20:25] benoitchantre opened #339 "Add unminified styles and scripts to the bundle"
## Issue Overview

If someone wants to submit a theme to work.org, the theme will be refused because it will not comply to the following rule:

[Source](https://make.wordpress.org/themes/handbook/review/required/#stylesheets-and-scripts)

Unminified files should be part of the bundle.

[2019-03-01 05:41] ehowey opened #340 "Error on npm run dev, v.2.0 branch"
## Issue Overview
Getting an error when attempting to use "npm run dev" in the 2.0 branch. "npm run build" works.

Here is the error:
[22:32:19] 'watch' errored after 64 ms
[22:32:19] TypeError: expected a string
    at module.exports (/Users/erichowey/Documents/Local Sites/Eric-Howey-Design/app/public/wp-content/themes/wprig-2.0/node_modules/is-negated-glob/index.js:5:11)
    at sortGlobs (/Users

[2019-03-01 23:02] benoitchantre commented on #250
Related article: https://medium.com/clio-calliope/making-google-fonts-faster-aadf3c02a36d

[2019-03-02 05:15] benoitchantre opened #341 "Audio shortcode is not aligned with the content"
## Issue Overview

If you have an audio shortcode (Audio Playlist in Classic Editor) or in a shortcode block, the player will not be aligned with the content.

<img width="1053" alt="audio shortcode" src="https://user-images.githubusercontent.com/1521015/53677515-62719680-3cb1-11e9-95fa-0d30d4048a06.png">

Tested with [Theme Unit Test](https://github.com/WPTRT/theme-unit-test/blob/blocks/themeunit

[2019-03-02 05:21] benoitchantre opened #342 "Page links are not aligned with the content"
## Issue Overview

If you insert a _Page break_, the page links are not aligned with the content.

<img width="608" alt="page links" src="https://user-images.githubusercontent.com/1521015/53677589-b8930980-3cb2-11e9-8266-cc09ff53120f.png">

Tested with [Theme Unit Test](https://github.com/WPTRT/theme-unit-test/blob/blocks/themeunittestdata.wordpress.xml) data (`blocks` branch).

[2019-03-02 05:35] benoitchantre opened #343 "Tables inserted manually have a different style than table block"
## Issue Overview

A table inserted manually in the Classic Editor looks like that (unstyled):

<img width="672" alt="table - html" src="https://user-images.githubusercontent.com/1521015/53677687-65ba5180-3cb4-11e9-96d6-f50ce1366257.png">

A _Table_ block looks like that:

<img width="753" alt="table block" src="https://user-images.githubusercontent.com/1521015/53677725-d06b8d00-3cb4-11e9-9c7c-3fe

[2019-03-02 05:44] benoitchantre opened #344 "Columns styles are broken: many columns are displayed as one column"
## Issue Overview

Introduced by https://github.com/wprig/wprig/pull/215/commits/15ef2f9e94823f708e27fd9a69d92455f16aecb0. We should force `display: block` on all elements inside the content: it breaks elements like columns that need other values, like `flex` to be displayed properly.

<img width="769" alt="columns" src="https://user-images.githubusercontent.com/1521015/53677819-4d4b3680-3cb6-11e9

[2019-03-02 05:54] benoitchantre opened #345 "No margin between post metas and featured image"
## Issue Overview

When a post uses a featured image, there's no margin between the post metas and the featured image. We should have a margin.

<img width="741" alt="post meta" src="https://user-images.githubusercontent.com/1521015/53677906-b5e6e300-3cb7-11e9-874b-9995a7272f1e.png">

[2019-03-02 06:03] benoitchantre opened #346 "Blockquotes in Classic Editor are not styled"
## Issue Overview

We should have consistent styles between elements that are in the Classic Editor and their block version.

**Here's how is displayed a Blockquote in the Classic Editor.**
<img width="783" alt="blockquotes - wprig" src="https://user-images.githubusercontent.com/1521015/53677995-188cae80-3cb9-11e9-8251-18c3e21aaf33.png">

**Instead of something like that**
<img width="738" alt="bl

[2019-03-02 06:09] benoitchantre opened #347 "Latest posts: padding missing for grid view"
## Issue Overview

It looks like a padding is missing for the grid view.

<img width="742" alt="latest posts - grid view" src="https://user-images.githubusercontent.com/1521015/53678054-f5aeca00-3cb9-11e9-949b-605c4b89cec4.png">

[2019-03-03 03:52] ehowey commented on #294
I tracked down what is causing this when I was switching between v.104 and v.20 of WP-Rig.  In v1.04 it includes node-sass 4.9 which according to their documentation (https://github.com/sass/node-sass) is not compatible with Node.js v.11.xx, only Node.js v.10.xx.  This discrepancy causes the error.  I believe if sonicviz upgraded to Node.js v.10.xx this would be fixed.  I had to downgrade from v.1

[2019-03-03 17:55] Drivingralle opened #350 "v2.0 Bundle styles.css header wrong"
## Issue Overview
I tried to get started wit v2.0 in a new project. But the generated bundle doesn't contain my config.

## Describe your environment
MacOS 10.14.3, NPM 6.8.0

## Steps to Reproduce
Using this config in `config.json`:
`{
    "theme": {
        "slug": "test-rig",
        "name": "Test Rig",
        "author": "Rig Tester"
      }
}`

Computer:~ drivingralle$ cd Desktop/rig-playgroun

[2019-03-03 18:13] Drivingralle commented on #350
Also if I run `npm run bundle` directly after `npm install` the replacement fails.

[2019-03-04 04:44] ehowey commented on #340
Okay - so...I was able to get it working by commenting out one line of code...so I assume that is where the error was coming from.
Line 49, in watch.js
"gulpWatch([paths.styles.src, paths.styles.cssCustomProperties, paths.styles.cssCustomMedia], series( styles ) );"

I am not sure why this is giving me the problem but it is.

I am able to get it running somewhat if I modify this line of code to be

[2019-03-04 04:44] sonicviz commented on #294
Thanks

[2019-03-04 05:01] ehowey commented on #340
Please be aware I am a bit green when it comes to mucking around deep in code - usually just CSS/HTML and a small amount of PHP and JS.

I think this error, for me, was relating to the following change:

https://github.com/wprig/wprig/commit/c7931c69458a0ba846d1f7592686c59edd8f6b92

The watch process is looking for the custom properties and custom media files but those have now been ignored which

[2019-03-04 05:40] ehowey commented on #340
So to get it working again I had to revert to the following code in constant.js (starting line 67), not 100% sure why but form what I can gather the recent changes to that file were causing my original error above.

styles: {
		cssCustomProperties: `${assetsDir}/css/src/custom-properties.css`,
		cssCustomMedia: `${assetsDir}/css/src/custom-media.css`,
		src: `${assetsDir}/css/src/**/*.css`,
		sass

[2019-03-04 09:10] theharshin commented on #91
Any documentation for this option would be a great help 😃

[2019-03-04 12:53] benoitchantre opened #351 "CSS table of contents is in reset.css instead of global.css"
## Issue Overview

The table of contents is now part of `reset.css` instead of `global.css`. Introduced by https://github.com/wprig/wprig/pull/335/commits/d36da5c87f647f4eb444fb9b6ed36cca2f0fa814.

[2019-03-04 15:20] ai commented on #108
I recommend `defaults`. It also contains `not dead` (to remove dead browsers) and `firefox esr` (important for enterprise users).

:+1: for CSS Custom Properties

The strange new line. Should we add a newline before `}`? (and fix Stylelint config)

I found too many `stylelint disable`. Should we change config, send issues to Stylelint or maybe add description to every stylelint disable?

Should we

[2019-03-04 15:49] benoitchantre opened #355 "Custom properties values without units are not evaluated"
## Issue Overview

Values in for custom properties that have no units are not working properly.

Browsers dont't evaluate values like `var(--content-width) rem`.
Tested with Firefox and Chrome.

[2019-03-04 21:44] ataylorme commented on #302
I do not as I don't have a Windows machine to test on. I think we can add the workaround to documentation though.

Testing version 2 beta on Windows, when we release a beta, would be really helpful. @andreibarbuta would you be interested in doing that?

[2019-03-04 21:45] ataylorme commented on #265
@bamadesigner or @felixarntz can we have one more +1 on this? If there is majority agreement I can make a PR

[2019-03-04 21:46] ataylorme commented on #183
@mor10 yes, I think we can close as #297 resolved the issue

[2019-03-04 21:46] #183 closed

[2019-03-04 21:49] ataylorme commented on #72
A task similar to the existing `run-phpcs` needs to be added to the `scripts` section of `composer.json` that will run PHP code beautifier.

[2019-03-04 22:10] ataylorme commented on #315
Yes to both

[2019-03-04 22:10] #315 closed

[2019-03-04 22:13] ataylorme commented on #336
@Drivingralle thanks for the suggestion - I really like it 😄.

[2019-03-04 22:34] ataylorme commented on #314
Currently, the translation process is run on *source* files, not *production* files. @mor10 and @felixarntz what do you think of having the current translation task (`npm run translate`) run `gulp-pot` on the production directory?

If we are no longer creating the `.pot` files on each dev run I can't think of a reason to keep basing them off of the source files and not the production ones.

[2019-03-04 22:36] mor10 commented on #314
that makes sense, especially considering production files may look different from development files at some point in the future.

[2019-03-04 22:38] ataylorme commented on #314
Cool. I'll add a configuration option, as @felixarntz suggested in order to disable the `.pot` file generation on production builds.

[2019-03-04 23:44] ataylorme opened #359 "Is stylelint-disable necessary?"
There is `stylelint-disable` in quite a few places of the source CSS files. I tried to hunt down the source (see [this comment](https://github.com/wprig/wprig/pull/356#issuecomment-469440345)) but was unable to do so.

@mor10 any idea why these were added or if they are still needed?

[2019-03-04 23:46] mor10 commented on #359
They were added by me, because Stylelint has issues with things it shouldn't have issues with, especially when it comes to nested selectors etc. It's a WordPress thing more than a Stylelint thing. It might be worth it to remove them all and see how many errors show up. It's been a while since they were added, so it's possible things have changed.

[2019-03-05 00:25] mor10 commented on #359
This is the kind of stuff that happens when you take out the `/* stylelint-disable */` rules. Not exactly sure why this happens, but it looks as if Stylelint doesn't fully understand selectors with hyphens in them and therefore thinks `.comment-content` and `.comment-meta` are in a parent-child relationship when in reality they are siblings.

![screen shot 2019-03-04 at 4 19 08 pm](https://user-im

[2019-03-05 05:40] benoitchantre opened #361 "Custom properties are missing in the editor"
## Issue Overview

Trying to update #332 with the latest changes on `v2.0`, I have noticed that custom properties are not available in the editor even if we import them in `editor-styles.css`. The styles declared in `editor-styles.css` are processed by the block editor and used as inline. We loose our custom properties during that process.

## Possible Solution

Add fallback for custom properties.

[2019-03-05 05:46] benoitchantre commented on #361
@ataylorme Were the custom properties fallback removed intentionnaly?
[To support IE11, we need fallbacks](https://caniuse.com/#feat=css-variables) according to caniuse.com

[2019-03-05 06:18] andreibarbuta commented on #302
Yes, gladly!

[2019-03-05 11:00] benoitchantre opened #362 "Alignment of the Quote block"
## Issue Overview

Actually, the border of the _Quote_ block is not aligned with the content.

![capture d ecran 2019-03-05 a 11 52 29](https://user-images.githubusercontent.com/1521015/53800716-a082ea80-3f3d-11e9-9639-5207516243e9.png)

Is it something intentional @mor10?
To my eyes, it seems to be an issue caused by a padding added to all elements inside entry content.

In _Twenty Nineteen_, the

[2019-03-05 11:18] benoitchantre commented on #362
If it's not intentional and we want to fix it, I see three options:

1. Create a similar border for the _Quote_ block with a pseudo element, allowing us to use some padding on the element itself without having an influence on its border. Only fix this the alignment issue for this block.
1. Remove the extra padding on the elements inside `entry-content` (we already have a padding on the container),

[2019-03-05 13:14] benoitchantre opened #363 "watch task fails"
## Issue Overview

When you run `npm run dev`, it stops at the watch task with the following error:

[code]

The error is located in line 49.

To fix this error, we can replace `[paths.styles.src, paths.styles.cssCustomProperties, paths.styles.cssCustomMedia]` by `paths.styles.src`, but doing that, a change in `custom-properties.css`, `custom-media.css` or `reset.css` will not trigger the style ta

[2019-03-05 15:15] ataylorme commented on #361
The variables are imported into the global CSS. I didn't think of the case where editor styles are used stand-alone

Are you saying that `@import "../custom-properties.css";` at the top of the `editor-styles.css` files does not work?

If so, that is likely due to [`postcss-import` skipping duplicate imports](https://github.com/postcss/postcss-import#skipduplicates).

cc @mor10

[2019-03-05 15:20] ataylorme commented on #359
@mor10 I think we can just [exclude that rule in the `gulp-phpcs` config](https://www.npmjs.com/package/gulp-phpcs#optionsexclude).

A better option though is probably to update `phpcs.xml.dist` to exclude that rule, rather than hard-code the exclude in gulp config when we have a configuration file for PHPCS.

[2019-03-05 15:49] benoitchantre commented on #361
Custom properties can be found in `editor-styles.min.css`, but this file is then processed by the block editor and not loaded. That process renames some selectors and inlines the styles. This is when we loose our custom properties values.

I think the best solution would be to rename `:root` to `body` in `editor-styles-min.css` (I have tested that manually, it works). An alternative would be to ad

[2019-03-05 17:43] samikeijonen commented on #361
@benoitchantre Did you notice that Core had prefixed `:root` with `.editor-styles-wrapper :root`?

[2019-03-05 18:54] mor10 commented on #361
This is a bug in the core editor and is going to become an issue down the road. Might be a good cause for a ticket to core or in the Gutenberg repo.

[2019-03-05 19:10] mor10 commented on #361
@benoitchantre I just tested, and if I add the following to `editor-styles.css`, custom properties are added to the top of the minified editor stylesheet and things work as expected:

[code]

[2019-03-05 19:46] benoitchantre commented on #361
It seems that I haven't been clear enough that this issue has to be seen in the context of #332. Correct me if I'm wrong.

@mor10 I have updated #332 in order to facilitate tests. Can you check again?

No. How do you see that @samikeijonen? I'm using the inspector and can't find `.editor-styles-wrapper :root`. All styles from the editor stylesheet are inlined.

[2019-03-05 19:52] benoitchantre commented on #361
I have now found the styles `.editor-styles-wrapper :root` as mentioned by @samikeijonen.

[code]

This is indeed a bug in Core.

[2019-03-05 20:02] benoitchantre commented on #361
Related issue in Gutenberg : https://github.com/WordPress/gutenberg/issues/11955

[2019-03-05 20:23] ataylorme commented on #361
That is not something trivial to do.

Will it affect the other styles if we switch from `:root` to `body` in the `custom-properties.css` source file instead?

Are there downsides in switching from `:root` to `body`? I'm not familiar enough with CSS variables to know if it is an okay thing to do or not.

[2019-03-05 21:34] benoitchantre commented on #361
I did a test: it works, both on the front-end and in the editor.

Custom properties use cascade. `:root` is similar to `html` with an higher specificy because it's a pseudo element.

Using `body`, we have the following warning during the build:
[code]

[2019-03-05 22:09] benoitchantre commented on #361
Having fallbacks for custom properties would solve this issue without changing `:root` to `body`.

[2019-03-05 22:24] ataylorme commented on #361
Is having fallbacks different than [setting `preserve` to `false`](https://github.com/postcss/postcss-custom-properties#preserve)?

I think a fallback would print both the `var` and the computed values where `preserve` being `false` would just compute the value and remove `var` statements from the minified CSS.

As I said, I am not much of a front-end expert but happy to adjust the gulp settings/c

[2019-03-06 07:09] benoitchantre commented on #361
Correct.

I have tried to set `preserve` to `false` in the styles task, but haven't notice a replacement of `var` by the computed value. Can you look at that?

[2019-03-06 11:07] benoitchantre commented on #361
@ataylorme I have found why setting preserve to `false` doesn't work and can provide a fix. Should I create a separate issue and pull request or can I fix that in #332?

[2019-03-06 11:09] ataylorme commented on #361
Please make a new issue and PR to keep things clean. I know Morten has some opinions on why preserve should be true so we can discuss there.

Once it is merged we can update this PR with the fix.

[2019-03-06 13:20] ataylorme commented on #363
@benoitchantre can you test #364 and see if solves the issue for you?

[2019-03-06 13:56] ehowey commented on #363
Is the same as what I had happen here: https://github.com/wprig/wprig/issues/340

[2019-03-06 14:00] benoitchantre opened #365 "Build: setting preserve to false for custom properties and custom media doesn't work"
## Issue Overview

Changing the `preserve` value should work out of the box, whatever WP Rig uses as the default value.

Actually, the default value is set to `true`, but changing it to `false` doesn't work.

We the value is set to `false`, the custom properties or custom media definitions are removed, but the values are not computed. In the stylesheets, we have references to undefined values.

[2019-03-06 14:42] benoitchantre commented on #363
Yes

[2019-03-06 22:59] mor10 commented on #361
See https://github.com/WordPress/gutenberg/issues/14297 and https://github.com/WordPress/gutenberg/issues/11955 for further detail on why this happens.

[2019-03-06 23:11] mor10 commented on #361
I also made a Trac ticket for this as it's already live in core: https://core.trac.wordpress.org/ticket/46435#ticket

[2019-03-07 04:11] ehowey commented on #340
This can be closed - fixed with the updates today.  Thank-you!

[2019-03-07 04:11] #340 closed

[2019-03-07 12:23] ataylorme commented on #361
Moving conversation from #332 here.

Yes! See #369.

Thank you @jonathantneal! I used that in #370.

We now have 3 pull request for options to address this issue

* #368 - Automatically transform editor CSS with custom media and custom properties inline during the build process.
* #369 - Dynamically set postcss `preserve` to `false` for editor CSS.
* #370 - New editor styles task that uses `postcs

[2019-03-07 12:30] benoitchantre commented on #361
Wow. Thank you for all your work @ataylorme.

I personally prefer #369 for the same reasons.

[2019-03-07 12:51] benoitchantre commented on #361
Custom properties under `:root` will work with WordPress 5.2.
https://github.com/WordPress/gutenberg/issues/14297#issuecomment-470511862

[2019-03-07 14:51] ataylorme commented on #361
@mor10 are you okay with #369, dynamically set postcss `preserve` to `false` for editor CSS, as a solution?

It can be reverted once WordPress `5.2` is released, which is currently planned for April 30th.

[2019-03-07 19:57] sharazghouri commented on #328
Is this bug fixed?

[2019-03-08 08:30] Masterjoa commented on #328
This is because v1 is using Babel v6.

You are probably using variables inside WordPress translate functions.
phpcs should give you a notice about that...
Try using sprintf ;)

[2019-03-09 14:25] ataylorme opened #371 "Add tests for gulp tasks"
## Issue Overview
As the gulp build process is evolving, manual testing has become cumbersome. We should automate testing of gulp tasks to avoid introducing regressions.

https://snugug.com/musings/unit-testing-gulp-tasks/ and https://github.com/avajs/ava look promising.

[2019-03-09 16:18] joseph-farruggio opened #372 "How to add new tasks to Gulp"
## Issue Overview

Leaving this issue after having a conversation with Andrew Taylor. I need an example or documentation on how to add additional tasks to the new Gulp setup. I'm trying to process tailwind.css and I have this running in WP Rig V1.x, but V2 looks so different.

Here's Tailwind's docs on the Gulp setup:
https://tailwindcss.com/docs/installation/#4-process-your-css-with-tailwind

[2019-03-09 18:00] ataylorme commented on #372
@joseph-farruggio do you need to create a new gulp task or add tailwind to the existing CSS process?

[2019-03-10 06:02] andreibarbuta commented on #372
I second this, we need some docs, even if it's preliminary, before official documentation gets done. This is a major roadblock. For example I wanted to use gulp group media queries, not a big thing but it was a personal choice, lost 2 days trying to figured it out. I'm not very proficient in Javascript, yet, but with some docs or an example I could do it.

[2019-03-10 18:14] ataylorme commented on #372
Hi @andreibarbuta,
Thank you for posting your experience. I can empathize with struggling to understand something new, especially when it is not well documented.

I hope you can understand our side as well. Version 2 is still in active development. Version 1 is the stable version. which is why the `master` branch still reflects V1.

We are working towards a beta release of v2. Once we are at that

[2019-03-12 11:52] benoitchantre opened #374 "The regular font size in not usefull"
## Issue Overview

The `regular` font size (part of custom font sizes) has the same value as `global-font-size`. This is not great, because when selected, the editor adds a useless class to the markup. If somone wants to get the default font size, he should use the _Reset_ button.

I think the label is missleading.

## Possible Solution

- The label should be renamed to `medium` or something else

[2019-03-12 12:20] benoitchantre commented on #374
Ideally, a naming convention should be defined to simplify the work when switching to another theme.

Cc. @mor10.

[2019-03-12 13:02] Lautobus opened #377 "Store folder for plugin zip file"
## Issue Overview

I've made a custom plugin to manage Custom Post Types and want to bundle it with the theme so it could be install and activated with TGM Plugin Activation.
I've try to store the plugin zip file in "inc" and "pluggable" folder but the bundle process seems to get rid of zip files.
I could manually add the zip files after the bundle process but would be more easy to store them some

[2019-03-13 21:30] benoitchantre commented on #257
I’m not sure to understand why we would need a new component. I think the _Editor_ component would be approrpriate to enqueue the required script(s) to add/remove block variations. In PHP, we could comment the action used to enqueue the script(s).

I’ll work on a PR to see how it can work.

[2019-03-14 12:46] ataylorme commented on #345
Closed by #354

[2019-03-14 12:46] #345 closed

[2019-03-14 12:52] ataylorme commented on #363
@benoitchantre can you verify this is fixed for you? If so, please close the issue.

[2019-03-14 12:53] ataylorme commented on #365
#369 should fix this when it is merged

[2019-03-14 12:57] ataylorme commented on #355
Closed by #356

[2019-03-14 12:57] #355 closed

[2019-03-14 12:57] ataylorme commented on #351
Closed by #352

[2019-03-14 12:57] #351 closed

[2019-03-14 13:08] benoitchantre commented on #363
✔️ works

[2019-03-14 13:08] #363 closed

[2019-03-14 13:30] ataylorme commented on #362
I vote for option 2. It seems like a good way to solve this issue and prevent similar ones going forward

[2019-03-14 16:58] benoitchantre commented on #362
I just tested that again on `v2.0`

**For large screens**, the border is aligned with the content (ok)
![Capture d’écran 2019-03-14 à 17 50 14](https://user-images.githubusercontent.com/1521015/54375689-d3398b00-4681-11e9-9b4c-ab65be449c05.png)

**For small screens**, the border is aligned with the viewport (should be aligned with the content)
![Capture d’écran 2019-03-14 à 17 58 26](https://u

[2019-03-14 20:10] kauaicreative commented on #302
I believe this is what we are looking for, https://www.npmjs.com/package/cross-env

@andreibarbuta thanks for the workaround for now

[2019-03-14 20:26] benoitchantre opened #378 "Reduce calc usage when possible"
## Issue Overview

With custom properties, it's tempting to add many variables, like one to use as a spacing unit. This kind of usage will imply to frequently use `calc()` in the stylesheets. It would be nice if the build process could reduce their usage by processing the value whenever it's possible, to simplify the work for the browser.

This could be done by the [PostCSS Calc](https://github.co

[2019-03-14 21:45] benoitchantre commented on #362
It should be fixed by #362. I have found a simpler solution by using a left margin.

[2019-03-15 04:42] benoitchantre commented on #257
WordPress 5.2 should include a UI to disable blocks. I don’t think this is still relevant to provide an example for that.

I was thinking to add a variation for the list style. Something different than bullets, maybe checkmarks. Ideas are welcome.

A pull (draft) pull request should land soon.

[2019-03-15 04:51] benoitchantre commented on #347
Other solution: instead of adding a padding for the grid view, we could simply remove the border for both views.

Cc. @mor10 for feedback.

[2019-03-15 13:40] ataylorme commented on #378
@benoitchantre this looks like a good improvement, thank you for surfacing it. The implementation seems straight-forward but I would like to wait for #369 to be merged before opening a pull request for this.

[2019-03-15 15:01] benoitchantre commented on #378
No problem. Thank you for including this in `v2.0`

[2019-03-15 15:17] benoitchantre commented on #36
@mor10, @ataylorme : is it something we could consider for `v2.0` (SVG sprite generation) or is it tool late?

[2019-03-15 15:21] ataylorme commented on #36
We have a feature freeze on `v2.0` and are focusing on bug fixes. Since this is a new feature and not a bug fix, I think it should stay milestoned for a future release.

That being said, after the current bugs in `v2.0` are fixed and we release a beta of `v2.0` we can probably start work on `v2.1`

[2019-03-15 16:56] kauaicreative opened #380 "Gutenberg Cover block not centering content"
## Issue Overview
wprig 2.0 - Gutenberg Cover block centers content on backend but not on frontend.

## Steps to Reproduce

1. Add Cover block to page and view on frontend.

## Expected Behavior
See images with `display:block` turned on/off

## Screenshots / Video
![image](https://user-images.githubusercontent.com/127033/54448141-4eb33f00-474b-11e9-868d-f54c21ae1d98.png)
![image](https://user-imag

[2019-03-17 22:59] kauaicreative opened #381 "assets directory structure could be improved."
## Issue Overview
When viewing the wprig src theme, relative src css references fail with current assets directory structure e.g.
`background-image: url('../images/image.jpg');`

## Steps to Reproduce
1. Set theme to wprig source theme
2. Set a relative path in your css file. Something like this:
`background-image: url('../images/image.jpg');`
3. The image can not be found because the reference in

[2019-03-18 14:35] kauaicreative commented on #304
Here is the fix that works for me. The issue is with windows reversed slashes.
[code]

[2019-03-18 21:08] benoitchantre opened #382 "Theme Check: missing required CSS classes"
## Issue Overview

The [Theme Check plugin](https://wordpress.org/plugins/theme-check/) found that the following required classes are missing.

- `.sticky` css class is needed in your theme css
- `.screen-reader-text` css class is needed in your theme css. See See: [the Codex](http://codex.wordpress.org/CSS#WordPress_Generated_Classes) for an example implementation.

[2019-03-18 21:11] benoitchantre opened #383 "Translation functions without a text-domain"
## Issue Overview

The [Theme Check plugin](https://wordpress.org/plugins/theme-check/) found translation functions that are missing a text domain.

- `esc_html_e`
- `esc_html__`

[2019-03-20 14:41] ehowey opened #384 "Splitting entry_taxonomies into entry entry_tags and entry_categories"
## Issue Overview
I am working on a site using the 2.0 branch and wanted to display the post categories in a different area than the post tags.  Right now both the post categories and post tags are contained in the entry_taxonomies.php template file which groups them together.

I am not an expert PHP programmer by any means so there may be another and better way of doing what I did but I needed to

[2019-03-22 12:54] justintadlock commented on #339
I just want to note that the unminified versions of scripts/styles aren't what's required.  Technically, the original (i.e., source) files are.

Unminified versions are acceptable though.

[2019-03-25 15:18] #374 closed

[2019-03-25 15:19] benoitchantre commented on #362
Fixed by #353.

[2019-03-25 15:19] #362 closed

[2019-03-25 15:20] #346 closed

[2019-03-26 19:50] benoitchantre commented on #339
Thank you @justintadlock for this clarification.

[2019-03-27 20:56] syedsimanta03 opened #387 "Version upgrade"
Can you please upgrade the Php version?

[2019-03-28 15:14] benoitchantre commented on #334
I'll submit a follow-up PR after the merge of #332 with the goal to have more styles in `editor-styles.css` without duplication. Some sections from `global.css` should be moved to separated files (Typography, Elements, Links, ...) and imported into `global.css` and `editor-styles.css`.

[2019-03-28 16:47] mor10 commented on #387
Version 2.0 has a minimum requirement of PHP 7

[2019-03-28 16:47] #387 closed

[2019-03-28 16:51] mor10 commented on #381
Question about file structure. cc @ataylorme @felixarntz

[2019-03-28 17:19] bamadesigner commented on #265
@ataylorme I agree with this decision. PR time!

[2019-03-28 17:36] #361 closed

[2019-03-28 17:45] #238 closed

[2019-03-28 17:47] #336 closed

[2019-03-28 17:55] #341 closed

[2019-03-28 17:59] #316 closed

[2019-03-28 18:17] mor10 opened #388 "Fix CSS errors during build"
See #360 for discussion

## Issue Overview
When running a build, the following errors emerge:

[code]

This could either be a CSS issue or a Stylelint config issue. Requires testing.

[2019-03-28 19:39] ataylorme commented on #388
Closed by #389

[2019-03-28 19:39] #388 closed

[2019-03-28 19:39] ataylorme commented on #314
Closed by #358

[2019-03-28 19:39] #314 closed

[2019-03-29 13:16] benoitchantre opened #391 "Add wp_body_open hook"
## Issue Overview

Source : [make.wordpress.org](https://make.wordpress.org/themes/2019/03/29/addition-of-new-wp_body_open-hook/)

[2019-03-29 14:03] #72 closed

[2019-03-29 15:05] ataylorme commented on #350
@Drivingralle we are actively working on v2 but hope to have a beta soon. Once we do I will let you know so that you can test again.

[2019-03-30 20:52] ataylorme commented on #323
Closed by #393

[2019-03-30 20:52] #323 closed

[2019-03-30 21:23] ataylorme commented on #265
Closed by #394

[2019-03-30 21:23] #265 closed

[2019-03-31 20:27] benoitchantre commented on #365
Closed by #369.

[2019-03-31 20:27] #365 closed

[2019-04-01 11:11] paaljoachim opened #399 "Use WPRig as parent for multiple child themes"
The scenario:
I really would like to use WPRig as a parent theme that could be auto updated a few times a year from here at Github (or the WP repo). As it would make it a lot easier for me to just relate to creating child themes instead of having to think about maintaining the parent theme.

I could just focus on the layout/design and functions to be included in the child theme for the specific si

[2019-04-01 23:09] teddarling opened #400 "AMP error for @custom-media"
## Issue Overview
The use of @custom-media is not allowed with AMP.

## Describe your environment
Using VS Code, Chrome/Safari/Firefox.

## Steps to Reproduce
1. Build WP Rig
2. Install WP Rig
3. Install AMP Plugin (https://wordpress.org/plugins/amp/)Install AMP Plugin (https://wordpress.org/plugins/amp/)
4. Activate AMP Plugin
5. Validate any page
6. View AMP Validation Errors
7. Notice result.

[2019-04-02 10:48] GitaStreet commented on #400
Yes, this issue also makes variables disappear from:
 _custom-properties.css

Commented this line out in various .css files - and the variable definitions are back:
@import "_custom-media.css

[2019-04-02 11:15] GitaStreet commented on #400
Found this suggestion that seems to work:
"CSS variables should to be set in :root { }"
vuejs-templates/webpack#413

Quickfix not thoroughly tested:

Uncomment or delete all instances of:
@import "_custom-media.css";
Move these lines of code into the :root{} in the file _custom-properties.css
/* stylelint-disable */ @custom-media --narrow-menu-query screen and (max-width: 37.5em); @custom-media --

[2019-04-02 14:26] teddarling commented on #400
First, Let me add I updated my initial post to indicate that this is in version 2.0

@GitaStreet, I did add the variables into custom-properties.css, as you mentioned.

[code]

While this removed the AMP validation error, it doesn't actually work with media queries. For example, the `.menu-toggle` under `@media (--narrow-menu-query)` inside global.css, doesn't handle showing the menu when the clas

[2019-04-02 14:30] westonruter commented on #400
Yeah, `@custom-media` is not standard CSS, so it is illegal in AMP. Why is it getting served to the browser in the first place? Browsers won't understand it either. The SASS should always be compiled before being loaded into a page.

[2019-04-02 14:53] GitaStreet commented on #400
@teddarling
Trying to understand. Seems to be working here.

@westonruter
`@custom-media` appears to be compiled.

Have an WP RIG and AMP running here:

[https://zugest.dk/](https://zugest.dk/)

[2019-04-02 15:14] benoitchantre commented on #400
In `config.json`, set the value of `importFrom`to `["_custom-properties.css", "_custom-media.css"]`.
This will force postCSS to compute the values.

[2019-04-02 15:56] mor10 commented on #400
Custom media is bleeding edge. I'm starting to think we should shelve it for now in favor of standard variables.

[2019-04-02 16:05] teddarling commented on #400
ok, so I started from fresh, pulled version 2 into a clean install.

Here are my settings:

config.json:
[code]

The I run `npm run rig-init` followed by `npm run build`

Here is the first line of global.min.css file that is generated

[code]

Notice, the very first line has @custom-media, thus the AMP validation errors.

No I will say, that the build is building out with the custom media queries,

[2019-04-02 16:07] westonruter commented on #400
AMP currently allows the following at-rules:

* `@font-face`
* `@keyframes`
* `@media`
* `@supports`
* `@page`

The AMP plugin automatically drops `@charset` and `@import` in the process of concatenating into the `style[amp-custom]` stylesheet. Now, just because AMP doesn't support an at-rule doesn't mean that it it was intentionally disallowed. For example, I added `@page` support in https://gith

[2019-04-02 16:15] teddarling commented on #400
@mor10 I do unserstand the bleeding edge. It's the main reason that I'm looking at using WP Rig. That along with the built in AMP integration.

I think the biggest issue is that the bleeding edge that is available for browsers is different than for AMP.

But perhaps my image included above can show you what AMP compiles to with what is generated in the build process. That image alone (bottom of ht

[2019-04-02 16:35] westonruter commented on #400
@teddarling The AMP plugin does not remove CSS variables. Using a test plugin like https://gist.github.com/westonruter/11fe27a17f2d38dc331407cdba699a67 which outputs:

[code]

The `style[amp-custom]` generated by the plugin includes:

[code]

So the variables are intact. CSS variables are valid in AMP, and the AMP plugin does not remove them.

The issue is actually with the [PHP-CSS-Parser](https:

[2019-04-02 16:53] teddarling opened #401 "Style lint issue with editor-styles.css"
## Issue Overview
While running a build, there are 2 issues of duplicate style rules in the editor-styles.css file.

## Describe your environment
VS Code, Node 10.15.3, NPM 6.4.1 WP Rig 2.0 commit https://github.com/wprig/wprig/commit/47aef51a88887856be55dbce5f25c5cd27f2baf8

## Steps to Reproduce
1. Download WP Rig 2.0
2. run `npm run rig-init`
3. run `npm run build`
4. View build output

## Expe

[2019-04-02 17:43] mor10 opened #403 "Remove @custom-media rules from setup (for now)"
See #400 and https://github.com/wprig/wprig/pull/369#issuecomment-472177337

`@custom-media` might be a bridge too far along the bleeding edge route for right now. I propose we remove the `@custom-media` rules from existing stylesheets, replacing them with standard Custom Properties for now, as we await better support. The custom media rules file can stay in the system with a comment at the top sa

[2019-04-02 17:45] mor10 commented on #400
@teddarling See #403: I am proposing removing the bundled `@custom-media` rules for now while leaving the functionality in place. Eventually `@custom-media` will have better support, in AMP and outside. Until then my suggestion is we'll mark it as experimental and allow people to make their own decisions.

[2019-04-02 17:46] ataylorme commented on #403
I am okay with removing custom media but leaving support for it (and documenting that support) if user's wish to implement it. We could warn about possible AMP incompatibilities.

To me, this is similar to WP Rig supporting Sass but not shipping with any Sass files.

[2019-04-02 18:00] mor10 commented on #403
Riiiiiiiiiight... There was a reason I used `@custom-media` to begin with: You can't use custom properties in media queries, which is why `@custom-media` exists in the first place. This requires some more thought.

From the [spec](https://www.w3.org/TR/css-variables-1/#using-variables):

Thoughts @bamadesigner and @benoitchantre?

[2019-04-02 18:06] benoitchantre commented on #403
Ok with your proposal.

Would it be possible to check and merge #390 before?

[2019-04-02 18:22] ataylorme commented on #403
Custom media just needs to be excluded from the built CSS, not the source. We could rethink the decision in #369 and use `importFrom` to inject/process custom-media/custom-properties and _not_ preserve them in the built CSS.

This would allow them to continue to be used in the source without having anything in the built CSS that conflicts with AMP.

[2019-04-02 18:31] mor10 commented on #403
Custom Properties must be preserved. They are not bleeding edge. Custom media can be imported and rewritten in the interim.

[2019-04-02 18:52] ataylorme opened #404 "Remove Sass support"
WP Rig is all about embracing modern development practices.

[Sass](https://sass-lang.com/) was a leap forward when it was introduced, but that was 12 years ago.

The features that drew me to Sass then (listed below) can be done with modern CSS.
* Nesting
* Variables (`custom-properties`)
* Easier media queries (`custom-media`)
* Prefixes

There is a gulp task for compiling Sass files, but there a

[2019-04-02 19:45] mor10 commented on #404
I have strong opinions on Sass (in favor of immediate removal), but I feel like we need some input from the general dev community on this.

[2019-04-02 20:14] benoitchantre opened #407 "Duplicated selectors are not found when they come from an import"
## Issue Overview

Duplicate selectors and other errors are not detected because style lint is done before imports.

[2019-04-02 20:23] benoitchantre commented on #407
Cc. @ataylorme for feedback.

[2019-04-02 21:03] ataylorme commented on #407
I can't reproduce. [`assets/css/src/content.css` in the current commit on `v2.0`](https://github.com/wprig/wprig/blob/425552c5058351e047e4bc0a138c7705bd38bb1f/assets/css/src/content.css) has a duplicate `.alignwide` declaration and I am seeing it reported.

[code]

[2019-04-02 21:04] ataylorme commented on #407
Also if I move `stylelint()` down after `AtImport` in the `postcssPlugins` array so it runs second a lot of warnings show up due to the value being imported into the CSS contents in the stream.

Example:

[code]

[2019-04-02 21:06] benoitchantre commented on #407
In `content.css`, block selectors are duplicated because they are also imported from `_blocks.css`. This is not detected.

[2019-04-02 21:09] ataylorme commented on #407
Ah, would happen because files prefixed with an underscore, such as `_blocks.css`, are ignored in the CSS source for gulp

[code]

And, as you say, `stylelint` happens before the CSS import is processed so the contents of the files aren't in the stream yet when `stylelint` runs

[2019-04-02 21:38] ataylorme commented on #407
Actually, this just effects stylelint not running in `_` prefixed files.

This is still an issue. [As I said in my comment above](https://github.com/wprig/wprig/issues/407#issuecomment-479201818) running the import first introduces stylelint warnings.

I'm not sure how to resolve that.

[2019-04-02 22:23] ataylorme commented on #407
#408 addresses some `stylelint` issues in partial files (prefixed with a `_` and ignored in `gulp.src`) by running `stylelint` as a plugin in `postcss-import`.

CSS files having duplicate selectors from imported files, however, remains unreported.

I've tried quite a few things without success. Maybe @jonathantneal would be kind enough to help us out.

[2019-04-03 05:46] benoitchantre commented on #400
@teddarling Can you test #405?

[2019-04-03 05:50] #344 closed

[2019-04-03 05:50] #342 closed

[2019-04-03 05:51] #290 closed

[2019-04-03 16:38] ataylorme commented on #403
Closed by #405

[2019-04-03 16:38] #403 closed

[2019-04-03 16:39] ataylorme commented on #400
Closed by #405

[2019-04-03 16:39] #400 closed

[2019-04-03 17:25] mor10 commented on #407
I think this is an unavoidable issue as long as we use partials. We have to weigh the pros and cons.

[2019-04-04 16:20] ataylorme commented on #407
I agree. I have been testing #408, which runs `stylelint` after processing imports.

`_blocks.css` is imported into `content.css`. When I add a selector to `_blocks.css` that already exists in `content.css`, such as `.entry`, is not reported.

Viewing the built CSS file confirms the duplicate entry exists after the import is processed.

Adding a duplicate `.entry` selector directly to `content.css

[2019-04-04 20:25] benoitchantre opened #409 "Travis doesn't test PHP 7.3 stable"
## Issue Overview

Is there a reason not to include tests for PHP `7.3`?
Also, why failures are allowed with a stable branch of PHP (`7.2`)?
https://github.com/wprig/wprig/blob/b3edfa4c488ff03aeed4770ed5a75973db4e3227/.travis.yml#L22-L40

[2019-04-05 14:07] LukaszJaro commented on #404
Hi, I have been a WP dev for a few years now, I actually never used SASS before. I'm familiar with the variables and nesting + separation benefits. I was about to learn SASS when I discovered wp-rig starter theme, but based on the video tutorials provided by wp-rig (which are very good and to the point) it turned me off from using SASS since wp-rig is using the more modern postCSS.

Basically new

[2019-04-08 12:39] ehowey commented on #289
I am still seeing some odd behaviour with this.  I am working on a client site using the latest commits to v2.0.  I just pushed a very early beta version of the site out for the client to look at, the css is a bit messy (all at the end of the file) still since I am waiting until a stable release to integrate it properly into the wprig CSS.  The pictures are also temporary placeholders so excuse th

[2019-04-08 18:32] LukaszJaro opened #411 "Latest v2.0 branch looks very different then v2.0-alpha release"
Hi,

I recently started to use wp-rig v1, watched all of the well done tutorial videos at https://wprig.io/course/wprig_en/

With the help of the video tutorials I found v1 to be simple to use starter theme that was much more advanced then anything I ever used i.e, '_s'

Then I discovered the new wprig 2.0-alpha release, read that dev folder was removed and everything was moved up a level which se

[2019-04-09 12:47] greatislander opened #412 "PHP_CodeSniffer error with PHP 7.3.x"
## Issue Overview
I'm encountering an error with all build and watch processes related to PHP_CodeSniffer. It appears to be fixed in a forthcoming update to PHP_CodeSniffer, but I thought I should file a report here so that anyone else who encounters it can benefit.

## Describe your environment
macOS: 10.14.4
PHP: 7.3.4

## Steps to Reproduce
1. Clone this repo and checkout the v2.0 branch.
2. Ch

[2019-04-09 18:18] mbootsman opened #413 "cssVariables.json not processed - debug help needed"
I am using PHPStorm 2019.1, and believe I have met all prerequisites according to
`npm run build` works and browsersync is connected.

When Looking at the generated css, I still see the css variable names in there.
Like:
[code]

I cannot seem to find any logfile that describes the build process, to see where things go wrong. Any pointers to help me debug this are welcome. Thanks.

[2019-04-09 18:49] felixarntz commented on #301
Maybe only fail for the production stuff? As in `npm run bundle` from https://github.com/wprig/wprig/blob/v2.0/package.json#L87

I think you should be able to run everything development-related without changing these.

[2019-04-09 19:13] benoitchantre commented on #334
- #410 moves gallery block styles to `_blocks.css` (ready to be merged)
- `button`, `input` and other selectors that are part of the block editor UI cannot be imported in `editor-styles.css`: they change the appearance of the editor controls
- there are maybe a few more selectors in `content.css` that could be moved to another separate file; not sure it's worth it, but I can do some tests to see w

[2019-04-09 19:50] mor10 commented on #404
Suggestion: We remove Sass support, and add a Wiki page with information on how to extend the existing setup to include Sass support for those who want it. Could eventually be an optional module maintained separately by Sassy people.

[2019-04-09 19:56] benoitchantre commented on #334
@felixarntz I have found that captions styles and galleries (legacy) could be reused in `editor-styles.css`. We could move them in a new `_media.css` file.

In `_typography.css`, we have a padding of `1.6em` for `<pre>`.
I suggest to use a value of `1.5em` instead of `1.6em` and to remove the lines 117-123 from `content.css`.

https://github.com/wprig/wprig/blob/fc187e710d44c0db7c06ab6e631f0ef9cab

[2019-04-09 20:02] mor10 opened #414 "Update lazyload to meet current best-practice"
Lazy loading of images (and iframes) is coming to a browser near you very soon. The lazy loading feature in WP Rig should be updated to meet this new standard: https://addyosmani.com/blog/lazy-loading/

Todo:

- [ ] - Add `loading="lazy"` attribute/value pair to all images to be lazy loaded.
- [ ] - Add `loading="eager"` to the first featured image on single posts and pages.
- [ ] - Update classna

[2019-04-09 20:22] felixarntz commented on #414
I think this is better suited for post-2.0 because it's too early to implement this IMO. While we want to be on top of the time, implementing this now would be too much so. The feature is still in draft (see https://github.com/whatwg/html/pull/3752), Chrome is only including it experimentally.

In combination with this not being a breaking change, I suggest to punt to "Future Release".

[2019-04-09 20:24] mor10 commented on #414
sure.

[2019-04-09 20:31] ataylorme commented on #378
@mor10 one question is do we want `preserve` to be `true` or `false` for the `calc()` PostCSS plugin. Here is an example

Source:
[code]

`preserve: false`:
[code]

`preserve: true`:
[code]

[2019-04-09 20:35] ataylorme commented on #378
I prefer `preserve: false` and created #416 with that implementation but I am open to discussing if `preserve` should change to `true`.

[2019-04-09 20:36] ataylorme commented on #301
That makes sense to me

[2019-04-09 20:42] benoitchantre opened #417 "Undefined custom properties in editor-styles.css 🤔"
## Issue Overview

Custom properties are back in `editor-styles.css`. We should only have computed values, otherwise we have undefined values because of a bug in the block editor.

Cc. @ataylorme

[2019-04-09 20:56] benoitchantre commented on #417
Introduced in 067c2b76ea0ffe341d9f9d5471f13db7a0bf228f

[2019-04-09 21:03] benoitchantre opened #420 "Remove minor padding adjustment for pre"
## Issue Overview

We have two padding values that are really close for `<pre>`:

1. `1.6em` in `_typography.css`
2. `1.5em` in `content.css`

https://github.com/wprig/wprig/blob/fc187e710d44c0db7c06ab6e631f0ef9cab77dde/assets/css/src/content.css#L117-L123

I think we should remove lines 117-123 from `content.css` and adjust the value to `1.5em` in `_typography.css`. The value of `1.5em` is used f

[2019-04-09 21:05] ataylorme commented on #417
This is why I want to write tests for the gulp tasks themselves

[2019-04-09 21:19] benoitchantre commented on #382
`.screen-reader-text` is apparently not detected. It is already in `global.css`

[2019-04-10 05:30] benoitchantre commented on #417
Sounds like a good idea.

[2019-04-10 06:11] benoitchantre opened #422 "Add a query component"
## Issue Overview

Themes often need to customize the main query. We should have a query component where we could modify the default query with `pre_get_posts`.

[2019-04-10 22:04] ataylorme commented on #404
I am +1 on this but would like an additional vote from @felixarntz or @bamadesigner before opening a PR to drop Sass support

[2019-04-11 02:50] bamadesigner commented on #391
Addressed in #392.

[2019-04-11 02:50] #391 closed

[2019-04-11 10:08] briainod commented on #289
I'm experiencing exactly the same problem - the navigation works sporadically.

I thought the 'click' Event Listener might not be getting picked up so I've replaced it with 'touchstart' depending on the User Agent (dev/js/navigation.js:128) but it doesn't seem to make a difference.

I've added a console.log to the Event, it fires/doesn't fire when the menu does/does't work.

Have also tried switch

[2019-04-11 14:19] ehowey commented on #289
When I was digging through trying to problem solve I noticed that navigation.js is loaded "async" while lazyload.js is loaded "defer" - would switching navigation.js to "defer" solve this at all?  This is a bit beyond my knowledge but from the reading I did about DOMcontentloaded it seemed like the script must be firing at the wrong time sometimes...the only reason I can surmise for this is some k

[2019-04-11 15:29] seanrasmussen opened #424 "Installer working in Ubuntu, but not Windows 10 -- PHPCS Path issue"
## Issue Overview

## Describe your environment

## Steps to Reproduce

1. Start with Windows 10
2. run npm install
3. get PHPCS path issue
4. Install fails

## Expected Behavior
Installer should work as it has before on same machine, or like it does on my Ubuntu machine.

## Current Behavior
I get a PHP warning about PHPCS and the install fails to complete.

Loading composer repositories with pac

[2019-04-11 17:07] #412 closed

[2019-04-11 17:09] #378 closed

[2019-04-11 17:13] #301 closed

[2019-04-11 17:19] #417 closed

[2019-04-11 17:49] felixarntz commented on #269
Features are frozen, milestone is only bugs, documentation needs to be written. :)

[2019-04-11 17:49] #269 closed

[2019-04-11 17:53] #404 closed

[2019-04-11 18:29] #334 closed

[2019-04-12 03:10] ataylorme commented on #382
Is there a way to run the theme check as part of the gulp/build process?

[2019-04-12 03:15] ataylorme commented on #413
@mbootsman WP Rig `v2.0` uses PostCSS + Browerlist to determine what needs to be processed. Your CSS output is what is expected with the default `.browserlistrc` file. Chrome, Firefox, etc. can process CSS variables.

If you need to support other browsers try editing `.browserlistrc`. For example, adding a new line to that file with `IE 11`. If the browsers defined to not support CSS variables the

[2019-04-12 03:19] ataylorme commented on #411
Yes, `v2.0` is still a work in-progress though we released a beta version today.

We are still working on documentation (which is why we are at beta and not v2 stable) but @felixarntz has written a great article on the Wiki [PHP Architecture in WP Rig](https://github.com/wprig/wprig/wiki/PHP-Architecture-in-WP-Rig).

Check out that article and try to use the new OOP architecture. We need help test

[2019-04-12 03:19] ataylorme commented on #407
Closed by #408

[2019-04-12 03:19] #407 closed

[2019-04-12 03:20] ataylorme commented on #401
@teddarling we just released [`v2.0-beta1`](https://github.com/wprig/wprig/releases/tag/v2.0-beta.1). Please test the beta issue and see if it resolves your issue.

[2019-04-12 03:24] ataylorme commented on #377
Hi @Lautobus try adding it to the `export.filesToCopy` section of the config. This is where you can add extra files to be copied to the production build. Here is an example `config/config.json`

[code]

We also released [`v2.0-beta1`](https://github.com/wprig/wprig/releases/tag/v2.0-beta.1) so please test that version as it is the most up to date.

[2019-04-12 03:28] ataylorme commented on #339
@benoitchantre I think `export.FilesToCopy` in the config will work here.

It takes an array of files and copies all of them as-is to the production bundle.

Something like this in `config/config.json`:

[code]

[2019-04-12 03:30] ataylorme commented on #304
Can you try the [`v2.0-beta1`](https://github.com/wprig/wprig/releases/tag/v2.0-beta.1) release? `rootPath` is now `process.cwd()` which should return the proper results.

[2019-04-12 09:41] andreibarbuta commented on #304
I will test it this weekend or monday at the latest. Thx.

[2019-04-12 15:32] teddarling commented on #401
@ataylorme Issue is fixed.

[2019-04-12 16:49] ataylorme commented on #401
👍 I love if when issues are fixed. If you have feedback on or find an issue in the beta please open a new issue.

[2019-04-12 16:49] #401 closed

[2019-04-12 22:48] dolcizia22 commented on #289
Having the same issue with two sites I'm working on. Occasionally the mobile menu button will work but more often I get this "Uncaught TypeError: Cannot read property 'querySelector' of null
    at initMenuToggle"

I'm not very experienced at all with js so I'm looking forward to someone wiser than I am saving the day .

[2019-04-15 15:02] #411 closed

[2019-04-15 15:05] LukaszJaro commented on #411
Thanks @ataylorme, I will read over the docs when I get some time and try out the latest wp-rig 2.0, and go from there.

[2019-04-15 15:06] ataylorme commented on #413
@mbootsman [`v2.0-beta1`](https://github.com/wprig/wprig/releases/tag/v2.0-beta.1) [uses a standard CSS file instead of a JSON file for custom properties](https://github.com/wprig/wprig/blob/v2.0/assets/css/src/_custom-properties.css). Can you test the latest beta and see if you still have issues?

[2019-04-15 20:06] benoitchantre commented on #339
It works, thank you @ataylorme.
I think it should be part of `config.default.json` as it is a requirement from the Theme Review Team.

[2019-04-15 20:23] ataylorme commented on #339
I respectfully disagree. We can document how to make sure the source asset files are copied to the production theme but I don't think it should be the default. Not all themes built on WP Rig will be submitted to the WordPress.org repository.

Defaulting to including extra files in the production build for all WP Rig users to increase convenience for some users is something I am against. Maybe inst

[2019-04-15 20:26] benoitchantre commented on #350
Same result with `v2.0-beta.1`.
`styles.css` in the bundle doesn't contains the values from `config.default.json`

[2019-04-15 20:39] benoitchantre commented on #339
Thank you for your feedback @ataylorme. I agree with your arguments.

I think it is a good idea.

[2019-04-15 21:02] ataylorme commented on #350
Also, with `style.css`, the idea is that can be edited directly in the development theme. Though I see how leaving `Theme Name: WP Rig` would be desired so that you can easily tell which theme is which (dev vs production theme) in the WordPress dashboard.

@Drivingralle can you test #427? That PR runs string replacement on `style.css`.

[2019-04-16 06:40] mbootsman commented on #413
I will as soon as I can. What is the best way to update? Just do a git pull?

[2019-04-16 15:40] ataylorme commented on #413
Depending on how much you modified `git pull` may have some merge conflicts. The alternative would be to do a fresh clone of the WP Rig repo and start there, optionally copying over files you modified.

[2019-04-17 06:04] #420 closed

[2019-04-18 11:27] benoitchantre commented on #382
I had a discussion with @dingo-d (Theme Sniffer lead dev) in Slack. #161 and #162 go in that direction.

- #161 is blocked by https://github.com/squizlabs/PHP_CodeSniffer/issues/2197 (Greg or Juliette will be pinged)
- #162 should be updated soon

[2019-04-18 11:44] benoitchantre commented on #279
I just tested the `v2.0` now with IE11 on BrowserStack. Apparently this doesn't work: the sidebar is displayed below the content instead being next to the content.

[2019-04-18 11:56] benoitchantre commented on #289
#428 fixes this issue.

[2019-04-18 15:23] ataylorme commented on #279
@benoitchantre did you update `.browserlistrc` to have `IE 11`?

Reading [Does Autoprefixer polyfill Grid Layout for IE?](https://github.com/postcss/autoprefixer#does-autoprefixer-polyfill-grid-layout-for-ie) I'm wondering if adding `/* autoprefixer grid: autoplace */` to the CSS files would have an effect.

[2019-04-18 15:40] benoitchantre commented on #279
@ataylorme In `.browserslistrc`, we have `> 1%` and `last 2 versions`. [That includes IE11](https://browserl.ist/?q=%3E+1%25%2C+last+2+versions).

I haven't found know how to configure autoprefixer with the build script.

[2019-04-18 15:54] ataylorme commented on #279
From the linked doc in my last comment:

Looking at the [autoprefixer section of the `postcss-preset-env` README](https://github.com/csstools/postcss-preset-env#autoprefixer) it seems we may need `autoprefixer: { grid: true }`.

In #429 I am working on adding tests for the gulp tasks. @benoitchantre an expected input and output for IE grid CSS would be helpful. It might be as simple as:

[code]

[

[2019-04-18 16:03] benoitchantre commented on #279
@atalyorme Going back home now. I’ll try to look at that later based on https://autoprefixer.github.io/ which has the polyfill enabled.

Your example looks good. Do you want more (all?) properties for the tests?

[2019-04-18 16:25] ataylorme commented on #279
No, I think if prefixing is present for one it will be there for all.

@benoitchantre can you test #429? I used this case to add a new feature of allowing `autoprefixer` to be configured. By default `grid` is set to `false` but changing it to `true` in `config/config.json` should add the prefixes needed by IE.

First, I wrote the test then I worked on the styles task until the test passed. My goal

[2019-04-18 16:57] benoitchantre commented on #279
@ataylorme Yes, but in 2-3 hours.

[2019-04-18 19:17] benoitchantre commented on #279
Thank you @ataylorme, it works (autoprefixer adds support for IE).

Here's a screenshot of the result. The sidebar is now displayed next to the content as expected, but we have other issues because not all grid properties are supported by IE.

![bs_win8 1_IE_11 0](https://user-images.githubusercontent.com/1521015/56384874-dc3bf000-621d-11e9-9881-b8f0f9173758.jpg)

Here are some warnings reported b

[2019-04-18 19:21] ataylorme commented on #279
@benoitchantre I think that is okay. My expectation is that WP Rig will not have IE support out of the box. Rather, a user must make adjustments if their project requires IE support.

That means opting into `autoprefix: { grid: true}` in the configuration as well as editing the CSS files to have IE compatible syntax.

[2019-04-18 19:22] ehowey opened #430 "Clearer documentation about naming of wprig folder in 2.0"
## Issue Overview
In the documentation installing wprig v2.0 it states as follows:

1. Clone or download this repository to the themes folder of a WordPress site on your development environment.
  -DO NOT change the name of the theme directory from the default wprig.

In discussion during office time today I asked a question about this.  It turns out that renaming the folder is not such a big deal

[2019-04-18 21:02] benoitchantre commented on #279
I made a test in a separate PR. The layout uses flexbox if grid is not supported.

[2019-04-18 22:36] ataylorme opened #432 "Separate gulp tasks that require PHP/Composer and Node/npm"
## Issue Overview
Follow up to #336. When implementing a WP Rig production build in a Continuous Integration environment I find that gulp tasks, such as `styles`, which runs PHPCS, to be troublesome as I am using a Dockerfile that does not have PHP/Composer.

I suggest that we break the CSS code sniffing out into its own task and skip running the code sniffing task in production.

[2019-04-21 07:06] ecotechie opened #433 "Full width template help"
## Using the 2.0 branch
I realize I'm likely being very dense here and I'm approaching this wrong...

## Issue Overview
Not able to fully remove sidebar from page template

## Steps to Reproduce
1. activate optional template, custom-page-template.php
2. remove get_sidebar() function call, this removes sidebar

## Expected Behavior
A full page setup like front-page.php template has.

[code]

## Cur

[2019-04-22 15:50] AmirHosseinSaadatmand opened #434 "Can I use wprig to update existing theme?"
## Issue Overview
Can I use wprig to update existing theme?

What should i do?

Thank you a lot

[2019-04-22 20:18] benoitchantre commented on #433
In the `Sidebars` component, you need to define the template files that don't have a sidebar.

https://github.com/wprig/wprig/blob/b3edfa4c488ff03aeed4770ed5a75973db4e3227/inc/Sidebars/Component.php#L90-L92

[2019-04-22 20:48] benoitchantre opened #435 "Prefer short array syntax"
## Issue Overview

[Coding Standards Updates for PHP 5.6](https://make.wordpress.org/core/2019/03/26/coding-standards-updates-for-php-5-6/)

WP Rig could use the short syntax now.

[2019-04-23 01:05] ecotechie commented on #433
Thanks a million @benoitchantre! I looked everywhere and ended up hacking the css to do it. But This Is The Way :+1:

[2019-04-23 01:05] #433 closed

[2019-04-24 11:14] benoitchantre opened #437 "IE11 : sub menus don't work"
## Issue Overview

We can see the following Javascript error located in `navigation.js`:
`Object doesn't support property or method 'forEach'`

https://github.com/wprig/wprig/blob/b3edfa4c488ff03aeed4770ed5a75973db4e3227/assets/js/src/navigation.js#L41-L43

Tested with IE11 in BrowserStack.

## Possible Solution

Replace the `forEach` loop by a `for` loop

[2019-04-24 15:53] ataylorme commented on #434
@AmirHosseinSaadatmand I am not sure what you are asking.

Do you:
1) Have an existing theme that does not have WP Rig implemented at all and want to start using it
1) Have a WP Rig theme using v1 and want to update to v2

In either case, I think the answer is the same - download v2 of WP Rig and then work on bringing over the templates, CSS, etc. from your existing theme.

[2019-04-24 15:54] ataylorme commented on #430
@ehowey thank you for sharing that this wasn't clear for you. I think your suggested solution makes sense. Would you like to open a pull request to the README?

[2019-04-24 15:55] ataylorme commented on #289
Closed by #428

[2019-04-24 15:55] #289 closed

[2019-04-24 16:17] ataylorme commented on #437
@benoitchantre I'm of the opinion that if your project requires IE 11 support you should add a polyfill. [Here is one for `forEach`](https://developer.mozilla.org/en-US/docs/Web/API/NodeList/forEach#Polyfill).

Alternatively, you could enqueue a new script [from polyfill.io](https://polyfill.io/v3/url-builder/) for the features you need to polyfill.

Perhaps this can be a documentation issue?

[2019-04-24 16:58] benoitchantre commented on #437
Thank you for the links @ataylorme.

If you don’t mind, I’m curious to knows why you advise to use a polyfill rather than to adapt the loop as we have only one usage of a `forEach` loop. From my readings, a `for` loop is a lot more performant than a `forEach` loop.

If WP rig doesn’t officially support IE11, I think that should be documented. Ideally, the documentation would include known issues a

[2019-04-24 17:07] ataylorme commented on #437
I am not against using a `for` loop in this specific case.

I guess my input for a polyfill is more a general opinion. Each WP Rig user's project needs will differ and someone supporting older browsers should look to use polyfills in their projects in general, regardless of it they are based on WP Rig

[2019-04-24 17:18] benoitchantre commented on #437
Thank you. I will submit a PR to fix that with a `for` loop.

Do you want I open a separate issue about a browser support documentation?

[2019-04-24 17:19] ataylorme commented on #437
Yes, a separate issue for browser support/IE documentation would be great. I think that is important as we move from beta to a full release

[2019-04-24 21:33] benoitchantre commented on #437
I did a PR that uses `for` loops instead of `forEach`. Unfortunately, sub menus are not working in IE11. Same result with a polyfill instead of this PR.

If someone has an idea why, I'm not against some help. 🆘

[2019-04-24 21:40] benoitchantre opened #439 "Documentation: browsers support"
It would be usefull to have some documentation about the browsers that are officially supported (or not supported).

It could list know issues and give some high level solutions to solve these known issues.

Related issues: #437, #279.

[2019-04-25 05:24] ColtonGO opened #440 "Menu Toggle Not Working Correctly"
## Issue Overview

I am having the menu toggle issue previously reported. I just tried again with a fresh copy of wprig since the issue someone else created has been closed and moved to the done and it is still not working correctly for me. The only changes made to the fresh copy of wprig are to enable browsersync. Could this be something I didn't setup correctly? I followed along with the videos

[2019-04-25 05:55] benoitchantre commented on #440
Are you using the `v2.0` branch?
If yes, did you run `npm run build` before your tests?

[2019-04-25 16:19] petersuhm commented on #432
👍 on this! I was trying to set this up on https://usebranch.co and I think it makes sense to be able to run each step of the build process in its own environment. It's unexpected for me to run `npm install` and have that do all sorts of PHP related stuff.

[2019-04-25 16:23] ataylorme commented on #432
@petersuhm that specific problem was solved by #357, which changed the suggested setup command that uses both Node and PHP to `npm run rig-init`.

You should be able to do `npm install` and `composer install` separately.

However, some gulp tasks use PHPCS, which is what this issue is for.

[2019-04-25 17:36] ColtonGO commented on #440
Turns out I was using the master branch.
I downloaded v2.0 branch and followed the instructions within that branch for installation. I received the this error when running npm run dev:
`Requiring external module @babel/register
internal/modules/cjs/loader.js:711
    throw err;
    ^

SyntaxError: C:\wamp64\www\cressman\wp-content\themes\wprig-2.0\config\config.json: Unexpected token } in JSON at p

[2019-04-25 18:15] benoitchantre commented on #440
Run `npm install` and `composer install`, then try to run again `npm run dev` or `npm run build`

[2019-04-25 18:25] ColtonGO commented on #440
Here is what shows when running those:
PS C:\wamp64\www\cressman\wp-content\themes\wprig-2.0> npm install
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@1.2.7 (node_modules\fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.2.7: wanted {"os":"darwin","arch":"any"} (current: {"os":"win32","arch":"x64"})

audited 18796 packages in 8.308s
found 10 v

[2019-04-25 18:28] ehowey commented on #440
I am not at my computer so I am not 100% sure this is the same as what happened for me. Are you by chance using the same “wprig” folder name?

If so try downloading a fresh copy of the 2.0 branch and change the folder name to something other than wprig. Like wprig2.  The follow the rest of the install instructions. Maybe that fixes it?...I had something similar once.

[2019-04-25 19:20] ColtonGO commented on #440
I didn't change the original folder name from "wprig-2.0" but I did as you suggested and used the folder name "wprig2" and it seems to work.

The issue I have now is that when I define custom settings in config.json they don't work. So when I run npm run dev browsersync is still proxying "wprig.test:8888". If I try editing the config.default.json file I get the error from before...

On a different

[2019-04-25 19:31] ehowey commented on #440
We sound very similar in what difficulties we ran into in the install process...I think I had something similar like this too.  What I found is that there are some opening and closing `{` in the config file that are easy to get wrong.  I found the easiest thing was to just copy and past the whole config.default.json file into the config.json file and edit it.  I know this isn't exactly what the in

[2019-04-25 20:14] ColtonGO commented on #440
I tried copy and pasting everything from config.default.json to config.json and making my edits. Browsersync now works but none of the changes to slug, name, etc are functioning.

[2019-04-25 20:58] ehowey commented on #440
I believe that is working as intended Colton. Those are replaced in the production process. You should see those replaced when you run the command “npm run bundle”

[2019-04-25 21:59] ColtonGO commented on #440
haha ok sweet.
Thanks for your help!

[2019-04-25 21:59] #440 closed

[2019-04-26 01:35] sharazghouri opened #442 "Default gallery block styling not working"
## Issue Overview

I selected 3 column gallery its working on backed editor but not on front end.
## Describe your environment

## Steps to Reproduce

1.
![image](https://user-images.githubusercontent.com/17900945/56777924-b320df80-6788-11e9-875f-8b34531440a8.png)
2.
![image](https://user-images.githubusercontent.com/17900945/56777939-c633af80-6788-11e9-9aed-ff66ec90a6f2.png)

## Expected Behavior

[2019-04-26 01:49] petersuhm commented on #432
Ah sorry about the confusion then. The docs still say to only run `npm install` which is what confused me. Thanks for clarifying!

[2019-04-26 10:54] benoitchantre opened #443 "Javascript errors reported (spacing), but the code looks good"
## Issue Overview

When I was working on #438, I noticed some syntax errors in the output of the build process.

[code]

Here's the related code

Line 42
[code]

Line 79
[code]

Line 152
[code]

Looking at the [Example of Good Spacing from the JavaScript Coding Standards](https://make.wordpress.org/core/handbook/best-practices/coding-standards/javascript/#examples-of-good-spacing), I can't see wha

[2019-04-29 13:57] benoitchantre opened #444 "Google Fonts: subset defaults to `latin-ext` instead of `latin`"
## Issue Overview

`Latin Extended` allows to support more languages, but the file to download is bigger than `Latin`. If the website don't need extended characters, this is a waste of bandwidth.

By default Google Fonts gives you a link with `Latin` subset.

Theme authors should be able to change the character support.
The default value for `subset` should be `latin` because not all fonts support

[2019-04-29 14:30] benoitchantre opened #445 "Stylelint warnings related to fonts"
## Issue Overview

A change in `_custom-properties.css` reveals warnings related to fonts.

Example

[code]
Warning
[code]

## Expected Behavior

No warning.

## Possible Solution

Disable stylelint
[code]

[2019-04-29 19:57] benoitchantre commented on #359
In #447, I have removed useless comments to disable stylelint.

Comments that are still in place are needed when:

- `no-descending-specificity` can safely be ignored
- duplicate selectors are used and cannot be avoided (eg. elements declared in `reset.css` that a declared again in `_elements.css`
- warnings are reported for no valid reason (eg. font family of one word without quotemarks)

[2019-04-30 09:22] benoitchantre opened #448 "Reconsider the name of the `Sidebars` component"
I think the term _Sidebars_ is ambiguous, because it is tied to a specific layout that could not be used by the theme. A generic term like _Widget Areas_ would be more neutral and aligned with [future changes in the admin](https://make.wordpress.org/design/2019/04/24/widgets-to-blocks-ux-flow-proposal/).

![gp2-widget-areas](https://user-images.githubusercontent.com/1521015/56951574-7cf0b080-6b38-

[2019-04-30 10:05] benoitchantre opened #449 "Fatal Errors in when Sidebars component is not initialized"
## Issue Overview

The method `is_primary_sidebar_active` is called in the _Styles_ component and in the _Image_Sizes_ component without a check if the method is available or not.

When the _Sidebars_ component is not initialized (because the theme doesn't use widgets) we get a fatal error.

[2019-04-30 12:08] benoitchantre commented on #409
I feel this is something that should be milestoned for `v2.0`.

Cc. @felixarntz,

[2019-04-30 12:52] benoitchantre opened #451 "Max-width should not be hardcoded"
## Issue Overview

The max width for comment navigation, posts navigation, post navigation and pagination has an hardcoded value. It should use the `--content-width` variable instead.

https://github.com/wprig/wprig/blob/b3edfa4c488ff03aeed4770ed5a75973db4e3227/assets/css/src/global.css#L460

[2019-04-30 23:11] mor10 commented on #444
Is there a list somewhere of what languages use `latin-ext`?

[2019-04-30 23:15] mor10 commented on #136
Related: #438

[2019-05-01 06:01] benoitchantre commented on #444
[According to Wikipedia](https://en.m.wikipedia.org/wiki/Latin_Extended-A), languages that use the followings alphabets:

- Catalan
- Czec
- Latin
- Latvian
- Lithuanian
- Polish
- Slovak
- Turkish
- Welsh

I just found that Google Fonts serve a stylesheet that contains all sunsets to major browsers even if we specify a subset, because they [browsers are able download only what they need](https://

[2019-05-01 11:06] benoitchantre opened #453 "add_image_size() not used: is there a need for documentation or code?"
## Issue Overview

I have noticed that there's no usage of `add_image_size()` in WP Rig, because there's currently no need for custom image sizes due to its simple design.

There's a high chance that themes build on WP Rig will need custom image sizes and that they want to make them available in the editor sizes list.

## Possible Solution

Based on that assumption, I see the following options:

-

[2019-05-02 10:28] benoitchantre opened #455 "custom-post-template.php is a page template, not a post template"
## Issue Overview

The template `custom-post-template.php` currently works as a page template, not as a post template as indicated by his name.

[2019-05-02 15:44] benoitchantre opened #457 "Sidebar not aligned with the content"
## Issue Overview

When the viewport is not large enough to display the sidebar next to the content but wider than `48em` (value of `--content-width` + `3rem` for side padding), there's a wrong alignment of the sidebar.

The width of the sidebar should be limited. It should also be centered like the content.

## Screenshots / Video

![Capture d’écran 2019-05-02 à 17 38 21](https://user-images.gi

[2019-05-02 16:24] tanmalik786 commented on #304
I just got it downloaded again [after having made few failed attempts yesterday] BUT couldn't achieve any of the things like
1. to watch for the changes to css files
2. to have it read the configuration settings from `config.json`, except for `browserSync` section

I am sharing the code in `config.json`, as it may prove helpful
`
{
    "theme": {
    "slug": "ctsoltheme",
    "name": "CTSol Theme"

[2019-05-03 02:14] ehowey opened #459 "Jetpack Infinite Scroll Not Working Without Tweaks in 2.0"
## Issue Overview
When you activate the infinite scroll setting in Jetpack it does not work as the wrong container is specified and also the render loop is not complete.

## Describe your environment
Clean install of latest 2.0 branch, otherwise N/A

## Steps to Reproduce

1.  Clean install of WP-RIg
2.  Most recent version of Jetpack
3.  Turn on Infinite Scroll
4.  Does not load more content.

##

[2019-05-03 02:27] #430 closed

[2019-05-03 05:22] benoitchantre commented on #448
I forgot to discuss that during yesterday office hours. What are your opinions on this @mor10?

Feedbacks from everybody are welcome.

[2019-05-03 20:49] benoitchantre opened #461 "`has-sidebar` class is limited to a specific sidebar id, a theme may have many"
## Issue Overview

Currently, WP Rig has one sidebar only which is displayed next to the content.

If your theme register many sidebars to be displayed next to the content (on different templates), you will find the methods are too limited. You are in a situation where there are many sidebar IDs that need to be checked to determine if `has-sidebar` has to be added to the body classes.

Example:

-

[2019-05-04 02:36] ehowey commented on #453
Documentation would be great...I had to figure this one out on my own and not even sure I really did it the right way...works...but I am still wrapping my head around all of those components.  It was a bit confusing that there was a component called "Image_sizes"...I ended up putting it in a custom component I made for the project I am working on.  I just tucked it into the initialize function lik

[2019-05-05 14:16] ehowey opened #462 "Headings in _typography.css not using css variables v2.0"
## Issue Overview
Just going through and working on some things in v2.0 and I noticed that the code for headings in _typography.css is not using a css variable for the heading color...I assume this is just a small bug.  Incoming pull request to fix.

## Expected Behavior
Headings to use the CSS Custom Properties.

## Current Behavior
Currently the code looks like this:
`h1,
h2,
h3,
h4,
h5,
h6 {
	f

[2019-05-05 20:00] benoitchantre commented on #331
Regarding the `has-sidebar` class, I think it should be possible to remove it from `<body>` and keep the desired layout. To accomplish that, we need to use a `grid` layout wether we have a sidebar or not and place the sidebar explicity on the grid based on its specific class name.

[2019-05-06 08:45] benoitchantre opened #464 "Nav_Menus component is not ready to handle many nav menus"
## Issue Overview

The component seems limited to handle only one nav menu. I think it should ready to handle multiple nav menus, because a theme often has many nav menus.

WP Rig should be usable with many nav menus without having to refactor the methods of this component.

## Current Behavior

We have a `PRIMARY_NAV_MENU_SLUG` string to store nav menu slugs. This constant limits the usage of the

[2019-05-06 16:58] mor10 opened #466 "v2.0 documentation: All hands on deck!"
With `v2.0` in Beta, we are entering the [documentation phase](https://github.com/wprig/wprig/projects/5). Anyone can contribute to documentation for WP Rig. To make documentation writing as straight-forward as possible, I have created a [Google Drive folder](https://drive.google.com/drive/folders/1hSLx0qmCUAIa0vwa4Q5PQyqK3rUpZF-6?usp=sharing) with all the documents from the [Wiki](https://github.

[2019-05-06 19:03] benoitchantre commented on #466
I would love to see:

- best practices & known issues related to responsive images sizes
- things to do for themes aimed for wp.org (eg. how to include source files: #339)
- browsers support (#439)

[2019-05-06 19:52] ehowey commented on #466
I really like the way functions.php has been dealt with and the new PHP architecture - way better than the old method of having a huge functions.php file with a mess of stuff BUT what I found hard being more of a hobbyist developer is that I couldn't just copy and paste a code snippet and it would work.  I had to go through and figure out how to properly initialize it and a few other things.  I wo

[2019-05-06 20:09] benoitchantre opened #468 "Post thumbnails use a full size image instead of a resized version"
## Issue Overview

Images should be loaded at the right size to save bandwith. I have noticed 2 usage of the `full` image size in `entry_thumbnail.php`.

## Expected Behavior

Smaller image should be used.

## Possible Solution

Set an appropriate size for `post-thumbnail` size and use it.

## Related Issues and/or PRs

#453

[2019-05-06 22:06] mor10 commented on #466
I've added documents for responsive images, public themes, browser support, and code snippets. Feel free to contribute

[2019-05-07 23:23] mor10 commented on #277
Wiki now features an extensive article on CSS in WP Rig v2.0, including file organization and other relevant info: https://github.com/wprig/wprig/wiki/CSS-in-WP-Rig

[2019-05-07 23:23] #277 closed

[2019-05-08 03:03] timnolte commented on #466
I'm trying to figure out, based on the installation steps, how putting your development under source control works of the directory is supposed to be left as wprig under themes and an mom build will create a theme directory for you. I need to keep under source control the development side of the theme, not just the final output.

[2019-05-08 03:05] timnolte commented on #466
Thinking about it, I suppose my actual development repository can be my theme directory but then clone it as wprig for actual development, but the then gets hard to manage when working on multiple themes with wprig as the start.

[2019-05-08 12:48] anoopd opened #470 "npm install error"
## Issue Overview
npm install gives `found 17 vulnerabilities (10 low, 5 moderate, 2 high)`, and `audit fix` gives `17 vulnerabilities required manual review and could not be updated`

`npm run build ` gives  `Failed to load external module @babel/register` and `Requiring external module babel-register`
## Describe your environment
 - mac os mojave
- node -v `v11.6.0`
- npm -v  `6.9.0`
- gulp -v `

[2019-05-09 10:30] benoitchantre commented on #250
<blockquote class="twitter-tweet" data-lang="fr"><p lang="en" dir="ltr">📢 Announcing Google Fonts will soon support setting `font-display` via a new query parameter. This unlocks controlling web font loading without having to self-host! Huge news <a href="https://twitter.com/hashtag/io19?src=hash&amp;ref_src=twsrc%5Etfw">#io19</a> <a href="https://t.co/Tt3eKA0dBR">pic.twitter.com/Tt3eKA0dBR</a></p

[2019-05-09 14:05] benoitchantre opened #471 "Main navigation doesn't highlight current menu item/ancestor"
## Issue Overview

When users click on a link in the main menu, they need a visual feedback on what they selected.

## Expected Behavior

The current menu item/ancestor should be highlighted.

## Current Behavior

No link is highlighted

[2019-05-09 18:28] mor10 opened #472 "entry-header rules too specific"
The selector for `.entry-title` seems too specific in `./assets/css/src/_typography.css`:

https://github.com/wprig/wprig/blob/v2.0/assets/css/src/_typography.css#L31-L32

I think it should be just

[code]

Is there a reason for this level of specificity?

[2019-05-09 19:15] benoitchantre commented on #472
I think the specifity could be lowered as proposed, but there's a need to have a different sizes for the post title when it is part of an archive or of search results

We will need an `h2.entry-title` for archives and search results to adjust the size.

[2019-05-09 19:41] benoitchantre commented on #472
@mor10 Do you want to submit a PR?

[2019-05-09 19:47] benoitchantre opened #474 "Unneded clear"
There's no reason to use `clear: both` in `.main-navigation`.

https://github.com/wprig/wprig/blob/d355aef7c8372a7c5c979dc9dec75011946d211d/assets/css/src/global.css#L374

[2019-05-09 20:03] benoitchantre opened #476 "Group selectors with same properties"
The following selectors should be grouped.

https://github.com/wprig/wprig/blob/d355aef7c8372a7c5c979dc9dec75011946d211d/assets/css/src/global.css#L89-L91

https://github.com/wprig/wprig/blob/d355aef7c8372a7c5c979dc9dec75011946d211d/assets/css/src/global.css#L103-L105

[2019-05-10 09:45] benoitchantre opened #478 ""the contributors" is not translatable"
In site info, `the contributors` will be used whatever the language of the site because it isn't internationalized. The sentence can only be partially translated.

https://github.com/wprig/wprig/blob/d355aef7c8372a7c5c979dc9dec75011946d211d/template-parts/footer/info.php#L22

[2019-05-13 11:09] benoitchantre opened #480 "Incorrect default font size in the editor"
The editor uses a value of `16px` instead of `1.25rem` (`20px`) for paragraphs and other elements that inherit their font size from `body`.

Sizes are displayed correctly on the front-end.

Update: seen with WordPress 5.1.1, but works fine with WordPress 5.2
I think this issue can be closed.

[2019-05-13 19:48] benoitchantre opened #481 "Colors are not applied correctly on buttons"
In the editor, buttons have the expected colors when background or text color are changed.

<img width="368" alt="Capture d’écran 2019-05-13 à 22 01 12" src="https://user-images.githubusercontent.com/1521015/57650286-c75b3e00-75ca-11e9-9b96-4bcde8b3d163.png">

On the front-end, colors are not applied correctly.

**Wordpress 5.1**

<img width="364" alt="Capture d’écran 2019-05-13 à 22 01 43" sr

[2019-05-14 12:04] benoitchantre opened #484 "Editor styles are missing in production files"
## Issue Overview

When you run `npm run bundle`, you should have have `editor-styles-min.css` in `assets/css/editor/`. This file is missing.

[2019-05-14 12:30] benoitchantre commented on #484
@ataylorme One solution is to add the path to `export` in `config.default.json`, but there might be a better way to fix that.

[code]

[2019-05-15 14:03] benoitchantre commented on #250
<blockquote class="twitter-tweet" data-lang="fr"><p lang="en" dir="ltr">Shipped! <a href="https://twitter.com/googlefonts?ref_src=twsrc%5Etfw">@GoogleFonts</a> now let&#39;s you control web font loading using `font-display`. Say hello to the `display` parameter 🎉<br><br>What&#39;s font-display? <a href="https://t.co/Q7RDeESwkm">https://t.co/Q7RDeESwkm</a> <a href="https://t.co/sn27ySza1B">pic.twit

[2019-05-16 14:38] benoitchantre opened #485 "List styles should be located in _blocks.css instead of _content.css"
## Issue Overview

The following selectors target the markup produced by the list block (in the content area). They should be part of `_blocks.css`.

https://github.com/wprig/wprig/blob/d355aef7c8372a7c5c979dc9dec75011946d211d/assets/css/src/content.css#L104-L116

[2019-05-20 20:50] benoitchantre opened #487 "Harcoded colors similar or close to custom properties"
## Issue Overview

Some colors are really close the global font color (`#333`). They should be either removed when they can inherit from the global font color or replaced the global font color facilitate.

https://github.com/wprig/wprig/blob/d355aef7c8372a7c5c979dc9dec75011946d211d/assets/css/src/global.css#L230

https://github.com/wprig/wprig/blob/d355aef7c8372a7c5c979dc9dec75011946d211d/assets/c

[2019-05-22 21:03] benoitchantre opened #489 "Bad intentation for nested lists, specificity too high"
## Issue Overview

Nested lists are not indented properly.

<img width="337" alt="Capture d’écran 2019-05-22 à 22 56 15" src="https://user-images.githubusercontent.com/1521015/58208388-ec476380-7ce4-11e9-9dfd-ba352e08fe8e.png">

Some styles have too much specificity.
https://github.com/wprig/wprig/blob/d355aef7c8372a7c5c979dc9dec75011946d211d/assets/css/src/content.css#L110-L116

[2019-05-22 21:04] benoitchantre commented on #485
Closed in favor of  #489.

[2019-05-22 21:04] #485 closed

[2019-05-23 14:31] benoitchantre opened #491 "Where should we add filters related to posts ?"
## Issue Overview

If we need to use filters related to posts, what would be the component?

Example of filters :

- `post_class`
- `the_content`
- `the_excerpt`
- `excerpt_length`
- ...

## Possible Solution

What do you think of a `Posts` component?

[2019-05-23 16:23] mor10 opened #492 "Gulp Watch fails on Windows because backslashes are bad"
## Issue Overview

Gulp watch fails on Windows because the path uses backslashes instead of forward slashes: https://github.com/paulmillr/chokidar/issues/668#issuecomment-357235531

To fix: Magically change Windows paths to use forward slashes.

[2019-05-23 16:31] ataylorme commented on #492
@mor10 can you try adding `.replace(/\\/g, '/')` to paths in gulp watch?

[`gulpWatch(paths.styles.src[0], series( styles, editorStyles ) );`](https://github.com/wprig/wprig/blob/v2.0/gulp/watch.js#L37) would become `gulpWatch(paths.styles.src[0].replace(/\\/g, '/'), series( styles, editorStyles ) );`, for example.

[2019-05-23 17:53] mor10 commented on #492
Yes, adding `.replace(/\\/g, '/')` works!

[2019-05-23 22:56] mor10 opened #494 "Add cross-env to ensure NODE_ENV works on Windows"
Add [`cross-env`](https://www.npmjs.com/package/cross-env) to allow `NODE_ENV:production` to not cause Windows computers to have a complete meltdown.

Also requires a small update to `package.json`:

[code]

[2019-05-27 12:29] SimonParfittCode commented on #158
Hi Mor10,

I'm having the same issue as inweb-pro. I'm very keen to start using WPRIG, as currently use _underscores start theme & Codekit 3 for developing WordPress websites, but feel maybe this is out-of-date and want to start using modern tools.

So, after downloading the WPRIG files, I then running the "npm install" command I get the error:

<img width="913" alt="Screenshot 2019-05-27 at 13 19

[2019-05-28 19:33] benoitchantre opened #496 "Missing gutter between columns"
## Issue Overview

There's no gutter between columns. When columns contain text, it makes the text very hard to read.

## Expected Behavior

Columns should be separated by some white space.

## Possible Solution

Remove the following selectors. The front-end stylesheet of the block editor sets gutters.

[code]
## Screenshots / Video

<img width="784" alt="Capture d’écran 2019-05-28 à 21 26 43" s

[2019-05-28 20:04] ataylorme commented on #304
@andreibarbuta please try the latest `master` branch. Issue #493 was causing gulp `watch` to not work on Windows.

[2019-05-28 20:04] ataylorme commented on #492
Closed by #493

[2019-05-28 20:04] #492 closed

[2019-05-28 20:07] ataylorme commented on #484
Closed by #495

[2019-05-28 20:07] #484 closed

[2019-05-28 20:09] ataylorme opened #497 "Add gulp test for production CSS/JS file existence"
An automated test to determine if the expected production CSS/JS files are created would help prevent issues like #484

[2019-05-28 20:10] ataylorme commented on #371
Closed by #429

[2019-05-28 20:10] #371 closed

[2019-05-28 20:11] ataylorme commented on #494
@mor10 can you make a pull request?

[2019-05-28 20:11] #377 closed

[2019-05-28 20:13] ataylorme commented on #302
#494 has a potential solution but needs a pull request. I don't want to make a PR without testing on Windows. Is someone here with Windows willing to create the PR/test?

[2019-05-30 03:11] carolinan opened #498 "TypeError: path.replace is not a function"
## Issue Overview

After installing 2.0 using `npm run rig-init`, I try to use `npm run dev` but I am getting the following error:

`[04:36:17] Starting 'watch'...

[04:36:17] 'watch' errored after 2.42 ms

[04:36:17] TypeError: path.replace is not a function
    at replace (D:\reviewdock\wp-app\wp-content\themes\wprig-poenari\gulp/utils.js:122:14)
    at watch (D:\reviewdock\wp-app\wp-content\the

[2019-06-04 06:02] ammarjabakji opened #500 "Both JPG and PNG files cause failures in /node_modules/gifsicle/vendor/gifsicle"
Adding  JPG and PNG files to /dev/images causes errors with /node_modules/gifsicle/vendor/gifsicle

Error output
[code]

[2019-06-05 02:24] ehowey opened #501 "v2.0 Watch Error: Path.Replace is not a function"
## Issue Overview
Using a fresh install of the v2.0 branch the watch process fails with this error:

20:17:52] Starting 'watch'...
[20:17:52] 'watch' errored after 2.32 ms
[20:17:52] TypeError: path.replace is not a function
    at replace (/Users/erichowey/Websites/lwbfinal/app/public/wp-content/themes/wprig-test/gulp/utils.js:122:14)
    at watch (/Users/erichowey/Websites/lwbfinal/app/public/wp

[2019-06-05 12:59] benoitchantre opened #502 "Wrong placeholder text for custom taxonomies"
## Issue Overview

The placeholder text is hardcoded based on hierarchical property of the taxonomy.

https://github.com/wprig/wprig/blob/a74f1a813854e23dd99332ef9757256a28f94cf7/template-parts/content/entry_taxonomies.php#L44-L50

When there's a custom taxonomy, the placeholder text will be either `Categories: %s` or `Tags: %s`.

## Expected Behavior

The placeholder text should be based on the t

[2019-06-05 15:57] austintude commented on #500
Yes, I have also had this issue but with zopflipng-bin. It crashes both npm run build AND npm run bundle. A work around I have just discovered is to place the image files in the root image folder (not the dev folder) and then the build and bundle actions WORK!

These were the errors thrown for me:
`[10:56:11] 'images' errored after 550 ms
[10:56:11] Error in plugin "gulp-image"
Message:
    Comman

[2019-06-05 18:57] luminuu commented on #501
I'm getting the same error, same setup and same steps to reproduce.

[2019-06-05 18:59] ehowey commented on #501
You can just remove the changes from PR #493 and that should fix it for you until they bug fix this.

[2019-06-05 19:46] ehowey commented on #501
@luminuu Can you test if your gulp watch process is working properly with styles?  Mine isn't now - it is not throwing any errors but it isn't actually rebuilding the files properly when I save a .css file, it is working properly with .php files.

[2019-06-06 15:24] ataylorme commented on #457
Closed by #458

[2019-06-06 15:24] #457 closed

[2019-06-06 15:25] ataylorme commented on #455
Closed by #456

[2019-06-06 15:25] #455 closed

[2019-06-06 15:27] ataylorme commented on #444
Closed by #446

[2019-06-06 15:27] #444 closed

[2019-06-06 15:27] ataylorme commented on #451
Closed by #452

[2019-06-06 15:27] #451 closed

[2019-06-06 16:05] ehowey commented on #501
It looks like this is fixed by #499

[2019-06-06 16:08] ataylorme commented on #501
Closing this as a duplicate of #498. #499 needs another review approval and then it will be merged. @ehowey in the meantime feel free to apply the changes there manually. Commenting on the PR as to whether it fixes things for you (or not) would be helpful.

[2019-06-06 16:08] #501 closed

[2019-06-06 16:09] ataylorme commented on #498
@carolinan can you test #499 to see if it fixes the issue for you?

[2019-06-06 16:13] ataylorme commented on #500
@ammarjabakji and @austintude are you working with WP Rig version `1.0` or `2.0`?

The `dev` folder makes me things `1.0`. I don't believe this issue exists in `2.0`.

[2019-06-06 16:19] ammarjabakji commented on #500
Hello Antaylorme,
Oops, I wasn't aware of that. Yes, I am working with `1.0`.
I'll reinstall the lates version.
Thanks.

[2019-06-06 16:22] ataylorme commented on #500
@ammarjabakji please be aware that `2.0` is still in development (beta) and is a complete re-write with breaking changes (we are following [semantic versioning](https://semver.org/)). You can't just upgrade without significantly reworking parts of your code.

I would recommend trying `2.0` on a new project rather than converting an existing one first.

[2019-06-06 16:30] ammarjabakji commented on #500
@ataylorme I haven't done much in my project so it is fine for me to start over.
Many thanks for your efforts.

[2019-06-06 17:06] #435 closed

[2019-06-06 17:10] #350 closed

[2019-06-06 17:13] #498 closed

[2019-06-06 17:19] #502 closed

[2019-06-06 17:19] ataylorme commented on #502
Closed by #503

[2019-06-06 17:58] felixarntz opened #505 "Add support for new service worker integrations"
## Issue Overview
To update WP Rig and support the latest integrations of the PWA plugin regarding themes, `service_worker` support should be added (see https://github.com/xwp/pwa-wp#integrations).

[2019-06-06 19:59] ehowey opened #507 "Add support for PurgeCSS or similar on bundle to further optimize production files"
## Issue Overview
The bundle process minifies the css however, from what I can see, does not purge unused CSS, leaving sometimes unnecessary css in the production files. I am unsure whether this would be possible however I have been playing around lately with another framework (non-WP) entirely that includes this feature which is a nice-to-have.  I thought it might make a good addition to WP-Rig a

[2019-06-06 21:23] ataylorme commented on #507
@ehowey thanks for starting a discussion. PurgeCSS needs the rendered HTML to determine what CSS is needed. There is not a way to determine that at bundle time in the gulp tasks as WordPress needs to run to serve the HTML - there are not `.html` files to scan.

[The WordPress AMP plugin](https://wordpress.org/plugins/amp/) does what you want, CSS Tree Shaking, in PHP and serves only the CSS needed

[2019-06-06 21:55] ehowey commented on #507
Thanks for explaining this.  I will close it given this information.  I appreciate the quick answer.

[2019-06-06 21:55] #507 closed

[2019-06-07 15:41] benoitchantre opened #509 "Enable the template repository setting"
I think the [new template feature in GitHub](https://github.blog/2019-06-06-generate-new-repositories-with-repository-templates/?utm_campaign=1559837005&utm_medium=social&utm_source=twitter&utm_content=1559837005) will be usefull for people who create themes based on WP Rig. It should accelerate the setup of the repository to build a theme.

[2019-06-12 15:43] benoitchantre opened #512 "Translations files are missing from the bundle"
## Issue Overview

If you have translation files (`.po` and `.mo`) in your `wprig` directory they will be missing from the bundle. `npm run bundle` copy only the `.pot` file.

For themes hosted in WP.org theme directory, there's no problem, because translations are handled by GlotPress and installed automatically.

For themes not hosted in WP.org theme directory, translation files need to be part

[2019-06-12 19:31] idea--list commented on #136
I think i have another solution that works on a site i made with WPRig v1.4.
However i can not double check it as npm intall throws a bunch of errors no matter if i chose V1.4 or V2 master. Which is the highest Node JS version that should work with WPRig on a Win 10 machine?

[2019-06-12 22:44] idea--list opened #514 "WPRig v2.0-beta 1"
## Issue Overview

I downloaded the v2.0-beta.1 release, run npm install with just 2 warnings.
However `npm run build` just fails with the following:

[00:38:28] Requiring external module @babel/register
[00:38:30] Using gulpfile C:\wamp64\www\menes\wp-content\themes\mytheme\gulpfile.babel.js
[00:38:30] Starting 'buildDev'...
[00:38:30] Starting 'php'...
[00:38:30] Starting 'images'...
[00:38:30]

[2019-06-12 22:49] ehowey commented on #514
Try the 2.0 branch instead of the beta release. There was a recently merged pull request that related to an error with windows, this might fix the problem for you. You should be able to see the details about this if you look at recent commits to the 2.0 branch. I think it was within the last 2-3 weeks.

[2019-06-12 23:02] idea--list commented on #514
@ehowey
Thanks for the fast reply! Just tried the v2.0 branch but i face the same situation.
npm install outputs:
`  √ optipng pre-build test passed successfully
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@1.2.8 (node_modules\fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.2.8: wanted {"os":"darwin","arch":"any"} (current: {"os":"win32","ar

[2019-06-12 23:10] ehowey commented on #514
Oh I know what this is - sorry I didn’t look at your original post in enough detail. Check the documentation in the 2.0 branch. The install command is actually “npm run rig-init”. I am on my phone so t is awkward to double check. It looks like you did not get all your php dependencies installed potentially.

[2019-06-12 23:11] ehowey commented on #514
Also - use a fresh directory, e.g., “wprig-mytheme2”.  I ran into some weird errors when flipping between 1.0x and 2.0 that solved with this.

[2019-06-12 23:21] idea--list commented on #514
Thanks! That was it indded, i just did not find the documentation first and used the same commands as for v1.0.4 ;-)

[2019-06-12 23:35] idea--list commented on #514
I can run `npm run dev` and `npm run build` without any problem.
But trying `npm run bundle` just fails with:

`'NODE_ENV' is not recognized as an internal or external command,
operable program or batch file.`

[2019-06-12 23:38] idea--list commented on #514
Found #494 that solves the issue and now i can build themes with WPRig v2.0 on windows.

[2019-06-12 23:38] #514 closed

[2019-06-13 15:41] ataylorme commented on #250
Closed by #486

[2019-06-13 15:41] #250 closed

[2019-06-13 16:40] ataylorme commented on #478
Closed by #479

[2019-06-13 16:40] #478 closed

[2019-06-13 16:51] ataylorme commented on #505
Closed by #506

[2019-06-13 16:51] #505 closed

[2019-06-13 20:36] benoitchantre commented on #512
If we copy `.po` and `.mo` files from `wprig` directory to the production files, translations are loaded but may contain `WP Rig` strings that haven't been replaced (mainly strings in the theme header).

Ideally, text replacement should be done on `.po` files, then `.mo` files should be generated from `.po` files in the bundle.

I have not tested with`.json` files.

@ataylorme can it be milestoned

[2019-06-13 20:50] bamadesigner opened #515 "Address "separation of concerns" for components"
In response to PR https://github.com/wprig/wprig/pull/450, we discussed whether or not we want to open the door for theme logic in order to check whether or not components exist.

Some users of WP Rig don't need all of the components but, in its current state, if you remove a component you might have to also remove embedded logic throughout the theme that depends on said component(s).

We are open

[2019-06-13 20:52] ataylorme commented on #512
What do you think of text replacement being done on the production PHP files and then new `.po` and `.mo` files generated from those?

[2019-06-13 21:05] benoitchantre commented on #512
`.po` files contain source strings and their translations. If the build process generate them from the production files, then all translated strings will be empty. If the build process start from a copy of  `.po` files, you only loose the translations of strings that have been replaced.

[2019-06-14 00:00] ataylorme commented on #512
I'm not sure I follow. Rather than trying to string replace the translation files generated against the WP Rig dev theme I want to create the production PHP files, run string replacement on them, then run a fresh translation build on the PHP files with the correct strings for production.

[2019-06-14 00:50] idea--list opened #516 "WPRig v2.0 and WPML"
## Issue Overview

Just generated a theme with WPRig v2.0 without any modification on a production site that uses has a bunch of active plugins, including WPML. Was surprised as the only thing that has been loaded was the site title and site description, nothing else got rendered.
So i began the usual cycle searching the plugin that might cause that and ultimately it turns out if WPML is active th

[2019-06-14 04:35] ehowey opened #517 "Footer does not always remain on the bottom of the page when there is minimal content"
## Issue Overview
With the current CSS the footer is just placed at the end of the content, in almost all cases this results in the footer being at the bottom of the page or off the page entirely however on sites with smaller header areas and little content the footer comes up off the bottom of the page resulting in a less than appealing look.

## Describe your environment
N/A

## Steps to Reprodu

[2019-06-14 11:51] SimonParfittCode opened #519 "Composer failure on npm install"
Hi Mor10,

I'm very keen to start using WPRIG, as currently use _underscores start theme & Codekit 3 for developing WordPress websites, but feel maybe this is out-of-date and want to start using modern tools.

So, after downloading the WPRIG files, I then running the "npm install" command I get the error:

<img width="913" alt="58419676-26b55580-8083-11e9-8997-bce0941f76e0" src="https://user-image

[2019-06-14 12:54] benoitchantre commented on #512
The translation work on `.po` files is a manual step. If `.po` files are created by the build process like the `.pot` file from the production PHP files, you skip that manual step. If used as it, translation files will be useless for WordPress, because it will display the source strings.

To see the translated strings on your website, WordPress needs an `.mo` file that matches the requested locale

[2019-06-14 19:28] benoitchantre commented on #516
Yes: replace WPML by Polylang (free or Pro). It will be much faster and easier to use.

[2019-06-14 20:05] idea--list commented on #516
@benoitchantre
No, i just will not replace WPML to polylang because i had that before and it was crap.

[2019-06-16 09:41] mor10 opened #520 "Refactor CSS layout to follow new every-layout standard"
Some very smart things were introduced in [every-layout.dev](https://every-layout.dev). we should eaplore incorporating this thinking into Rig, possibly even for v2.0. will explore at WCEU 2019 Contributor Day. Paging @bamadesigner and @benoitchantre for input.

[2019-06-17 09:42] benoitchantre opened #521 "Insufficient z-index value for sub menus"
## Issue Overview

When the first block is a cover block, sub menus may be displayed below the content of the cover block.

From the block library stylesheet
[code]

In global.css
[code]

## Possible Solution

Increase the `z-index` value for sub menus (`.nav--toggle-sub ul ul`) to an higher value.

[2019-06-17 09:58] benoitchantre opened #522 "Additional stylesheet when admin bar is displayed"
## Issue Overview

When the admin bar is displayed, styles may need to be adjusted when absolute positionning is used.

Ideally, these styles should not be loaded for visitors that are not logged in.

For theme authors, it would be helpful to have a specific stylesheet with preset media queries based on the admin bar styles.

[2019-06-17 20:21] benoitchantre commented on #449
Related to #515.

[2019-06-17 20:58] benoitchantre opened #525 "Editor tooblar icons may be unreadable"
## Issue Overview

Editor styles from the theme may change the editor appearance and make some controls unreadable. Here's an example with a cover block.

## Screenshots / Video

<img width="720" alt="Capture d’écran 2019-06-17 à 22 53 56" src="https://user-images.githubusercontent.com/1521015/59636086-f11bfd80-9152-11e9-9b2a-c0b3da814ef6.png">

[2019-06-19 04:39] benoitchantre commented on #520
I’ll look at that more closely at the Contributor Day.

[2019-06-20 09:54] benoitchantre commented on #525
When we remove these lines and change for example `--global-font-color` to `#f00`, then the editor icons become red.

Maybe https://github.com/WordPress/gutenberg/pull/15377 should be explored to find a better solution.

[2019-06-20 10:00] ataylorme commented on #409
I think @mor10 set up Travis initially. I added gulp tests but otherwise I haven't touched the Travis config. I don't see a reason for PHP `7.3` to not be included.

[2019-06-20 11:36] ataylorme opened #528 "ESLint code sniffing does not correctly check WP coding standards"
## Issue Overview
The [`eslint-config-wordpress`](https://www.npmjs.com/package/eslint-config-wordpress) package hasn't been updated in 2 years. PHPCS is officially supported and should be used.

## Describe your environment

## Steps to Reproduce

1. Run `npm run gulp -- scripts`
2. See that issues reported do not reflect the actual WordPress coding standards

## Expected Behavior
The coding stan

[2019-06-20 12:12] ataylorme opened #530 "Coding sniffing runs on production build"
## Issue Overview
When running `npm run bundle` to create a production version of WP Rig coding sniffing with PHPCS is run. Coding standard violations are surfaced during development and running the checks again is redundant.

[2019-06-20 12:31] benoitchantre commented on #516
Cc. @felixarntz for feeback on that.

[2019-06-20 12:33] ataylorme commented on #530
Example violations surfaced by PHPCS with up to date standards not surfaced by ESLint. cc @mor10

[code]

[2019-06-20 12:37] mor10 commented on #409
This is @felixarntz territory.

[2019-06-20 12:44] ataylorme commented on #528
We should be using the official [`@wordpress/eslint-plugin`](https://www.npmjs.com/package/@wordpress/eslint-plugin)

[2019-06-20 13:18] benoitchantre commented on #512
As disccussed with @mor10, the translation process shoud ideally:
- create the `.pot`file from production files (done, works)
- copy existing `.po` files from `wprig`
- run string replacements on `.po` files
- generate `.mo` files from `.po` files

[2019-06-20 14:03] ataylorme commented on #409
Closed by #527

[2019-06-20 14:03] #409 closed

[2019-06-20 14:56] felixarntz commented on #517
See https://github.com/wprig/wprig/pull/518#issuecomment-504058621

[2019-06-20 14:56] #517 closed

[2019-06-21 04:08] benoitchantre commented on #462
Closed by #463.

[2019-06-21 04:08] #462 closed

[2019-06-22 18:52] #468 closed

[2019-06-23 16:23] felixarntz commented on #382
This was not fixed in 2.0, so moving to Future Release.

[2019-06-23 16:24] felixarntz commented on #279
Appears to not be completed as of 2.0, so moving to Future Release.

[2019-06-24 04:46] dingo-d commented on #382
We had a chat about the standards, and after we release v0.2.0 of the themes standard, we'll move it to a separate repo, so once we release 0.2.0 (hopefully this week) I'll update the PR, and then after we move them, I can make new update in the future release 🙂

[2019-06-25 15:39] dashkevych opened #537 "Documentation: some videos are not available at wprig.io"
I've checked the [documentation page](https://wprig.io/course/wprig_en/) at wprig.io site, and some video displays the following message: "This video is no longer available".

[2019-06-26 07:54] #413 closed

[2019-06-26 13:19] vangpl opened #538 "How to keep my customized WP Rig Updated?"
Adding customizations means that any changes made here on the main repo can't be integrated back into my theme. What's the solution?

Not being able to keep the core framework updated is a massive security flaw.

Thanks for the help!

[2019-06-26 18:56] benoitchantre commented on #528
Closed by #532

[2019-06-26 18:56] #528 closed

[2019-06-27 06:47] benoitchantre commented on #525
Following a discussion with Riad Benguella on that subject, I asked Kjell Reigstad (designer working on Gutenberg) in a DM what would be the best solution to protect the editor UI from changes due to the editor stylesheet. Here's his answer.

In `_typography.css` (imported in editor styles), we have styles for some elements that are used in the editor UI.
https://github.com/wprig/wprig/blob/5ca4ff

[2019-06-27 16:36] ataylorme commented on #537
Hi @dashkevych. We just finished the code release of `2.0` but haven't finished updating all the documentation or wprig.io

I believe @mor10 is working on a fresh course/new videos but I don't know the ETA for those.

[2019-06-27 16:38] mor10 commented on #537
There will be a new version of the course coming out shortly. It's currently in editing. Once it's up, it'll be available on the site. We are also working on more extensive documentation both here on the Wiki and on the site.

[2019-06-27 17:04] ataylorme commented on #466
@timnolte the way I approach this is to work on an external Git repository (e.g. GitHub) where I only have the development version of WP Rig committed. A continuous integration service then builds the production theme, deleted the dev version of the theme, and deploys the result to my website.

[2019-06-27 17:27] timnolte commented on #466
@ataylorme I think I've got a working setup now. The latest version of the wprig documentation is a bit more clear on not just leaving it as wprig but prepending your theme directory with wprig for development. My next hurdle is how to apply the wprig changes to an existing theme. Since it doesn't seem viable to just do a git merge.

[2019-06-27 20:27] ataylorme commented on #538
Hi @vangpl,

I'm not sure if you are using WP Rig version 1 or the newly released [version 2](https://github.com/wprig/wprig/releases/tag/v2.0).

A version 1 to version 2 migration is not possible - at least not without a lot of manual effort. WP Rig project follows [semantic versioning](https://semver.org/) and version 2 is a rewrite of WP Rig and introduces many breaking changes.

Overall though

[2019-06-27 20:27] #538 closed

[2019-06-28 19:42] benoitchantre commented on #509
Feature enabled

[2019-06-28 19:42] #509 closed

[2019-07-01 09:20] felixarntz opened #539 "Travis-CI not executing nightly build tests"
## Issue Overview
Since https://github.com/wprig/wprig/commit/25eaf84776b7f0fc96c31daae8b92a5f78981377, experimental builds that are allowed to fail aren't run anymore in Travis. That is because `allow_failures` is only used for matching against jobs that are in the actual matrix (see https://docs.travis-ci.com/user/build-matrix/#rows-that-are-allowed-to-fail).

## Expected Behavior
Jobs for night

[2019-07-01 09:30] luminuu opened #541 "Question: how to implement postcss-mixins?"
As stated in the [CSS in WP Rig wiki doc](https://github.com/wprig/wprig/wiki/CSS-in-WP-Rig), `postcss-mixins` is not included but can be added separately:

I got the `postcss-mixins` Plugin added to the `package.json` file with the CLI command `npm install postcss-mixins --save-dev`, however I cannot get it properly integrated into the  `./gulp/styles.js` file. Can anyone help me with this?

[2019-07-01 11:21] benoitchantre commented on #437
Closed by #438.

[2019-07-01 11:21] #437 closed

[2019-07-01 11:25] benoitchantre commented on #359
@ataylorme Can we close this issue?

#447 has been merged and removes unneeded stylelint comments.

[2019-07-01 11:28] benoitchantre commented on #380
Closed by #386.

[2019-07-01 11:28] #380 closed

[2019-07-01 14:56] #359 closed

[2019-07-01 18:44] benoitchantre opened #542 "Missing PHP imports"
## Issue Overview

Some components use external functions that are not imptorted with the `use` operator.

- AMP: `is_amp_endpoint`
- Customizer: `get_theme_file_path`
- Lazyload: `wp_allowed_protocols`, `esc_attr`
- Image_Sizes: `add_image_size`
- Styles: `add_editor_style`, `esc_html`

[2019-07-02 09:04] benoitchantre opened #544 "No error message when requirements are not met for WP-CLI"
## Issue Overview

I have noticed that custom image sizes from WP Rig when not detected by WP-CLI on my hosting. I also couldn't witch back to my theme with WP-CLI.

After some time, I found the issue: the PHP version used by SSH was `5.6` which is under the minimal requirements for WP Rig.

## Current Behavior

Errors are only displayed in the WordPress dashboard.

## Possible Solution

Display a

[2019-07-02 09:58] SimonParfittCode commented on #519
Thanks @ataylorme,

I am now using the 2.0 version and trying to follow along with Mor10's LinkedIn video series, looks a little different. Successfully installed Composer (so installing it globally doesn't seem to make a difference?) and npm install - both new folders "node_modules" and "vendor".

Is there any documentation to the 2.0 version? I see there is no "dev" folder any more and the confi

[2019-07-02 15:07] ataylorme commented on #519
Hi @SimonParfittCode,
We just finalized the code for version `2.0` a few weeks ago and are still working on documentation.

The [`README`](https://github.com/wprig/wprig/blob/master/README.md) has a good intro and there are more in-depth articles on [the wiki](https://github.com/wprig/wprig/wiki).

I think @mor10 is working on new videos as well but I don't know when those will be done.

[2019-07-04 16:46] mor10 opened #546 "Transitioning from 1.0 to 2.0 article"
Write an article about how to transition from 1.0 to 2.0

[2019-07-05 03:35] waviaei commented on #414
FYI. Lazy loading is now removed from Chrome in 76.

https://developers.google.com/web/updates/2019/06/chrome-76-deps-rems

[2019-07-05 06:52] addyosmani commented on #414
Lazy loading has not been removed from Chrome 76. That update refers to an outdated feature policy (for controlling the default values for the feature), but the feature itself is still there.

[2019-07-05 09:20] petersuhm commented on #432
This is a bummer for CI workflows, where you want to separate your JS and PHP scripts to their own Docker containers. Makes it hard to take advantage of stuff like Docker multistage builds etc. If there's anything I can do to help here, let me know. I'm not super familiar with the framework here or the process, so just flagging it for now :)

[2019-07-05 10:38] petersuhm commented on #432
Just realized that at least some of the calls to PHP CS checks if it's enabled in the config 👍.

[2019-07-05 14:29] ataylorme commented on #432
Hi @petersuhm,
I'm actually using WP Rig for my personal website and have the production theme being built with CI. I've split it into multiple jobs and have a [WP Rig Node job](https://github.com/ataylorme/ataylorme-wordpress/blob/master/.ci/scripts/wprig-npm-install), a [WP Rig PHP job](https://github.com/ataylorme/ataylorme-wordpress/blob/master/.ci/scripts/wprig-composer-install), and [a deplo

[2019-07-07 01:22] waviaei commented on #414
@addyosmani Thank you for clarifying!

[2019-07-07 16:31] benoitchantre commented on #459
Closed by #460.

[2019-07-07 16:31] #459 closed

[2019-07-08 18:51] benoitchantre commented on #453
Can be closed, unless we think there's a need for documentation.

[2019-07-08 21:01] ataylorme commented on #512
I wonder if we should use [the wp-cli `i18n make-pot` command](https://developer.wordpress.org/cli/commands/i18n/make-pot/) here as it handles not just PHP but JS as well. The gulp translation tasks can call `wp i18n make-pot`, similar to how existing tasks are calling PHPCS and other packages.

As of wp-cli version `2.0.0`, installed via Composer, can be restricted to just the commands you need.

[2019-07-08 21:37] benoitchantre commented on #512
I think it is a good idea. [WP-CLI is now used to extract strings for the theme and plugin directories](https://meta.trac.wordpress.org/ticket/3748).

[2019-07-10 07:46] lxbdr commented on #108
I recently built a little component-based framework for myself and realized that it's not a good idea to name all the files `index`. Makes it easy to load the necessary files as you expect a certain name but it is not really convenient to work with these files in an IDE because you try to find a file via search but all of them are named `index`

[2019-07-11 08:29] wphjaelpen opened #549 "Error when using Media & Text Block on moblie"
## Issue Overview

When using "**Media & Text**" block element, and you add two af the blocks, the first with media on the left and then the second with media on the right.
Then the items are displayed in the wrong order on moblie. Dunno if its Gutenberg or the theme that have this error.

Then the items show up in:
Media
Text
Text
Media

## Describe your environment

Chrome and Firefox on Macbook

[2019-07-11 09:52] Elschnuppero opened #550 "PHP Codesniffer Problems on fresh installation"
When i run "npm run dev" on a fresh installation i get a lot of warnings/errors. Some examples:

`[11:46:36] PHP Code Sniffer found a problem in C:\xampp\htdocs\wprig\wp-content\themes\wprig\assets\css\src\widgets.css

    FILE: ...\htdocs\wprig\wp-content\themes\wprig\assets\css\src\widgets.css
    ----------------------------------------------------------------------
    FOUND 1 ERROR AFFECTING

[2019-07-11 14:10] benoitchantre commented on #539
Closed by #540.

[2019-07-11 14:10] #539 closed

[2019-07-11 15:46] ataylorme commented on #512
@benoitchantre do you think it is okay to run string translation on the `.pot` file generated from the dev (wp-rig) files for production OR would it be better to generate a new `.pot` file from the production files after they have had string replacement run on them?

[2019-07-11 16:00] benoitchantre commented on #512
@ataylorme I think this is okay: the line numbers related to the strings don't change from dev to production.

[2019-07-11 20:52] mor10 commented on #550
This is most likely an issue with a setting in your code editor. End-of-line and end-of-file errors are pedantic and annoying, and modern code editors have settings specifically to handle them. Look for these settings and the problem should go away.

[2019-07-15 12:45] benoitchantre commented on #520
There are some great ideas to pull in WP Rig (typography, modular scale, ..), but the current browser support for [custom elements](https://caniuse.com/#search=custom%20component) seems too limited for now.

I think its worth to experiment with these ideas.

[2019-07-16 11:36] benoitchantre opened #553 "Array syntax: coding standards changes"
Arrays have been converted recently in WP Rig to use the short syntax as proposed in the Coding Standards Proposal.

https://make.wordpress.org/core/2019/03/26/coding-standards-updates-for-php-5-6/

Recently, a new post has been published about PHP Coding Standards Changes

https://make.wordpress.org/core/2019/07/12/php-coding-standards-changes/

@felixarntz, @ataylorme Should we go back to long a

[2019-07-16 11:56] benoitchantre opened #554 "Incorrect heading structure inside sidebar"
## Issue Overview

`<h2>` should represent the main sections of a document.

When we look at the sidebar, each widget title use an `<h2>`. They do not represent main sections.
The sidebar should have a meaninful `<h2>` heading and widget titles should use `<h3>`

More info: https://rianrietveld.com/2014/11/21/html5-headings-in-wordpress-lets-fight/

Cc. @bamadesigner for feedback.

[2019-07-16 12:04] benoitchantre opened #555 "Incorrect heading level for the comment form title when there are no comments"
## Issue Overview

The comments area is one of the main sections of the document.

When there are no comments, the heading of the comment form should use an `<h2>` instead of an `<h3>`.

Cc @bamadesigner for feedback

[2019-07-16 23:30] ataylorme commented on #553
I think we should follow the standard and go back to the long format `array` syntax. While I prefer the short syntax the reasons outlined in the post are valid

[2019-07-17 20:02] benoitchantre commented on #331
@bamadesigner #558 finds `get_sidebar()` calls in the template file and sets `has-sidebar` class without the need to declare something in the template file. It is limited to the main template and doesn't look in template parts.

[2019-07-18 07:03] aristath commented on #553
the long array syntax guideline is only for WP-Core, not for themes or plugins.

[2019-07-18 08:46] ataylorme commented on #553
Yes, I understand that. However, I think their _reasons_ for choosing to use the long array syntax I highlighted above are valid and good reasons for WP Rig to use it as well.

[2019-07-19 01:16] austintude opened #559 "Images pulled through to production theme with dev theme name - not loading"
## Issue Overview

The naming of the dev theme is recommended NOT to be the 'final' theme name, but images called from the dev folders are not pulling through in the production theme.

As per the wiki on development naming:

## Describe your environment

Using WPRig v2 in VSCode.

## Steps to Reproduce

1.Named the dev theme "wprig-supremehardwoodfloorsinc"
2.called for an amp-img using
`<amp-img

[2019-07-19 13:27] benoitchantre opened #560 "Add support and documentation to extend core classes (eg. Walker class)"
## Issue Overview

WP Rig components are loaded by an autoloader. If you need to extend a core class, this is not supported. Extending core classes should be supported and documented.

Exemple of use case : walker classes.

Cc. @felixarntz, @ataylorme

[2019-07-19 15:27] Webfor247 opened #561 "Trouble getting nesting css to work"
I've just started diving into WP Rig as a potential starting off point for my company theme dev workflow.  Previously we've been using Understrap, but I've been researching more lightweight and modern solutions, which has led me here.  In my testing, everything is working fine except we're having issues getting the nested styles to work.  This is entirely possible that it's just me missing somethi

[2019-07-19 18:24] benoitchantre commented on #561
Try like that:
[code]

[2019-07-19 18:36] Webfor247 commented on #561
@benoitchantre Thanks! That seems to be the syntax issue I was having.  My stylelint is (understandably) still having a fit but the css is processing as expected now.

[2019-07-19 18:56] benoitchantre commented on #561
You're welcome. I'm closing this issue.

[2019-07-19 18:56] #561 closed

[2019-07-22 21:16] mor10 opened #562 "Make colors for nav into custom properties"
main  nav currently has its colors set manually in `global.css`. These need to be custom properties for easy configuration.

[2019-07-23 13:58] Elschnuppero commented on #550
Thank you for the answer, but unfortunately this isn't it. I tried a fresh copy with another editor (PHPStorm this time) and the same happened.

[2019-07-24 20:06] benoitchantre opened #563 "Blocks contained in a group block are not aligned properly"
## Issue Overview

The alignment of the block inside a group block don't work as expected (see screenshot).

## Describe your environment

Gutenberg 6.1

## Expected Behavior

When the group block uses a _wide width_ alignment, inner blocks with the:
- default width should use that width and be aligned in the center
- wide width should use the same width as the group
- full widh should use the sam

[2019-07-24 21:27] benoitchantre commented on #562
Fixed in #488. The color was close to `--global-font-color`, it has been replaced by this variable.

[2019-07-25 15:21] elismad commented on #520
@benoitchantre Can these idea be implemented without Custom Elements? Seems like Jen Simmons did a talk at View Source on [Intresic Web Design in december 2018](https://youtu.be/20QKda7IhJQ?t=1560) showing off some of the techniques.

[2019-07-25 15:29] elismad commented on #163
It this a feature that can only help localize a theme or can we use it to built a multilangual theme with a language switcher to navigate between different translation of the web site content? Because localization <> internationalization <> translation.

[2019-07-28 01:06] ehowey commented on #384
Closing this as it is old - the solution I needed worked for me.

[2019-07-28 01:06] #384 closed

[2019-07-31 21:42] zeroplus1994 opened #565 "Failed at the wprig@2.0.0 generateCert script."
## Issue Overview

I was just finishing the installation of WP Rig v2 for the first time following the LinkedIn Course Videos and all the dependencies got installed and worked correctly without problem, but well, the last part; The sidebar about SSL using the "npm run generateCert" Command produced an execution error.

## Describe your environment

Node.js Version 10.16.1 On Windows 10 x64 CMD. Bu

[2019-08-05 17:29] felixarntz opened #566 "Left-/Right-aligned top-level content elements overflow content"
## Issue Overview
When a child element of `.page-content` / `.entry-content` / `.entry-summary` (referred to as content wrap elements in the following) has a class `alignleft` or `alignright`, it floats outside of the maximum content width.

This affects certain blocks that apply the alignment class on the top-level, for example:
* `core/button`
* `core/pullquote`

Images work because they apply t

[2019-08-05 17:32] felixarntz opened #567 "Invalid value for `container` argument of `wp_nav_menu()`"
## Issue Overview
`wp_nav_menu()` supports a `container` argument that defines whether the menu's list element should be wrapped and, if so, how. The supported values are `div`, `nav` or `false` (to not provide a wrapping element). WP Rig currently automatically uses `ul`, which is an invalid value.

It doesn't actually break anything, because it will be interpreted as `false`, but is confusing an

[2019-08-05 18:10] felixarntz opened #570 "Gallery block breaks unexpectedly if it contains as many images as columns"
## Issue Overview
When a gallery block with an odd number of columns has as many images as it has columns (or a multiple of the number of columns), it unexpectedly breaks although it shouldn't.

For example:
* 5 column gallery with 5 images shows in 2 rows (4+1) although it should be a single row of 5 images.
* 3 column gallery with 9 images shows in 4 rows (3+3+2+1) although it should be three ro

[2019-08-07 07:42] Horlaes opened #572 "Config.json (Theme Name, Php Namespace, etc) Not Reflecting on Build"
## Issue Overview

When I fired npm run build, I noticed no settings I specified in config.json worked as expected with including the theme name and PHP Namespace

## Describe your environment

Win Ver 10.0 (Build 10240)
PHP 7.3.7
WPRIG V2 IN VSCODE

## Steps to Reproduce

1. created my custom settings in config.json [example ](http://prntscr.com/opetuo)
2.  I ran - npm run build
3. and then npm r

[2019-08-07 08:01] felixarntz opened #573 "License is mixed / URL in style.css is missing / README badge broken"
## Issue Overview
There are currently several problems related to the license WP Rig is using:

* In some areas we reference GPL v2, elsewhere GPL v3.
* The style.css file is missing a license URL entirely, it just says `LICENSE`.
* The license badge in `README.md` is broken.
* License URLs used vary, it should be the same everywhere.

## Possible Solution
I suggest to fix all these problems and s

[2019-08-07 08:08] felixarntz opened #574 "Simplify readme.txt for theme developers"
## Issue Overview

The `readme.txt` file currently contains tons of content, which most likely nobody will need. Here is why:

* `readme.txt` is used by wordpress.org to display theme information in the repository. We will not release the WP Rig starter theme itself into that repository, so there is no value in having WP Rig-specific information there.
* All the content currently in the readme dis

[2019-08-07 08:18] Horlaes commented on #572
Someone should please help out, I tried this for about 2 days now, I can't hesitate to start working with WP Rig

[2019-08-07 08:37] felixarntz commented on #572
@Horlaes This is expected, the replacements from `config.json` only happen when you run `npm run bundle` (which will deploy the development version of your theme into a separate directory, ready to be published).

In the development version of your theme you should continue to work with the `WP_Rig` etc. values. See [the git workflows documentation](https://github.com/wprig/wprig/wiki/Recommended-

[2019-08-07 08:38] #572 closed

[2019-08-07 14:33] Horlaes commented on #572
Alright thanks, after 6 hours of reading and getting to know the wiki, it's so easy, is there any way I can submit an extensive guide on this little stuff? (it's damn confusing at first)

[2019-08-07 18:01] mor10 commented on #414
@addyosmani (repeat from Twitter) what in your opinion is a good baseline for image loading in a CMS like WordPress? Setting all images to "lazy" and allowing devs to switch individual images to "auto" or "eager"? Or set all images to "auto" and allow devs to switch to "lazy"? Assume devs rarely change the default setting, and users stuff their pages full of images, mostly below the fold.

[2019-08-08 00:11] Horlaes commented on #565
I had the same issue, any fix yet?

[2019-08-08 06:46] malviyaritesh commented on #32
Should I create a new Component for Slick Slider integration? If yes, how? Please give me some direction to go to.

[2019-08-08 08:00] zeroplus1994 commented on #565
not yet, i'm getting used to work without SSL, and 'https' turned to 'false' in the config.json file.

[2019-08-08 08:50] felixarntz commented on #414
Now that Chrome supports native lazy-loading, I created #577 to finally bring it to WP Rig (with graceful fallback to existing script).

[2019-08-08 11:14] wildtrout1 commented on #97
Following mor10's course "WordPress: Building Progressive Themes with WP Rig" I encountered this issue running the "npm run rig-init" command. Unable to find anything specific to my error's on the web I decided to run the build closer to my "root" folder and the build completed according to plan.
I'm running Win10 x64, 8GB RAM. Original folder path was deep into "My Documents" and moving the build

[2019-08-09 13:19] ataylorme opened #578 "Missing gulp tests for prod theme build task"
## Issue Overview
We added the ability to test gulp tasks but don't have complete coverage. The prod theme build task should be tested automatically.

[2019-08-09 15:12] ataylorme opened #580 "Testing needed for gulp PHP task"
## Issue Overview

We added the ability to test gulp tasks but don't have complete coverage. The `php` task should be tested automatically.

[2019-08-09 15:15] ataylorme opened #581 "Testing needed for gulp scripts task"
## Issue Overview

We added the ability to test gulp tasks but don't have complete coverage. The `styles` task should be tested automatically.

[2019-08-09 15:16] ataylorme opened #582 "Testing needed for gulp images task"
## Issue Overview

We added the ability to test gulp tasks but don't have complete coverage. The `images` task should be tested automatically.

[2019-08-15 04:07] justlevine opened #583 "Trying to get property 'ID' of non-object( using $post->ID in component)"
## Issue Overview
I'm trying to use the `$post->ID` in one of my component classes, and while it works, it still throws a `Trying to get property 'ID' of non-object` notice.

## Describe your environment
Windows 10: Laragon (PHP 7.2). Wordpress 5.2.3, ACF 5.8.3, and wp-rig v2.

## Steps to Reproduce

1. Add the following function to a component class:
[code]
2. Hook the function to `wp` (or later)

[2019-08-15 14:07] justlevine commented on #583
Turns out the initial issue I posted was actually hiding the real issue: that the function is being called multiple times for some reason. Updated the issue to reflect this.

[2019-08-15 17:26] ataylorme opened #584 "Should we use Probot to with issue triage?"
https://github.com/probot/

[2019-08-16 07:46] bbkysf commented on #565
same issue

[2019-08-17 13:18] Horlaes commented on #560
I have a problem using the walker class at the moment, any work around?

[2019-08-19 12:33] DjigoLab commented on #546
Hello, is there any new information about this? In our company, we started a project using WP Rig 1.0 just before you guys launched 2.0, and we are really close to finish this project (Some SEO/Performance here and there and it's good to go.) But we would like to upgrade the version before launching it.

Can you guys give us some advise about how to perform this update? Even some basic steps that

[2019-08-19 13:37] tedsecretsource commented on #546
I would assume the process would be:

1. Download the newest version of the project into a new directory
2. Copy all the files in dev into the root of the new directory
3. Add the postcss sass plugin ;-)
4. Update any other configuration changes that may exist (can you elaborate on this step, @mor10?)
5. npm run build
6. Bob's your uncle

I say assume because I have never actually used the rigging

[2019-08-20 13:04] benoitchantre opened #585 "Vendor asset directories: should they be supported by default?"
## Issue Overview

WP Rig currently doesn't support vendor assets directories: if you add a `vendor` directory in `assets/css/` or `assets/js/`, it will not be under version control nor exported by the build process when running `npm run bundle`.

Is it an enough common scenario to add support in WP Rig or should it be let to the developer?

## Possible Solution

Update `.gitignore` to include the

[2019-08-20 16:27] benoitchantre commented on #163
@elismad You'll need a plugin to have a multilingual website. This issue is about supporting translations in JS files of the theme.

[2019-08-20 16:32] elismad commented on #163
@benoitchantre Thank you for the clarification

[2019-08-21 12:41] Horlaes opened #586 "Extending Walker Class is currently a Night-mare"
## Issue Overview
First off, I promised myself not to ask this very question anywhere, but honestly, this is beyond me (fed-up), I am trying to create a Mega site Navigation and after research upon researching, it seems the only way out is to extend the walker class, and re-engineer it to fit your desired output.

## Describe your environment

Version: 1.37.1 (user setup)
Date: 2019-08-15T16:17:55

[2019-08-22 02:31] ryan258 commented on #565
same issue, following along with Morten's WP Rig course

[2019-08-22 16:27] mor10 commented on #586
This is a @felixarntz question

[2019-08-22 16:31] mor10 commented on #584
Seems like a good idea

[2019-08-22 16:32] mor10 commented on #37
Closing due to inactivity. Feel free to open again.

[2019-08-22 16:32] #37 closed

[2019-08-22 16:35] mor10 commented on #36
Closing in favor of #454

[2019-08-22 16:35] #36 closed

[2019-08-22 16:43] #232 closed

[2019-08-22 16:51] mor10 commented on #279
I've done some thinking and had some conversations about the issue of Grid backwards compat via autoprefixer. My conclusions are as follows:

1. We should ship grid, and _only_ grid, where grid is appropriate (no fallbacks)
2. The autoprefixer fallbacks work, but are an anti-pattern and should be avoided.
3. Possibly provide links to authoritative articles on how to mimic grid layouts using for ex

[2019-08-22 17:00] mor10 commented on #279
Added to documentation https://github.com/wprig/docs/blob/master/documentation/troubleshooting/css-grid.md

closing

[2019-08-22 17:00] #279 closed

[2019-08-22 17:01] mor10 commented on #283
Fixed in `v2.0`. Closing.

[2019-08-22 17:01] #283 closed

[2019-08-22 17:02] #294 closed

[2019-08-22 17:03] mor10 commented on #300
Closing due to inactivity.

[2019-08-22 17:03] #300 closed

[2019-08-22 17:03] mor10 commented on #302
Fixed in `v2.0`. Closing.

[2019-08-22 17:03] #302 closed

[2019-08-22 17:05] mor10 commented on #304
should be fixed in `v2.0`. Closing due to inactivity.

[2019-08-22 17:05] #304 closed

[2019-08-22 17:07] mor10 commented on #308
@felix, you made a [Git Workflows](https://github.com/wprig/docs/blob/master/documentation/git-workflow.md) doc, but this never made it in?

[2019-08-22 17:08] mor10 commented on #308
@ataylorme can you look at the docs repo and see where this fits, or if it needs its own file (and maybe just boot it up if that's the case)?

[2019-08-22 17:09] mor10 commented on #321
better option found. closing.

[2019-08-22 17:09] #321 closed

[2019-08-22 17:09] mor10 commented on #322
Closing due to inactivity.

[2019-08-22 17:09] #322 closed

[2019-08-22 17:10] benoitchantre commented on #313
Closing in favor of #491.

[2019-08-22 17:10] #313 closed

[2019-08-22 17:10] mor10 commented on #328
Should be fixed in `v2.0`. closing due to inactivity.

[2019-08-22 17:10] #328 closed

[2019-08-22 17:12] mor10 commented on #339
Create a new [docs](https://github.com/wprig/docs) document titled something like "Building themes for the Theme Directory" with this information and anything else relevant.

[2019-08-22 17:14] mor10 commented on #343
stupid gutenberg issue. this is outside of scope

[2019-08-22 17:14] #343 closed

[2019-08-22 17:16] mor10 commented on #372
@ataylorme should this go in docs, or is this out of scope?

[2019-08-22 17:17] mor10 commented on #381
wontfix. closing.

[2019-08-22 17:17] #381 closed

[2019-08-22 17:20] mor10 commented on #383
@benoitchantre to check again and report back

[2019-08-22 17:23] mor10 commented on #414
We need to monitor the [core Trac ticket](https://core.trac.wordpress.org/ticket/44427) on this and see what happens. If/when core adopts the new `loading:"lazy"` spec, the modality of lazy-loading in WP changes significantly and we can probably offload the entire lazy solution in favor of the core feature. Hold until then.

[2019-08-22 17:24] mor10 commented on #424
should be fixed in `v2.0`. Closing due to inactivity.

[2019-08-22 17:24] #424 closed

[2019-08-22 17:25] mor10 commented on #434
Answered. closing.

[2019-08-22 17:25] #434 closed

[2019-08-22 17:25] mor10 commented on #439
I vote no. Reopen if you have strong opinions on this.

[2019-08-22 17:25] #439 closed

[2019-08-22 17:27] mor10 commented on #442
Test against #571

[2019-08-22 17:28] #443 closed

[2019-08-22 17:28] #445 closed

[2019-08-22 17:30] mor10 commented on #448
Breaking change. Needs discussion.

[2019-08-22 17:30] #449 closed

[2019-08-22 17:30] #453 closed

[2019-08-22 17:34] mor10 commented on #470
These types of errors are not really errors, but related to dependencies that are not up to date. We keep WP Rig's dependencies up to date, but dependencies of dependencies are out of our control. Closing as out of scope.

[2019-08-22 17:34] #470 closed

[2019-08-22 17:35] #480 closed

[2019-08-22 17:36] mor10 commented on #491
@felixarntz

[2019-08-22 17:36] mor10 commented on #494
fixed in `v2.0`. Closing.

[2019-08-22 17:36] #494 closed

[2019-08-22 17:37] mor10 commented on #500
fixed in `v2.0`. Closing.

[2019-08-22 17:37] #500 closed

[2019-08-22 17:38] mor10 commented on #516
bump @felixarntz

[2019-08-22 17:40] mor10 commented on #519
the [new LinkedIn Learning course is out and available to view](https://www.linkedin.com/learning/wordpress-building-progressive-themes-with-wp-rig-2/). Should answer your questions. Also check out the new [docs](https://github.com/wprig/docs) repo for documentation.

[2019-08-22 17:40] #519 closed

[2019-08-22 17:41] #522 closed

[2019-08-22 17:41] mor10 commented on #530
open/close/what?

[2019-08-22 17:42] mor10 commented on #537
I'm updating all of this next week. Closing.

[2019-08-22 17:42] #537 closed

[2019-08-22 17:44] mor10 commented on #549
This looks like a Gutenberg issue. Have you tested with one of the default themes to see if it works properly there?

[2019-08-22 17:45] mor10 commented on #550
@felixarntz can you help here?

[2019-08-22 17:46] mor10 commented on #559
This is an @ataylorme question.

[2019-08-22 17:47] mor10 commented on #586
Related to #560

[2019-08-22 17:48] mor10 commented on #560
This needs some serious work

[2019-08-22 17:51] mor10 commented on #565
@ataylorme

[2019-08-22 17:52] mor10 commented on #583
@felixarntz

[2019-08-22 17:53] mor10 commented on #585
seems reasonable. can you make a PR?

[2019-08-22 17:56] benoitchantre commented on #585
Yes

[2019-08-22 21:06] ataylorme commented on #530
Leave this open, it still needs to be fixed.

[2019-08-22 21:08] ataylorme commented on #372
@mor10 it could go in docs but things have changed since this was written so it can't go in as-is. I am going to close this issue and create a new issue for creating a doc.

[2019-08-22 21:08] #372 closed

[2019-08-22 21:11] ataylorme commented on #308
@mor10 I think this needs its own file but [as @felixarntz mentioned](https://github.com/wprig/wprig/issues/308#issuecomment-457340296) there needs to be some more information.

Should I ported what we have now then work on additions in the future or wait and create a more comprehensive doc?

[2019-08-23 07:55] Horlaes commented on #586
Wprig is currently the best starter theme I have ever tried, so I resorted to using a plugin to handle the Mega Navigation.

[2019-08-23 19:55] benoitchantre commented on #383
Still reported by the Theme Check plugin (version `20190801.1`).

[2019-08-24 00:27] ataylorme commented on #585
@benoitchantre is this something you have been using? I'd like to see if other community members/WP Rig users think it would be useful as well before adding it.

[2019-08-24 06:26] benoitchantre commented on #585
@ataylorme Yes, I have used that in a project to have a mobile menu working with [mmenu-light](https://mmenujs.com/mmenu-light/). I used their dist files.

[2019-08-24 22:00] ataylorme commented on #565
`Could not find openssl on your system path` gives a hint at the issue. `openssl` is required to be installed. [Binaries can be downloaded here](https://wiki.openssl.org/index.php/Binaries).

I _think_ `openssl` shipped with Mac High Sierra but not older versions which would explain why it works on one Mac and not the other.

@zeroplus1994 can you install `openssl` and see if the generate cert com

[2019-08-24 22:02] ataylorme commented on #559
I think this is the source of the issue. I think the gulp task will need to be updated to replace directory names of the dev theme with the prod theme.

Just thinking out loud we will need to replace it in:
- [ ] CSS files
- [ ] JS files
- [ ] PHP files

Any other places we should do the replacement?

[2019-08-25 00:16] ataylorme commented on #559
@austintude can you test the changes in #588? The modifications [to `gulp/utils.js`](https://github.com/ataylorme/wprig/blob/issue-559/dev-theme-dir-name-not-replaced-on-prod-build/gulp/utils.js#L95:L108) and addition of [`devThemeDirName`](https://github.com/ataylorme/wprig/blob/issue-559/dev-theme-dir-name-not-replaced-on-prod-build/gulp/constants.js#L20) and [`prodThemeDirName`](https://github.

[2019-08-25 01:26] austintude commented on #559
I'll try to get on this tomorrow if possible. is #588 a git branch that I
can clone?

On Sat, Aug 24, 2019 at 7:16 PM Andrew Taylor <notifications@github.com>
wrote:

--

Daniel Bisett
Owner & CEO
Austintatious Design <https://austintatiousdesign.co/>

Connect with me on:

<https://www.facebook.com/austintude>
<https://www.linkedin.com/in/austintude> <https://twitter.com/austintude>
<https://www.y

[2019-08-25 18:22] ataylorme commented on #559
@austintude the git branch is available on my fork at https://github.com/ataylorme/wprig/tree/issue-559/dev-theme-dir-name-not-replaced-on-prod-build

[2019-08-25 19:41] austintude commented on #559
Right.
Thanks. I'll try pulling it tomorrow.

On Sun, Aug 25, 2019, 1:22 PM Andrew Taylor <notifications@github.com>
wrote:

[2019-08-26 21:53] justlevine commented on #560
Im super not familiar with Nav Walkers, but I was able to create a widget class really simply.

Just opened it with `class Component extends \WP_Widget implements Component_Interface`, and added `__construct()` __in adition__ to initialize to call `parent::_construct( 'widget-slug', 'My Widget Title', $widget_ops );

Will something similar not work for a walker?

(PS: completely agree regarding th

[2019-08-26 22:50] justlevine commented on #560
@ataylorme its currently pinned in chrome for easy reference :-P

My PHP knowledge comes (sadly) mainly from Wordpress, so tbh getting comfortable with class structures and autoloading is my biggest hurdle, and where I think example code snippets could help a lot with the barrier to entry.

Figuring out that I could have both `extends \WP_Widget` _and_ `implements Component_Interface` without muck

[2019-08-26 23:02] justlevine commented on #586
@Horlaes , just wondering a few things about your code sample.

1. noticed youre started with `class Mega_Nav_Menu` and are using `initialize()`, but didnt include `implements Component_Interface`. Which if I understand correctly (I might not) means the theme doesnt know what to do with `initialize()`.

2. Similarly, did you try `class Mega_Nav_Menu extends \Walker_Nav_Menu implements Component_In

[2019-08-26 23:29] justlevine commented on #560
Agreed wholeheartedly, and even if it could, it's probably shouldn't.

Which is why instead of an explanation, I think the best way forward would be to provide a few example classes for reference. I don't need an explanation on how `extends` and `implements` work, if there's an example widget class that shows how someone would extend a core WP class IRL (or require a php file that isn't a Componen

[2019-08-26 23:51] stevebarakat opened #589 "How to use post-CSS color functions in wprig?"
## Issue Overview

I would like to use postcss color functions. Anyone know how to do this in wprig?
## Describe your environment

## Steps to Reproduce

1.
2.
3.
4.

## Expected Behavior

## Current Behavior

## Possible Solution

## Screenshots / Video

## Related Issues and/or PRs

[2019-08-27 03:47] austintude commented on #559
I'm afraid to say that it made no difference in the 'bundle' of the folder
into the zip file nor into the exported folder without the original
'wprig-' according to the recommendation in the
theme-folder-naming-convention.

Daniel
[image: Screen Shot 2019-08-26 at 10.47.04 PM.png]

On Sun, Aug 25, 2019 at 1:22 PM Andrew Taylor <notifications@github.com>
wrote:

--

Daniel Bisett
Owner & CEO
Austin

[2019-08-27 07:45] Horlaes commented on #586
1.) I don't need to implement the component interface anymore, as that has been used in the main Nav component and If you carefully read what I posted above, you'll notice I created the Mega Nav file under a parent folder (Nav_Menu in this case, and it has the component loaded already), then inside the main Component (Component.php), I added the call to it.

2.) Widget is a different case, I need

[2019-08-27 08:50] Horlaes commented on #560
@justlevine I agree with you 100%, When I started with wp-rig, I struggled for weeks upon weeks getting it up and running, don't even get me started with the **PHP architecture in Wp Rig**, everything here is isolated, I was able to get it working using trial and error, most times no luck, sometimes, I might be lucky, until I mastered my way around it.

Most people would probably give up after sev

[2019-08-29 17:08] felixarntz commented on #560
Thanks for all this feedback. I agree there's a lot we can do to improve our documentation, and that's one of our primary focuses these days.

I think partly it would be great to gather a solid set of third-party resources that document how some of the practices WP Rig's PHP code uses work in general. This would then provide a stepping stone to following the [PHP Architecture documentation](https:

[2019-08-29 17:17] felixarntz commented on #560
One more specific comment, related to one of your issues @justlevine:

I believe the idea to have a widget that is also a component proves that we need more examples - especially for one key misunderstanding: Every folder in `/inc` should have only one `Component` class, but you can have as many classes (and thus files) in a single folder as you like. The `Component` class is the entry point, and

[2019-08-31 13:47] bbkysf commented on #565
using @ataylorme 's hint I've found a solution for Windows which I'm going to explain now. Please note that this is tested and works fine on Windows 10 64-bit Home Edition.

1. Download the latest version of Win32 or Win64 OpenSSL (according to your operating system)Win32/Win64 OpenSSL Installer for Windows](https://slproweb.com/products/Win32OpenSSL.html)

1. Make sure to download normal version

[2019-08-31 14:27] bbkysf commented on #565
using @ataylorme 's hint I've found a solution for Windows which I'm going to explain now. Please note that this is tested and works fine on Windows 10 64-bit Home Edition.

**1.** Download the latest version of Win32 or Win64 OpenSSL (according to your operating system)
[Win32/Win64 OpenSSL Installer for Windows](https://slproweb.com/products/Win32OpenSSL.html)

![image](https://user-images.githu

[2019-09-01 01:34] ataylorme commented on #565
@bbkysf I’m glad you got it working? Do you mind posting your detailed steps for Windows to the docs repo? It probably belongs in https://github.com/wprig/docs/blob/master/documentation/BrowserSync.md#enabling-https

[2019-09-01 06:34] bbkysf commented on #565
done!

[2019-09-02 08:54] wphjaelpen commented on #549
Have testet the WP default Twenty Nineteen theme, and it is not working there too.

[2019-09-03 08:59] #573 closed

[2019-09-03 09:00] #578 closed

[2019-09-03 09:37] benoitchantre commented on #567
Closed by #569.

[2019-09-03 09:37] #567 closed

[2019-09-03 20:44] ataylorme commented on #559
@austintude your last screenshot didn't come through.

[2019-09-04 13:54] justlevine opened #590 "dev script runs out of memory and crashes (exit status 134)"
## Issue Overview
Usually after 15 minutes of having `npm run dev` operating in the background, I get a `FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory`, along with an `npm ERR! Exit status 134`, and the script exits and I need to restart it.

I know very little about debugging gulp/npm, so Im not sure what information I should be sharing t

[2019-09-05 12:15] benoitchantre opened #591 "Prod theme may contain files removed from dev theme"
## Issue Overview

When there's an existing prod theme before we we run `npm run bundle`, the prod theme may contain files that have been removed from the dev theme.

## Steps to Reproduce

1. Run `npm run bundle`
1. Remove any file from the dev theme
1. Run `npm run bundle` again
1. See that the deleted file remains in the prod theme

## Expected Behavior

Files removed from the dev theme should

[2019-09-07 14:13] bbkysf opened #592 "What is the efficient workflow using WP Rig and Local by flywheel on Windows"
For a long time our team were used to use wamp and installing composer npm etc... on their Windows machines.
Now we are trying to change the workflow and start using Local by flywheel but since it's running websites on its own virtual machine I was wondering what is the best workflow and what exactly you guys @mor10 @ataylorme and other folks use for developing using Local by flywheel.
I've found

[2019-09-07 15:19] justlevine opened #593 "Dist bundle is not the same as dev theme. `npm run bundle` should blacklist files instead of whitelisting."
## Issue Overview
Probably the biggest concern when using a build process, is ensuring that the dist version of your theme works the same as the dev version youve been coding/testing.

Currently, however, WP-Rig's policy of whitelisting files to include in the bundle, instead of blacklisting just what should be excluded, means that any non-PHP files (even .js/.css that exists outside of the `asset

[2019-09-07 15:28] justlevine commented on #592
Not exactly what you're looking for (docker is definitely _not_ my forte), but here's a script from someone who was trying to do the same thing with WP-CLI: [https://github.com/salcode/ssh-into-local-by-flywheel](https://github.com/salcode/ssh-into-local-by-flywheel)

[2019-09-07 15:36] justlevine commented on #559
@austintude hows is the image path being generated in your code? Can you use `echo get_template_directory_uri() . '/assets/images/filename.php';`?

[2019-09-07 18:02] justlevine opened #594 "Generated zip file wrecks file/folder permissions!"
## Issue Overview

Not sure what, why, or how to even debug this, but I just tried extracting that generated zip file on my server (siteground), and all the non-top-level files and folders had their permissions wrecked!

If i manually zip the dist theme, then extraction works fine.

## Describe your environment
Windows 10. WP-Rig 2.0.1, node 10.15.1, npm 6.4.1 to generate the bundled.zip, extracte

[2019-09-07 18:10] austintude commented on #559
So. When i use the echo $image [url] it works just fine. What doesn't  work
is when I pull directly (static) from the path folder <img
src="../wp-content/themes/wprig-themenamehere/assets/images/image.jpg">

I was under the impression that the wprig-themenamehere would be swapped
out for the themenamehere when the wprig- was removed...during the build
process ??? But this is not happening.

On Sat

[2019-09-07 18:11] austintude commented on #559
I think I misread this. Ok. I'll try that on the next commit.
Thanks

On Sat, Sep 7, 2019, 10:36 AM justlevine <notifications@github.com> wrote:

[2019-09-08 15:49] ataylorme commented on #559
out for the themenamehere when the wprig- was removed

I believe #588 takes care of this. I added tests to the gulp task to verify and they are passing.

is when I pull directly (static) from the path folder <img
src="../wp-content/themes/wprig-themenamehere/assets/images/image.jpg">

However, that doesn't mean you _should_ be hard-coding the theme directory path. As @justlevine said, WordPress ha

[2019-09-08 15:56] ataylorme commented on #594
@justlevine I'm not quite sure how to debug this either. We are using [`gulp-zip`](https://www.npmjs.com/package/gulp-zip) for creating the `.zip` archive.

You can disable the `.zip` creating in the configuration and create it manually as a workaround.

There is a [similar issue on that repo](https://github.com/sindresorhus/gulp-zip/issues/112) that suggests using `gulp-chmod` to change the permi

[2019-09-08 16:01] ataylorme commented on #593
This is intentional and the `filesToCopy` configuration option is there to copy additional items, such as fonts, that you would like to be included in the production theme.

I am 👎 on reversing this policy. The production theme should be as minimal as possible. The whitelist approach makes it so that developers must think about and choose what is included.

If we reverse the approach, a blacklist

[2019-09-08 16:16] ataylorme commented on #591
@benoitchantre I will have to look into this more [but it should already be happening](https://github.com/wprig/wprig/blob/master/gulp/utils.js#L110:L113)

[2019-09-08 16:40] justlevine commented on #593
Appreciate the response, and I'm hoping to change your mind :)

I agree that the production theme should be as minimal as possible, just not at the cost of increasing the odds that the production theme doesn't function the same as the dev one.

And I think it's a pretty good rule that anything a user is manually adding to his theme is because they need that file. Which means it's both less likely

[2019-09-08 16:44] ataylorme commented on #591
@benoitchantre I tested this by calling `npm run bundle` to create the production theme. Next, I modified `gulp/utils.js` with:

[code]

in order to kill the bundle task after the production theme is deleted. As expected, the production theme was removed from my file system.

[2019-09-08 16:46] justlevine commented on #594
Thanks! For now I'm manually zipping and uploading :)

I'm going to take a look at that GitHub issue and see if it resolves my problems, and report back. I will say that I've used gulp-zip in other projects, and never ran into this before...

Agree that file permissions shouldn't be dictated, and would humbly suggest holding off on that unless both a) the problem isn't straightforward to resolve a

[2019-09-08 16:54] ataylorme commented on #593
Feel free to open another issue for that and we can discuss there. I don't want to have two conversations going in one thread

If we switch to a blacklist I expect a similarly large number of rules. All source assets (CSS, JS, images), `optional`, gulp related files, `config`, `CHANGELOG`, `CONTRIBUTING`, `node_modules`, etc.

I think folks may inadvertently add files, especially hidden directorie

[2019-09-08 17:08] justlevine commented on #593
The difference is that a default blacklist of 17 (set and forget) is much different than a list that needs to be actively managed and updated by users every time a user adds a file. Its the same argument for autoloading PHP.

[2019-09-08 17:44] justlevine opened #595 "Suggestion: Process CSS/JS in dev task the same as we do in npm run bundle."
## Issue Overview
Continuing my conversation from #593, I propose that `npm run dev` be changed so iby default processes/minifies .css and .js files the same way as it does when`npm run bundle`.

The reasoning comes down to ensuring that the dev and production themes function the same, and both versions of the theme don't need to undergo separate testing.

Since minifying is inherently destructive

[2019-09-08 18:07] justlevine commented on #594
It seems to be a known issue with the zip folders explicitly created by gulp on windows machines (verses inherently).

Adding `gulp-chmod` worked (only the folder permissions needed to be changed), but so did adding `{nodir: true}` to all the gulp.src calls ( suggested [here](https://github.com/sindresorhus/gulp-zip/issues/64#issuecomment-191659258) ).

Not sure which approach is better.

[2019-09-08 18:57] austintude commented on #559
Takes palm of hand, smacks forehead.
Of course!

On Sun, Sep 8, 2019, 10:49 AM Andrew Taylor <notifications@github.com>
wrote:

[2019-09-09 18:37] benoitchantre opened #596 "config.local.json is modified by some tests"
## Issue Overview

When we run `npm run test:gulp:prod:setup`, `config.local.json` is create or modified. As `config.local.json` has precedence over other config files, `npm run bundle` will produce prod files from unexpected settings.

## Steps to Reproduce

1. Create a `config.local.json` with custom values in `config/`
2. Run `npm run test:gulp:prod:setup`
3. See that `config.local.json` has be

[2019-09-09 18:37] benoitchantre commented on #591
@ataylorme Sorry, I was looking at an incorrect directory because I didn't noticed that my `config.local.json` has been modified. When we run `npm run test:gulp:prod:setup`, `config.local.json` gets modified.

Closed in favor of a #596

[2019-09-09 18:37] #591 closed

[2019-09-09 19:09] ataylorme commented on #596
@benoitchantre the tests are primarily meant to be run in the CI service on pull requests.

In that environment, a `config.local.json` must be scaffolded to set the theme name and slug. Without these, the `bundle` command fails.

Scaffolding `config.local.json` was the best way I found to do that as it is not committed to the repo.

can you provide more background on _why_ you are running `npm run

[2019-09-09 19:21] benoitchantre commented on #593
I think the whitelist approach is good, because that way the prod theme doesn’t include unwanted files by default. A simple rule to remember is _Files that are not under version control will not be part of the prod theme. If you update `.gitignore` also update `filesToCopy` in the config file_.

That said, do we want to add support for common use cases like local fonts, ACF files, …?
If we add sup

[2019-09-09 19:25] justlevine commented on #593
That's not current behavior.

[2019-09-09 20:15] benoitchantre commented on #596
Thank you @ataylorme for the details.

I ran a test command while working on #587. I don't think i ran `npm run test:gulp:prod:setup` directly but another command that called it, probably `npm run test:gulp:prod`.

Feel free to close this issue if you think this is an edge case that should not happen during the development of a theme.

[2019-09-09 20:24] ataylorme commented on #596
Yes, `npm run test:gulp:prod` runs set up, the test suite, then teardown

The gulp tests should only be run when building WP Rig itself, not when developing a theme based on WP Rig. You can run it locally but should probably do so from a fork of WP Rig itself, on a branch just for the thing you are working on as outlined in [step 2 - 4 of the workflow section in `CONTRIBUTING`](https://github.com/

[2019-09-09 20:31] benoitchantre commented on #593
@justlevine I was referring to new files like your examples. Sorry if this was not clear.

Said differently: when you add some files that are not yet whitelisted in `.gitignore`, that's a sign you might need to update `filesToCopy`.

[2019-09-10 15:32] seanrasmussen commented on #424
This is still not fixed for me in Windows. I'm using Ubuntu for wprig projects, but I'd rather just stay in Windows...

[2019-09-10 19:59] colinzervas opened #597 "Composer Won't Install"
## Issue Overview
I followed the videos on Lynda.com (linkedin.com) and cannot get composer to install via cmd line through VS Code. When I run composer -v in the cmd line I get the version (1.9.0) ect. I have a feeling it has something to do where my composer.phar is located. I used "sudo mv composer.phar /usr/local/bin/composer" to move it to what I though was the correct location. I am very new

[2019-09-11 19:55] drozumek opened #598 "How to enqueue JavaScript in a simple way."
## Issue Overview

Is really enqueue of JS files that complicated as shown in that tutorial
https://www.linkedin.com/learning/wordpress-building-progressive-themes-with-wp-rig-2/enqueue-javascript-files
?
I've been using WP Rig for building websites for a long time, but now when I switch to version 2.0 I have the impression that building process is more complicated in some ways.

How can I enqueue

[2019-09-11 22:56] justlevine commented on #593
Thanks for clarifying - I actually forgot about this (and that I stripped it to make it permissive).

And just to point out, this means that we need to maintain a list of files/folders we want to add _in two places_, when 99-out-of-100 times, the reason a developer is adding a file to their theme is because they need it there.

The downsides of a file being `.gitignore`d are definitely less than t

[2019-09-11 23:10] justlevine opened #599 "`npm run dev` doesnt get rid of old `dist` files"
## Issue Overview
Not quite #591 , but I did notice that if you run `npm run dev`, change the filename of one of your assets, and then do `npm run dev` again, the old asset file will still be in the dist location.

The issue doesnt _seem_ like a big deal, but its another inconsistency between someone's dev and prod themes: if I rename an asset, but forget to change it in my `.php`, the dev them wi

[2019-09-11 23:19] justlevine commented on #598
I cant find the nonpaywalled version of that video, but `wp_enqueue_script` still works no matter where you place it.

Best practice would be to either create something like `inc/Scripts/Component.php`, or if its related to a specific feature in your theme, then include it there (for an example, see `inc/Lazyload/Component.php` line 135).

But you could also just create a `public function action_e

[2019-09-13 01:27] venuscrush opened #600 "Loop & Custom Queries not working in front-page.php"
## Issue Overview
Trying to customize the Wordpress loop in my front-page.php file. It seems as though this is not possible as it has worked in the previous wprig as well as underscores starter theme.

## Describe your environment
I'm using the current wprig setup + VSC, as instructed by Morten (remarkable instructor).

## Steps to Reproduce

		<?php
		$args     = array(
			'post_type'      => 'po

[2019-09-13 11:28] benoitchantre commented on #521
Close by #523.

[2019-09-13 11:28] #521 closed

[2019-09-13 14:49] venuscrush opened #601 "Enqueue Custom JavaScript Not Working"
## Issue Overview
I tried enqueuing a custom js file as per @justlevine suggestion:

However, it's not loading on my site. I'm able to see this by viewing the source in my browser. I've also tried to start and restart npm run dev and that didn't work either.

## Describe your environment
Latest WPRIG setup using VSC.

## Steps to Reproduce

[code]

## Expected Behavior
I would like the script to l

[2019-09-13 15:59] justlevine commented on #601
Assuming this is the entire file, you're missing the `get_slug` function at the top of your class that lets wp-rig know to use the file.

[code]

Add that, and then make sure that `inc/Theme.php`' includes your your new component:
[code]

(PS: totally unrelated, but you might want to consider using `wp_register_script()` for `flickity`, and then calling `wp_enqueue_script` before your carousel, in

[2019-09-13 19:33] grahammtbr commented on #600
Hey, something I can answer! I just ran into this a few days ago, and figured it out the hard way. Because WP_Query is a class, you need to include "use WP_Query;" in your template. So now your front-page.php should look something like this:
[code]

[2019-09-13 20:17] justlevine commented on #600
An alternative to what @grahammtbr suggested:
Instead of (possibly a bunch of) `use` statements, you can throw a `\` before the class you're instantiating. `$var = new \{ClassName( );`.

e.g. `$my_query = new \WP_Query($args);`
or `new \WC_Order($args`)`

**Tl;Dr** anytime youre in a namespaced file and need to use `new {ClassName()}` of something that isnt part of your theme, you either should ad

[2019-09-13 20:27] justlevine opened #602 "Namespace not stringReplaced in filename.html.php. Other uses of wp-rig in the file are fine."
---mistaken issue--- feel free to delete.

[2019-09-13 20:28] grahammtbr commented on #600
And I learnt something new!

[2019-09-13 20:41] grahammtbr commented on #592
I'm using Local by Flywheel, and I installed everything directly into Windows. SSHing into the VM didn't work for me, as Local actually keeps all your site files under the local user in Windows. I think I found the instructions on Local's website, but can't quite remember now. Basically I installed Node.js with the Windows installer, and then PHP for Windows from here, https://windows.php.net/down

[2019-09-13 20:42] venuscrush commented on #601
Thank you so much! This works.

Furthermore, I actually tried doing what you suggested in your "unrelated" notes. While I do see the `flickity.js` is loaded on my site, the actual javascript file is not loading. This is what I placed in the `flickity.js` file:

`/**
 * External dependencies
 */
import 'Flickity';
import 'flickity-imagesloaded';
import 'flickity-fullscreen';
`
I've also installed f

[2019-09-13 20:44] venuscrush commented on #600
Excellent—works like a charm! Thank you both for all your support. Much appreciated.

[2019-09-13 20:51] #602 closed

[2019-09-13 22:02] justlevine commented on #601
I dont want to go too off-topic here, but here's what should happen if youre using flickity and npm:

1. Install flickity itself `npm install --save flickity`.
2. Install any flickity extensions you need. From your example thats `npm install --save flickity-imagesloaded` and `npm install --save flickity-fullscreen`. You can check their docs for the other packages (or it might be quicker to just br

[2019-09-13 22:06] justlevine commented on #600
If its solved, remember to close the issue :-)

[2019-09-14 13:10] #600 closed

[2019-09-14 13:19] venuscrush commented on #601
Thank you for the detailed response. Unfortunately when I use the `import `snippet in` flickity.js`, Iit's greayed out and I'm getting an error that states the following:

![Screen Shot 2019-09-14 at 9 13 41 AM](https://user-images.githubusercontent.com/38008836/64908563-1081e280-d6d0-11e9-9ea1-29030d5b4efb.png)

As a result, `flickity` and all of its files aren't loading.

I tried fixing the erro

[2019-09-14 13:20] justlevine commented on #599
Seems I accidentally deleted the `cleanCSS` and `cleanJS` tasks from `firstRun` in the gulpfile.

It's working fine on a clean install. Thanks for telling me what to look for!

[2019-09-14 13:20] #599 closed

[2019-09-14 13:42] justlevine commented on #601
If the file is failing to compile, and not just passing an error to the log, then thats an issue with your linter.

Add the docblock (which you did in your second image) to resolve that error, and you can resolve the second error by adding a no-unused-vars comment. See the screenshot for how to use vscode to autofix this (and other issues like this) in the future.

![Annotation 2019-09-14 162707](

[2019-09-14 14:12] venuscrush commented on #601
- My full path for` flickity.pkgd.js` in wprig is `/wprig/node_modules/flickity/dist/flickity.pkgd.js`

Your explanation makes sense, but it's still not loading on my website (I still see my flikity.js file in `view source`).

For the screenshot below, I used quick fix. Is there a setting I should be adding to the 'Scripts' component?

P.S. Everything works when I just copy/paste the flickity.pkgd

[2019-09-14 14:16] justlevine commented on #601
But what's the path of your custom file?

[2019-09-14 14:23] venuscrush commented on #601
My path is
- /wprig/assets/js/src/flickity.js

[2019-09-14 14:35] justlevine commented on #601
In that case: replace that import with this `import Flickity from '../../../node_modules/flickity/dist/flickity.pkgd';`

(you need 3 `../` because youre moving up 3 levels to get to `wprig` (where node-modules), and you leave off .js).

If you're using the the pkgd file instead of from `flickity`, then you dont need the other import statements for fullscreen etc.

Regardless of which, your `wp_reg

[2019-09-15 13:13] venuscrush commented on #601
I've done the above and it's finally allowing me to go to the source file for `flickity.pkgd` (when cmd+ click the file path). Now, I _know_ that everything is linked correctly, however, the carousel functionality is still not loading on the website.

Again, when I just copy/paste the raw code in `flickity.js` it works so there must be something going on with the importing unless it's something el

[2019-09-15 15:59] justlevine commented on #601
Are you getting any errors in your `console.log`?
What happens if you type into the chrome dev console `typeof Flickity` (it should say function)?
How are you initializing flickity - via your html/PHP or using `new Flickity()` in is?

Sadly at this point I don't think I can help without having actual access to your code (if you want to share a link to the GitHub repo, by all means). You might want

[2019-09-15 17:21] venuscrush commented on #601
Good call—it's not loading in the browser & certainly, feel free to inspect my repo: https://github.com/venuscrush/wprig-2/invitations
![Screen Shot 2019-09-15 at 12 05 47 PM](https://user-images.githubusercontent.com/38008836/64925213-2fa96e80-d7bb-11e9-8fad-0c6ac975c42d.png)

I've also been having issues loading fontawesome webfonts, if you have time of course, it would be great if you can look

[2019-09-15 21:18] justlevine commented on #601
I'm an idiot.

I completely forgot that wp-rig doesnt include a bundler by default.

`require()` (which is what `import` transpiles into) is not supported by browsers by default, so you need a bundler such as webpack/requires/roll-up in your build process.

I'm happy to share my scripts.js file which replaces the default wp-rig setup with webpack, but if all this sounds like gibberish to you you'r

[2019-09-16 00:16] venuscrush commented on #601
Aha! That explains everything. I think I'll just stick to copy/paste for now but I'll definitely get into using webpack soon.

Before I close this issue, do you mind letting me know how I can call in the script for `flikity.js` to only load on front-page.php? I quoted you below, but you mentioned using wp_register_script()—based on my files, what would the exact code look like? I have an idea, but

[2019-09-16 01:33] justlevine commented on #601
(Based on your repo) Just throw `wp_enqueue_script('wp-rig-flickity-script');` at the top of `front-page.php` below the namespace declaration.

Although ps, remember to change your Scripts/Component() to `wp_register_script`, or itl still be enqueued on all pages.

If, in the future, youre using flickity in multiple places on your theme (e.g. a widget or shortcode, or who knows), you can throw it